<div class="row _featured_providers">
  <%= render partial: 'providers/featured_provider', collection: @providers.limit(3) %>
  <%= link_to "Browse all providers", providers_path, class: 'btn btn-huge btn-default col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4' %>
</div>