<div class="col-xs-1"></div>
<% @providers.each do |provider| %>

  <div class="col-xs-2">

    <div class="provider-logo">
      <%= image_tag(provider.logo.url) %> 

      <h3><%= provider.name %></h3>
      <% provider.courses.upcoming.limit(3).each do |course| %> 
        <p><%= course.name %></p>
      <% end %>
      <em>
        <%= "#{provider.courses.upcoming.count-3} more..." if provider.courses.upcoming.count > 3 %>
      </em> 
    </div>

  </div>

<% end %>

<div class="col-xs-1"></div>