<nav class="page-menu">
  <ul>
    <% if policy(@provider).read? %>
      <li>
        <%= link_to 'Admins', providers_admins_path(@provider.url_name) %>
      </li>
    <% end %>
    <li>
      <%= link_to 'Teachers', providers_teachers_path(@provider.url_name) %>
    </li>
    <li>
      <%= link_to 'Followers', provider_followers_path(@provider.url_name) %>
    </li>
  </ul>
</nav>