<div class="_provider _provider_small">
  
  <%=  link_to provider_path(provider), title: provider.name do %>
    
    <div class="avatar32" style="background-color: <%= provider.header_color %>">
     <div class="img" style="background-image: url(<%= provider.logo %>)"></div>
    </div>


    <div class="details">
      <div class="small">Provided by</div>
      <div class="provider_name"><%= limit_text(provider.name, 40) %></div>
    </div>
  <% end %>
</div>