<div class="row">
  <div class="_provider col-xs-12" style="background-color: <%= provider.header_color %>">
    <%=  link_to provider_path(provider.url_name), class: 'avatar' do %>
      <div class="img" style="background-image: url(<%= provider.logo %>)"></div>
    <% end %>
    <div>
      <h3>
        <%= link_to provider.name, provider_path(provider.url_name), class: 'provider_name' %>
      </h3>
    </div>
  </div>
</div>
