<div class="row">
  <div class="col-sm-2 hidden-xs">
  </div>
  <div class="new_form_wrapper col-xs-12 col-sm-8">
    <%= bootstrap_form_for(Provider.new, wrapper: :simple_bootstrap3, html: { method: :post, class: 'form-horizontal', role: 'form', enctype: "multipart/form-data" }) do |f| %>
      <br />
      
      <p class="small light center">
        A provider is an organisation that provides classes.
        <br />
        It can be a group of people, a company, or just a single person like yourself.
      </p>
      <br />
      
      <%= f.input :name, label: "Give your new provider a name", input_html: { :'data-error-message' => 'You must give a name' }, wrapper: :horizontal %>
      <br />
      <div class="col-sm-4 col-xs-2"></div>
      <div class="col-sm-4 col-xs-8">
        <input type="submit" value="Create" class="btn btn-primary col-xs-12" />
      </div>
      <div class="col-sm-4 col-xs-2"></div>
    <% end %>
  </div>
  <div class="col-sm-2 hidden-xs">
  </div>
</div>