@import "../_vars";

.application-teach {
  color: #fff;
  .teach_header {
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: 768px){
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
  .container-fluid {
    padding-bottom: 0 !important;
  }

  h1 {
    margin-bottom: 120px;
    margin-top: 100px;
    color: #fff;
    font-weight: 300 !important;
    font-size: 48px;
    letter-spacing: 4px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
  }

  .providers {
    h2 {
      font-size: 24px;
      font-weight: 600px;
    }
    h3 {
      font-size: 18px;
      text-align: center;
      height: 20px;
      margin-bottom: 0px;
    }
    .teacher-hero, .community-hero, .business-hero, .library-hero, .ngo-hero {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      width:100%;
      height: 238px;
    }

    .teacher-hero { background-image: image-url("partners/teacher.png"); }
    .community-hero { background-image: image-url("partners/community-garden.png"); }
    .business-hero { background-image: image-url("partners/business.png"); }
    .library-hero { background-image: image-url("partners/library.png"); }
    .ngo-hero { background-image: image-url("partners/ngo.png"); }
  }

  .process {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5%;
    &-step {
      background-color: #E1E1E1;
      height: 140px;
      @media (min-width: 992px) {
        margin-right: 1%;
      }
      @media (max-width: 991px) {
        &:first-child {
          margin-bottom: 12px;
        }
      }
      :before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
      }
      .centered {
        display: inline-block;
        vertical-align: middle;
        min-width: 120px;
      }
      bold {
        font-size: 18px;
        text-transform: uppercase;
        color: #337ab7;
      }

      &-hero {
        margin: 0 0 10% 0;
        padding: 0;
        text-align: center;
        strong {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }

  #fire-banner {
    background-image: image_url('partners/say-hello-hero.jpg');
    background-position: top center;
    background-size: cover;
    padding: 30% 0;
    margin: 0 -15px;

    .fire-header {
      color: #D6D0B8;
      font-size: 2.4em;
      padding: 0 5%;
      &.left {
        float: left;
        margin: -25% 0;
      }
      &.right {
        float: right;
        margin: 23% 0;
      }
    }
  }

  #features {
    opacity: 0.89;
    font-size: 18px;
    color: #000000;
    letter-spacing: 1.5px;

    .features-events {
      padding: 5% 0;
    }
    h3 {
      margin: 0 0 10px;
    }
    .iconify {
      width: 65px;
      margin-right: 10px;
    }
    .media-left {
      @media screen and (max-width: 400px) {
        display: block;
        text-align: center;
        padding:0 0 1em 0;
        img {
          width: 100px;
        }
      }
    }
    .grid {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-bottom: 2em;
    }
    .card {
      flex: 1;
      flex-grow: 4;
      padding-left: 1rem;
      padding-right: 1rem;
      margin: 1em;
      position: relative;
      float: left;
      width: 100%;
      height: 100%;
      text-align: center;
      overflow: hidden;
    }

    .feature-card {
      border-radius:  25px;
      background-color: rgba(0,0,0,0.4);
      color: #fff;
      transition: all 100ms ease-out;
      border: solid rgba(255,255,255,0.6) 1px;

      &:hover {
        background-color: rgba(80,80,80,0.4);
        transform: scale(1.05);
        .circle {
          transform: scale(0.95);
          box-shadow: 0 0 8px rgba(0,0,0,0.2);

        }
      }
      .fancy-header {
        h3 {
        background-color: inherit;
        margin-bottom: 1em;
        }
      }
    }

    .card-front,
    .card-back {
      position: absolute;
      top: 10;
      left: 10;
      width: 100%;
      height: 100%;
    }

    .card-front,
    .card-back {
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      -webkit-transition: -webkit-transform 0.5s;
              transition: transform 0.5s;
    }

    .card-front {
      background-color: #4a90e2;
    }

    .card-back {
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }

    .card.hover-flip:hover .card-front {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }

    .card.hover-flip:hover .card-back {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);

    }

    ul {
      list-style: none;
      text-align: left;
      margin-top: 5%;

      li {
        padding: 5px 0;
      }
    }

    .media-body {
      @media screen and (max-width: 400px) {
        h3 { text-align: center; }
      }
      @media screen and (min-width: 720px) {
        padding-left: 24px;
      }
    }

    .media {
      margin-bottom: 2em;
      margin-top: 2em;
    }
  }

  .row.pricing-contact {
    background-size: cover;
    background-position: right bottom;
    background-image: image_url('teach/stars.jpg');
  }

  .teach-contact-form-footer {
    text-align: left;
    padding: 24px 6px;
  }

  .pricing-container {
    margin-top: -30px;
  }

  .bottom-line {
    padding-top: 200px;
    padding-bottom: 32px;

  }

  .icons {
    .abl, .inspired {
      background-size: cover;
      background-position: center;

      color: #fff;
      opacity: 0.89;
      font-size: 18px;
      padding-top: 240px;
      height: 450px;
      background-position: right bottom;
      background-image: image_url('learn/mic.jpg');
      @media screen and (max-width: 400px) {
        text-align: right;
      }

    }

    .inspired {
      background-position: top center;
      background-image: image_url('partners/say-hello-hero.jpg');
      * {  float: right; clear: both; width: 50%;  }
    }


  }

  .shaded_bg {
    background-color: rgba(0,0,0,0.6);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    opacity: 0.89;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    //
    // &.icons {
    //   img {
    //     display: block;
    //     float: left;
    //     height: 52px;
    //
    //     margin-right: 15px;
    //   }
    // }

    &.dark {

      .contact-container {
        margin-top: -30px;
        margin-bottom: -30px;
        background-color: rgba(0,0,0,0.95);
        webkit-transition: all 100ms ease-out;
        transition: all 100ms ease-out;

        .fancy-header {
          h4 {
            background-color: transparent !important;
            position: inherit;
            padding: 0 0 15px 0;
          }

          h5 {
            position: relative;
          }
        }

        .control-label {
          padding-right: 0;
        }
        label {
          font-weight: 300px;
          font-size: 14px;
        }

        textarea {
          height: 120px;
        }

        .submit_button {
          padding: 0 50px;
        }
      }
    }
  }

  .plan {
    border-radius:  25px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    transition: all 100ms ease-out;
    border: solid rgba(255,255,255,0.6) 1px;
    margin-top: 2.5em;
    // &:hover {
    //   background-color: rgba(80,80,80,0.4);
    //   transform: scale(1.05);
    //   .circle {
    //     transform: scale(0.95);
    //     box-shadow: 0 0 8px rgba(0,0,0,0.2);

    //   }
    // }


    .circle {
      height: 160px;
      width: 160px;
      display: inline-block;
      text-align: center;
      line-height: 115px;
      padding-top: 17px;
      font-size: 100px;
      font-weight: 100;
      background: rgba(0,0,0,0.7);
      color: #fff;
      border: solid #fff 2px;
      border-radius: 80px;

      margin: 18px 10px;

      transition: all 100ms ease-out;

      small {
        bottom: 0;
        width: 100%;
        left: 0;
      }

      @media screen and (max-width: 400px) {
        height: 160px;
        width: 160px;
        font-size: 80px;
      }

      sub {
        display: block;
        font-size: 22px;
      }

    }

  }

}
