<% @page_subtitle = 'Admins of' %>
<div class="people">
  <%= render 'people_nav' %>
  <div class="row">
    <div class="col-xs-8">
      <h2 class="flush">
        Admins
      </h2>
    </div>
    <div class="col-xs-4 text-right">
       <% if policy(@channel).admin? %>
          <%= link_to "Add Admin", new_channel_admin_path(@channel.url_name), { class: 'btn btn-warning'} %>
        <% end %>
    </div>
  </div>
  <br />
  <%= render @admins %>
</div>