.container
  .masthead
    masthead
  .contents.row
    .col-md-2
      subscribe
    .col-md-6
      body
    .col-md-4
      = render partial: '/lessons/weeks_calendar_view', locals: {week_lessons: @week_lessons}

