<div class="row">
  <div class="col-xs-10">
    <p class="center">
      <%= to_html @channel.description %>
    </p>
  </div>
  <% if current_user.authenticated? %>
    <div class="col-xs-2 text-right">
      <% subscription = current_user.subscriptions.where(channel_id: @channel.id) %>
      <% unless subscription.present? %>
        <%= bootstrap_form_for(Subscription.new, url: channel_subscriptions_path(@channel.id), html: { method: :post }) do |f| %>
          <input value="Follow" type="submit" class="btn btn-success" /> 
        <% end %>
      <% else %>
        <%= bootstrap_form_for(subscription[0], url: channel_subscription_path(@channel.id, subscription[0].id), html: { method: :delete }) do |f| %>
          <input value="Unfollow" type="submit" class="btn btn-warning" /> 
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render 'paginate_courses' %>