<div class="people">
  <%= render 'people_nav' %>
  <h1>
    Teachers
  </h1>
  <div class="row headings">
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-sm-4 hidden-xs">
      Taught Classes
    </div>
    <div class="col-sm-4 hidden-xs">
      <% if policy(@channel).admin? %>
        Permissions
      <% end %>
    </div>
  </div>
  <%= render @teachers %>
</div>