<h4><%= @channel_contact.subject %></h4>
<% if @channel_contact.chalkler.present? %>
  <p>
    From: <%= link_to @channel_contact.chalkler.name, chalkler_url(@channel_contact.chalkler) %>
  </p>
  <p>
    Email: <% @channel_contact.from %>
  </p>
<% else %>
  <p>
    From: User was not signed in when form was sent
  </p>
  <p>
    Email: <% @channel_contact.from %>
  </p>
<% end %>
<p>
  Message: <%= @channel_contact.message %>
</p>