=semantic_form_for [:admin, @chalkler] do |f|
  =f.inputs :details do
    =f.input :name
    -if Channel.accessible_by(current_ability).length > 1
      =f.input :channels, :as => :check_boxes, :collection => Channel.accessible_by(current_ability)
    =f.input :meetup_id
    =f.input :email
    =f.input :gst
    =f.input :bio
  =f.actions
