$lesson-medium-height: 150px;
$lesson-medium-width: 500px;
$lesson-medium_time-width: 80px;
$top-bottom-margin: 10px;
$image-width: $lesson-medium-height;
$lines: 3;

a.lesson_medium {
  text-align: left;
  display: block;
  height: $lesson-medium-height;
  overflow: hidden;
  padding: 0;
  margin-bottom: 10px;
  text-decoration: none !important;
  min-width: $lesson-medium-width;

  &:hover {
    text-decoration: none !important;
  }

  > span {
    height: $lesson-medium-height;
    display: block;
  }

  .datetime {
    width: $lesson-medium_time-width;
    float: left;
    color: white;
    font-size: 18px;
    line-height: 20px;

    .parts {
      padding-top: $top-bottom-margin;
      padding-left: $top-bottom-margin;

      span {
        display: block;
        line-height: 100%;
      }

      .time {
        height: 85px;
        .number {
          font-size: 26px;
          line-height: 100%;
        }

        .am_pm {
          font-size: 18px;
          text-transform: uppercase;
        }
      }

      .date {
        .weekday {
          margin-bottom: 5px;
        }
        .monthday {

        }
      }
    }

    &.active {
      opacity: 0.5;
    }

  }

  .image_container {
    width: $image-width;
    float: left;
    display: block;
    background-color: #CCCCCC;

    img.lesson_image {
      width: $image-width;
      height: $image-width;
    }

    img.category_image {
      width: $image-width;
      height: $image-width;
    }
  }

  .details {
    display: block;
    margin-left: ($lesson-medium_time-width + $image-width);

    .inner {
      padding: 10px;
    }

    .title_and_description {
      height: 105px;
      margin-bottom: 5px;
      overflow: hidden;
    }

    .lesson_title {
      font-size: 17px;
      line-height: 20px;
      max-height: 40px;
      min-height: 20px;
      margin-bottom: 5px;
      overflow: hidden;
    }

    .description {
      font-size: 14px;
      line-height: 20px;
      max-height: 80px;
      color: #DDDDDD;
      overflow: hidden;
    }

    .footer {
      font-size: 14px;
      line-height: 100%;
      height: 14px;
      overflow: hidden;

      div {
        display: inline;
      }

      i {
        margin-right: 4px;
      }

      .part {
        border-width: 0 1px 0 0;
        padding-right: 7px;
        margin-right: 10px;
        border-style: solid;

        &:last-child {
          border: 0;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }

  img.category_image {
    display: none;
  }

  &.no-image {
    img.category_image {
      display: inline;
    }
  }

  &.has-image:hover {
    img.category_image {
      display: inline;
    }
    img.lesson_image {
      display: none;
    }
  }

  &.active {
    opacity: 0.5;
  }
}

.lesson_medium_container {
  min-width: $lesson-medium-width;
}

.lesson-group-preview {
  @include make-row();
  margin-top: -5px;
  margin-bottom: -5px;

  .lesson_medium_container {
    @include make-md-column(6);

    padding-right: 5px;
    padding-left: 5px;
    min-width: 510px;
  }
}

$lesson-compact-height: 85px;
$lesson-compact-width: 300px;

.small_browse_sidebar {
  .lesson_medium_container {
    min-width: $lesson-compact-width;

    a.lesson_medium {
      min-width: $lesson-compact-width;
      height: $lesson-compact-height;

      .datetime {
        .time {
          height: 47px;

          .number {
            font-size: 22px;
          }
          .am_pm {
            font-size: 14px;
          }
        }
        .date {
          .weekday {
            display: none;
          }
        }
      }

      .image_container {
        display: none;
      }

      .details {
        margin-left: $lesson-medium_time-width;

        .title_and_description {
          height: 40px;

          .description {
            display: none;
          }
        }

        .footer {
          color: #CCCCCC;

          .part {
            border: 0;
          }

          .attendance {
            display: none;
          }
        }
      }
    }
  }
}