$sidebar-color: #E8E8E8;

.browse_sidebar {
  background-color: #E8E8E8;
}

.lessons-show {
  .lesson_panel {
    @include categoryColor('background-color', '&.', ' .btn-primary');
    @include categoryColor('border-color', '&.', ' .btn-primary');
    @include categoryColor('color', '&.', ' h2');
    @include categoryColor('background-color', '&.', ' .details_block');

  }

  .with_browse_sidebar {
    margin-right: 0;

    .lesson_panel {
      padding: 0;

      .masthead {
        background: $chalkboard-background;
        min-height: 260px;

        .masthead_contents {
          border-collapse: none;
          padding: 30px;
        }

        .booking-actions {
          margin-top: 1em;

          .btn {
            /* Causing inheritance issues */
            font-size: 1.25em;
            font-weight: bold;
          }
          .popover {
            font-size: 16px;
            color: $text-color;
            text-shadow: none;
            font-weight: normal;
            a {
              color: $link-color;
              &:hover {
                color: $link-color-hover;
              }
            }
          }
        }

        .lesson-image {
          float: right;
        }

        h2 {
          margin: 0;
          font-size: 30px;
          max-width: 16em;
        }
      }


      .details {
        @include make-row();
        margin-left: 0px;
        margin-right: 0px;

        .details_block {
          @include make-sm-column(4);

          padding-left: 1px;
          padding-right: 1px;
          border-right: 1px solid white;

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }

          & > div {
            min-height: 100px;
            margin: 15px 30px;
            color: white;
          }

          .duration {
            font-size: 0.85em;
          }

          .iconic_block {
            padding-left: 1.5em;
            margin-bottom: 5px;

            i {
              float: left;
              margin-left: -1.5em;
              margin-top: 2px;
            }
          }
        }
      }

      .highlighted_content {
        background-color: #F2F2F2;
        position: relative;
        min-height: 100px;
        .img_right { 
          img { float: right; }
          .text {
            margin-right: 100px; 
            padding: 10px 10px 10px 30px; 
          }
        }
        .img_left {
          img { float: left; }
          .text { 
            padding: 10px 30px 10px 10px; 
          }
        }
        .description { 
          padding-left: 30px; 
        }

        h3 {
          margin: 0;
          font-size: 16px;
          line-height: 100%;
          margin-bottom: 4px;
          color: black;
          font-weight: bold;
          border: 0;
        }
        a.readmore-js-toggle {
          font-size: 16px;
          line-height: 20px;
          display: inline-block;
          position: absolute;
          bottom: 10px;
          right: 10px;
          width: auto;
          background-color: #F2F2F2;
        }
      }

      .teacher_details {
        margin: 0;
        min-height: 100px;
      }

      .teacher-bio {
        max-height: 60px;
        
        p {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .channel_details { 
        min-height: 120px;
        .logo img { 
          padding: 10px 10px 10px 30px;
          width: 140px;
        }
        .channel_link { 
          margin: 0; 
          padding-left: 30px;
        }
      }

      .text_contents {
        padding: 15px 30px;

        .lesson-description {
          margin-bottom: 15px;
        }
      }
    }
  }
}