<div class="new_course_form_wrapper">
  <ol class="breadcrumb">
    <li class="active"><a href="#type">Class Type</a></li>
    <li><a href="#details">Class Details</a></li>
    <li><a href="#learning">Learning</a></li>
    <li><a href="#teaching">Teacher & Venue</a></li>
    <li><a href="#summary">Summary & Submit</a></li>
  </ol>
  <form>

    <div id="type" class="parts">
      <h3>Class Type</h3>
      <hr />
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Username">
      </div>
    </div>

    <div id="details" class="parts">
      <h3></h3>
    </div>

    <div id="learning" class="parts">
      <h3></h3>
    </div>

    <div id="teaching" class="parts">
      <h3></h3>
    </div>

    <div id="Summary" class="parts">
      <h3></h3>
    </div>

  </form>
</div>