<section>
  <div class="row" id="community">
    <div class="col-xs-12">
      <h3>For community organisers and teachers</h3>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-2 col-md-offset-2">
      <div class="media">
        <bold>Set up your classes and courses on Chalkle.com</bold>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <div class="media">
        <bold>Promote your class to your community.</bold>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <div class="media">
        <bold>Connect with your learners and teach your class.</bold>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <div class="media">
        <bold>The money lands in your bank account and the tax-information in your inbox.</bold>
      </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <div class="media">Chalkle saves time with administration, payments and management to let you focus on what is most important:<strong> Delivering great learning experiences for your community.</strong></div>
    </div>
  </div>
</section>
