<section id="features">
  <div class="row text-center features-events">
    <div class="col-xs-12">
      <h3>You can use Chalkle for all kinds of learning events</h3>
    </div>


    <div class="col-xs-12 col-sm-10 col-md-2 col-md-offset-1">
      <bold>Ongoing community classes</bold>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <bold>One off workshops or special events</bold>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <bold>Weekend community learning events</bold>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <bold>Short courses</bold>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <bold>Conferences and professional development</bold>
    </div>
  </div>

  <div class= "row darker shaded_bg provider">
    <h2 class="text-center">Everything we do is to help you deliver great learning experiences</h2>
    <div class="grid">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
        <div class="card feature-card" >
          <div class="fancy-header">
            <h3>Easy to setup and promote your classes</h3>
          </div>
          <ul>
            <li>Set up and publish a class in under 5 minutes</li>
            <li>You set the price. Learner’s book and pay online</li>
            <li>Optimised for mobile devices and social media sharing</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
        <div class="card feature-card">
          <div class="fancy-header">
            <h3>Build a community</h3>
          </div>
          <ul>
            <li>Connect with learners on a class noticeboard</li>
            <li>Profile your teachers and classes with your own Chalkle page</li>
            <li>Customise your classes with your photos and branding</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2">
        <div class="card feature-card">
          <div class="fancy-header">
            <h3>Automate your admin and payments</h3>
          </div>
          <ul>
            <li>Automatically process all payments & tax advice</li>
            <li>Automatically send confirmations, receipts and reminders to learners</li>
            <li>Easy 1 button cancellations and auto-refunds</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0">
        <div class="card feature-card">
          <div class="fancy-header">
            <h3>Free resources</h3>
          </div>
          <ul>
            <li>Discover free resources to help you set up, manage and grow your learning community.</li>
            <li class="text-center"><a href"https://resources.chalkle.com" class="btn btn-primary">See more</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
