<div class="learner">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Everything you need to build a thriving community learning business.</h2>
    </div>


    <div class="col-xs-12 col-sm-10 col-md-3 col-md-offset-1">
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'teach/payment_admin.png', class: 'media-object iconify' %>
        </div>
        <div class="media-body">
          <bold>Save time with easy to use software that handles the payments, admin and learner communications work.</bold>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-3">
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'teach/payment_admin.png', class: 'media-object iconify' %>
        </div>
        <div class="media-body">
          <bold>Reach more learners with easy online booking and social marketing.<bold>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-3">
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'teach/payment_admin.png', class: 'media-object iconify' %>
        </div>
        <div class="media-body">
          <bold>Discover free resources to build your learning business, run great classes and support your community.<bold>
        </div>
      </div>
    </div>
  </div>
</div>
