<section>
  <div class="row providers">
    <div class="col-xs-12 text-center">
      <h2>We support you to build a learning community</h2>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-2">
      <h3>Independent teachers</h3>
      <div class="teacher-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10  col-sm-offset-1 col-md-2 col-md-offset-0">
      <h3>Small businesses</h3>
      <div class="business-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10  col-sm-offset-1 col-md-2 col-md-offset-0">
      <h3>Community groups</h3>
      <div class="community-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-2 col-md-offset-0">
      <h3>Libraries & public organisations</h3>
      <div class="library-hero"></div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-xs-12">
      <h2>You can use Chalkle for all kinds of learning events</h2>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1 col-md-offset-2 col-md-2  features-events">
      <bold>Ongoing community classes</bold>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-2 col-md-offset-0 col-md-2  features-events">
      <bold>One off workshops or special events</bold>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-1 col-md-offset-0 col-md-2  features-events">
      <bold>Short or weekend courses</bold>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-2 col-md-offset-0 col-md-2  features-events">
      <bold>Conferences and professional development</bold>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="process-step-hero">
        Chalkle saves you time with administration, payments and management so you can focus on
        <strong> delivering great classes for your community</strong>
      </div>
    </div>
  </div>
</section>
