<section id="who-banner">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>We support anyone to build a learning business</h3>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2 col-md-offset-1">
      <h4>Independent teachers</h4>
      <div class="teacher-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>Small businesses</h4>
      <div class="business-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>Community groups</h4>
      <div class="community-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>Libraries & public organisations</h4>
      <div class="library-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>NGOs & special interest groups</h4>
      <div class="ngo-hero"></div>
    </div>
  </div>
  <div class="row process">
    <div class="col-xs-12 col-sm-10 col-md-2 col-md-offset-2">
      <div class="process-step"><bold>Set up</bold> your classes and courses</div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <div class="process-step"><bold>Promote</bold> your class to your community</div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <div class="process-step"><bold>Connect</bold> with your learners and teach your class</div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <div class="process-step"><bold>Money</bold> lands in your bank account and tax-info in your inbox</div>
    </div>

    <div class="col-xs-6 col-xs-offset-3">
      <div class="process-step-hero">
        Chalkle saves time with administration, payments and management to let you focus on what is most important:</br>
        <strong> Delivering great learning experiences for your community</strong>
      </div>
    </div>
  </div>
</section>
