<section id="who-banner">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>We support anyone to build a learning business</h3>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2 col-md-offset-1">
      <h4>Independent teachers</h4>
      <div class="teacher-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>Small businesses</h4>
      <div class="business-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>Community groups</h4>
      <div class="community-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>Libraries & public organisations</h4>
      <div class="library-hero"></div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-2">
      <h4>NGOs & special interest groups</h4>
      <div class="ngo-hero"></div>
    </div>
  </div>
</section>
