
<% content_for :header do %>
<%= javascript_include_tag "sudo" %>
<% end %>

<p>Sort by: </p>

<p>
  <%= link_to "name", sudo_chalklers_path(order: "name ASC") %> | 
  <%= link_to "signup date", sudo_chalklers_path(order: "created_at DESC") %>
</p>

<p>Use this feature to sign in as any user</p>
<%= render @chalklers %>
