<% set_titles %>
<div class="row hidden-xs">
  <div class="col-sm-2">
    Chalkler
  </div>
  <div class="col-sm-8">
    Notification
  </div>
  <div class="col-sm-2">
    Status
  </div>
</div>
<%= render paginate_these(@notifications) %>