-title "Dashboard"

.row
  .span6
    .chalkle_image
      %h2 Welcome #{current_chalkler.name? ? current_chalkler.name.split[0] : nil}! We have built this portal to help you manage all your chalkle&deg activities
    %br/


