.row
  .span12
    #dashboardLeader
      #dashboardContent
        %h2
          - if chalkler_signed_in?
            = "Welcome #{current_chalkler.name.split[0]}!"
          - else
            Welcome!
          We have built this portal to help you manage all your chalkle&deg; activities.
