%h1== Welcome #{current_chalkler.name.split[0]}!

%hr

%p We have built this portal to help you manage all your chalkle activities. 

%hr

= image_tag('/assets/images/lesson-bg.png', :alt => "clean slate")

