.walkthrough
  .row
    .span12
      %h2 Change your Meetup email settings
      %p
        If you wish to change your Meetup email settings please follow the
        steps below:
      %hr
  .row
    .span6
      =image_tag 'chalklers/Meetup_Email_Setting1_small.jpg', width: 430, alt: 'Meetup page with "Account" > "Email and Notifications" selected'
    .span6
      %h3 Step 1:
      %ul
        %li
          Log in to Meetup.
        %li
          Select "Account" &raquo; "Email and Notifications" in the upper right hand
          corner of the page.
    .span12
      %hr
  .row
    .span6
      =image_tag 'chalklers/Meetup_Email_Setting2_small.jpg', width: 430, alt: 'Meetup notifications page with "Email and notifications settings" selected'
    .span6
      %h3 Step 2:
      %ul
        %li
          Find your chalkle&deg; channel amongst your Meetup groups.
        %li
          Click on its "Email and notification settings".
    .span12
      %hr
  .row
    .span6
      =image_tag 'chalklers/Meetup_Email_Setting3_small.jpg', width: 430, alt: 'Meetup group email settings page with several options selected'
      %br/
      %br/
    .span6
      %h3 Step 3:
      %ul
        %li
          You will be directed to a page with a list of emails that Meetup
          sends.
        %li
          Due to the large volume of emails, we recommend you uncheck every box
          except for the boxes "changes to the Meetup I am attending", "a
          confirmation that I've RSVP'd for", "Don't send me reminders" and
          "Special announcements from Organizers to members".
        %li
          This way, you will continue to receive reminders for classes you
          signed up for, but not advertisements for new classes.
        %li
          Click "Save Settings" to save those settings.
