:markdown
  ## Oops! Something went wrong.

  **It looks like you have not been assigned to a channel yet.**

  - If you have been given a password but signed in via Meetup, try using your password to log in.
  - If you have just joined chalkle&deg; through Meetup, please wait an hour and then sign in again.

  If you still cannot log in, please contact your Channel Admin.
