<% 
  nav_links = [{
      img_name: "bolt",
      link: about_path,
      active: request.path == about_path,
      title: "About"
    },{
      img_name: "people",
      link: about_path,
      active: request.path == about_path,
      title: "The Team"
    },{
      img_name: "contact",
      link: say_hello_path,
      active: request.path == say_hello_path || request.path == said_hello_path,
      title: "Contact"
    }]

  if false #current_user.authenticated?
    users_bookings = current_chalkler.bookings.from_provider(@provider)
    link_path = provider_follower_path(@provider, current_chalkler)
    if users_bookings.present?
      nav_links << {
        link: link_path,
        active: request.path == link_path,
        title: "My Bookings (#{users_bookings.count})"
      }
    end
  end

%>

<div class="provider_header">
  <div class="container-fluid">
    <a class="avatar block" href="<%= about_path %>">
      <div class="img" style="background-image: url(<%= asset_path('social-logo.jpg') %>)">
      </div>
    </a>

    <div class="provider_header_content">
      <h1 class="provider_header_name">
        <%= link_to "chalkle°", about_path %>
      </h1>
    </div>
    
  </div>

</div>
