<div class="row flush">
  <div class="home_header">
    <div class="col-sm-5">
      <h1 class="text-right">
        <%= link_to 'Learn great skills', classes_path, class: 'hover-link-line white' %>
      </h1>
      !-- <p class="text-right">
        <%= link_to 'Find a class', classes_path, class: 'btn btn-primary btn-huge' %>
      </p> -->
    </div>
  </div>
</div>