<div class="row flush">
  <div class="teach_header clearfix">
    <div class="col-xs-12 col-sm-5">
      <h1 class="text-right pad-bottom-20 no-margin">
        Makes organising classes easy
      </h1>
      <p class="text-right">
        <%= link_to "Get Started Now", '#contact', class: 'btn btn-primary btn-huge'%>
      </p>
    </div>
  </div>
</div>
