:markdown
  # Welcome to chalkle&deg;!

  Thanks for joining chalkle&deg;! Isn’t it exciting to see a community
  grow around a wish to learn, teach and share skills from each other.

- if @chalkler.reset_password_token?
  :markdown
    ## Activate your account

    Your Channel Curator has created an account for you on
    [my.chalkle.com](http://my.chalkle.com). To activate your account simply
    create a password by clicking on the link below:

  = link_to 'Create your account password',
      "#{edit_chalkler_password_url}?initial=true&reset_password_token=#{@chalkler.reset_password_token}".html_safe

:markdown
  ## Become a teacher

  We hope to be able to help connect you with people who can share skills and
  knowledge. If you have things you can teach then we can enable that to
  happen. We can help you advertise (find great people), sort all the money
  practicalities, help you find a location, and give suggestions on what makes
  a great chalkle&deg; class.

  When you are ready to teach a class, simply [submit your
  idea](http://my.chalkle.com/chalklers/teachings/new).

  ## Show us some love!

  Please like us on [Facebook](http://www.facebook.com/chalkle) and follow us
  on [Twitter](https://twitter.com/ChalkleNZ).

  As this is a new initiative, we are still experimenting and playing, so
  please get in touch if you have any feedback or ideas - in that way we can
  create chalkle&deg; to really meet your needs and those of the community.

  Cheers,
  <br>The chalkle&deg; team
