<section id="byline" class="grid-container">

  <h2 class="grid-80 prefix-10">
    Chalkle is built to serve the needs of a changing landscape
  </h2>
  <p class="grid-60 prefix-15">
    We provide software and resources so that our partners can run efficient and financially sustainable classes. Our marketing platform connects teachers with a growing community of lifelong learners.
  </p>

</section>

<section id="software" class="grid-container">
  <div class="grid-50 grid-parent">
    
    <div class="grid-100 platform-image-holder">
      <div class="admin-image"></div>
    </div>

    <div id="admin" class="grid-100">
      <h1>Software to help you organise your classes</h1>
      <ul>
        <li class="grid-50">Set up classes</li>
        <li class="grid-50">Organise teachers</li>
        <li class="grid-50">Performance metrics</li>
        <li class="grid-50">Automated emails & reminders</li>
        <li class="grid-50">Bookings & payments management</li>
        <li class="grid-50">Promote your classes</li>
      </ul>
    </div>
  </div>

  <div class="grid-50 grid-parent">

    <div class="grid-100 platform-image-holder">
      <div class="computer-games-image"></div>
      <div class="ipad-image"></div>
    </div>

    <div id="platform" class="grid-100">
      <h1>Your own branded channel on our shared publishing platform</h1>
      <p>Publish your classes on your own branded channel. Profile your teachers and promote your classes to an active community of learners on chalkle.com</p>
    </div>

  </div>

</section>

<section id="benefits" class="grid-container">
  <h1 class="grid-100">Chalkle will help you:</h1>

  <div class="benefits grid-50 benefits-community benefits-top">
    <h2>Meet new people and grow your community</h2>
      Launch your own channel on Chalkle.com and promote your classes to a wider audience.
  </div>

  <div class="benefits grid-50 benefits-revenue benefits-top benefits-right">
    <h2>Earn revenue and save money</h2>
      Set your own prices for your classes, set your own rates for paying teachers and community organisers.
  </div>

  <div class="clear"></div>

  <div class="benefits grid-50 benefits-organise benefits-bottom">
    <h2>Make organising classes easy</h2>
      We make it easy to manage your bookings, and connect with your learners and give you access to resources to help you get started running great classes.
  </div>

  <div class="benefits grid-50 benefits-classes benefits-bottom benefits-right">
    
    <h2>Deliver great classes to lifelong learners!</h2>
      We take away the stress so you can focus on what you do best; <strong>teach great classes</strong>.
  </div>

</section>


<section id="who" class="grid-container">
  <h1 class="grid-100">Who uses Chalkle?</h1>

  <div class="who grid-25">
    <h1>Teachers</h1>
    <div class="teacher-hero"></div>
    <h3>Brandon’s Ukes</h3>
    <p>
      Brandon is a ukulele teacher in Wellington who has used Chalkle to grow a community of learners and a personal brand around these ukulele classes.
    </p>
  </div>

  <div class="who grid-25">
    <h1>Community Groups</h1>
    <div class="community-hero"></div>

    <h3>Innermost Gardens</h3>
    <p>
      Innermost Gardens hosts local food production, preparation and natural building workshops through Chalkle to a growing community of learners.
    </p>
  </div>

  <div class="who grid-25">
  <h1>Small Business</h1>
    <div class="business-hero"></div>
    <h3>Enspiral</h3>
    <p>
      Enspiral hosts highly practical Social Entrepreneurship development classes, delivered by a network of practicing Entrepreneurs.
    </p>
  </div>

  <div class="who grid-25">
  <h1>Libraries</h1>
    <div class="library-hero"></div>

    <h3>Te Takere</h3>
    <p>
      Te Takere is a Cultural Community Centre and Library in Horowhenua. They use Chalkle to manage and promote their classes and run a huge range of lifelong learning opportunities.
    </p>
  </div>
</section>

<div class="plans-and-pricing-wrapper">
  <section id="plans-and-pricing" class="grid-container">
  <a name="prices"></a>
    <h1 class="grid-100">Plans & Pricing</h1>

    <h2 class="grid-80 prefix-10">Our focus on providing accessible, diverse learning opportunities means we refuse to let cost be a barrier to organisations committed to delivering great classes.
    </h2>

    <div class="grid-30 prefix-15 suffix-5" id="community-plan">
      <h3>Community Plan</h3>

      <div class="price-circle">
        <div class="price">$2</div>
        <div class="per">per learner</div>
        <div class="class">per class</div>
      </div>

      <ul>
        <li>
          Launch your own branded channel<br />
          <span class="feature-url">
          <%= image_tag asset_path("partners/globe.png"), width: 14, height: 14 %> 
          yourchannel.<span class="white">chalkle.com</span></span>
        </li>
        <li>
          Manage up to 20 teachers and 100 classes per month 
        </li>
        <li>
          No Subscription Fees
        </li>
        <li>
          Full control of class pricing
        </li>
        <li>
          Up to 2 free classes per month
        </li>
      </ul>

    </div>

    <div class="grid-30 suffix-15 prefix-5" id="enterprise-plan">
      <h3>Enterprise Plan</h3>
      <p>We can tailor software and support packages for you.</p>
    
      <div class="who-its-for">
        <h4>Perfect For</h4>
        Libraries, local councils, and Adult Community Education providers!
      </div>

      <ul>
        <li>Full use of all community plan features</li>
        <li>Priority support and feature requests*</li>
        <li>Manage unlimited: <br />
          Teachers, Admins, and Free classes</li>
        <li>Setup, training & launch packages</li>
        <li>Design & promotional services</li>
      </ul>
      <p>
        <small>*all enterprise customers receive priority support and feature requests. Chalkle will filter feedback and requests into our product development cycles.</small>
      </p>
    </div>

  </section>
</div>

<section id="keen">

  <div class="grid-container">
    <h1>Keen to learn more or join us? <em>Let's chat</em>.</h1>
     <%= link_to "Say Hello", partners_say_hello_path, class: 'hello-button'  %>

  </div>

</section>

<section id="faq" >
  
  <div class="grid-container">

    <h1 class="grid-100">FAQs</h1>

    <div class="grid-45 suffix-10">
      <strong>How does the class price work?</strong>
        <p>
          The price of classes is completely flexible, determined by the channel partner and teacher. Chalkle calculates an advertised price per chalkler for each class based on:
        </p>
        <p>
          <span class="left-hand-equation white">
            teacher fee + channel admin fee + chalkle success fee
          </span> <br /> x 
          <span class="right-hand-equation">
            a transaction processing fee of 2.75%
          </span>
        </p>
    </div>

    <div class="grid-45 ">
      <strong>What are the success fees?</strong>
        <p>
          The success fee is a fixed chalkle fee of $2 (+GST) per chalkler, per class. This fee is automatically added to the advertised price of a class and deducted before delivering payments to channel organisations. This is our way of remaining agnostic and providing equal value to all our customers, from independent teachers and volunteer community groups to larger enterprises.
        </p>
    </div>
    <div class="clear"></div>


    <div class="grid-45 suffix-10">
      <strong>Teacher fee</strong>
        <p>
          For each class teachers are asked to calculate a cost per chalkler (how much would they like to earn, per person in the class).
        </p>
    </div>




    <div class="grid-45">
      <strong>Payments</strong>
        <p>
          Classes are pre-paid by chalklers when they sign up to a class online. Chalkle collects all payments from classes and makes payments to teachers and channel organizations monthly.
        </p>
    </div>




  </div>

</section>





