<section id="byline" class="grid-container">

  <h2 class="grid-80 prefix-10">Chalkle is built to serve the needs of a changing landscape</h2>
  <p class="grid-70 prefix-15">
    We provide software and resources so that our partners can run efficient and financially sustainable classes. Our marketing platorm connects teachers with a growing community of lifelong learners.
  </p>

</section>

