<section id="vision" class="grid-container">

  <div class="grid-80 prefix-10">
    <h1 
      data-300="margin-top: 0;" 
      data-500="margin-top: -20px;">
        Let's create a world where we can fall back in love with learning and teaching.
    </h1>
  </div>

  <div class='grid-40'>
    <h2>Chalkle’s Backstory</h2>

    <p>
      Chalkle started over a cup of coffee between Silvia Zuur and Linc Gasking in mid 2012. A whirlwind of community organising followed, and Chalkle exploded in Wellington, with Silvia organising over 600 classes in 12 months to serve a world where ‘anyone could teach and anyone could learn’.
    </p>
    <p>
      Demand grew, the business evolved, technology was built. Now, with the same spirit of ‘anyone can...’ Chalkle is supporting educators with software tools and a marketing platform.
    </p>

  </div>

</section>

<div class="core-team-wrapper">
  <section id="core-team" class="grid-container">
    <div class="grid-100">
      <h1>Chalkle’s Core Team</h1>

      <p class="sub">
        Chalkle is lead by a small, committed team of social entrepreneurs. <br />
        Our office is Enspiral Space in the forever sunny Wellington, New Zealand.
      </p>
    </div>

    <div class="grid-33">
      <h2>Silvia Zuur</h2>
      <sub>CEO AND FOUNDER</sub>
      <p>
        Silvia has supported many social entrepreneurs to move their ideas into reality – through cups of coffee, hosting retreats and conferences, and developing educational programmes. Her relentless quest for learning new things and asking difficult questions led her to start Chalkle in 2012. She is a skilled facilitator, problem hacker, people organiser and has a consuming passion for improving education, good wine and knitting.
      </p>
    </div>

    <div class="grid-33">
      <h2>Anthony Cabraal</h2>
      <sub>CHIEF EXPERIENCE OFFICER</sub>
      <p>
        Ants has a background in creative marketing strategy and client management in both Australia and New Zealand. He has been immersed in startup social enterprise and skinned his knees, both as a founder and manager of startup accelerator programmes. He loves to make good things go faster, has a bottle opener on his keyring and is always meeting new people.
      </p>
    </div>

    <div class="grid-33">
      <h2>Matthew Kerr</h2>
      <sub>CHIEF PRODUCT OFFICER</sub>
      <p>
        Silvia has supported many social entrepreneurs to move their ideas into reality – through cups of coffee, hosting retreats and conferences, and developing educational programmes. Her relentless quest for learning new things and asking difficult questions led her to start Chalkle in 2012. She is a skilled facilitator, problem hacker, people organiser and has a consuming passion for improving education, good wine and knitting.
      </p>
    </div>

  </section>
</div>

<section id="values grid-container">
  <div class="grid-50 prefix-25">
    <h1>A business engine, fuelled by social impact</h1>

    <p>
      A Social Enterprise uses business tools to deliver social impact. When we call Chalkle a Social Enterprise, this is what we mean:
    </p>


    <h2>Of Service</h2>
    <p>
      Technology is already changing what is possible in education, from primary schools and universities, to the grassroots of adult community learning. Our focus is to serve the reignition of adult learning opportunities, from the community level up.
    </p>
    <h1>Learning for anyone</h1>
    <p>
      We refuse to allow cost to be barrier to those who fit our values, see our vision and want to share their skills with the world. Our cost structure is designed for accessibility. We want to enable everyone – from independent teachers, volunteer community groups up to large organisations and businesses – to deliver great learning opportunities in our communities.
    </p>
    <h1>Partners first</h1>
    <p>
      Our business model is designed as a platform for our organisational partners. Chalkle thrives only when our partners and teachers thrive – that is why we call them partners, not customers.
    </p>
    <h1>Go far together</h1>
    <p>
      Joining Chalkle means joining an active network of collaborators. Chalkle works by catalysing and strengthening local learning eco-systems – not replacing them.
    </p>
  </div>

</section>


<section id="enspiral grid-container">

  <div class="grid-40 prefix-30 grid-parent">
    <div class="grid-33">
    </div>
    <div class='grid-33'>
    </div>
    <div class="grid-33">
      Chalkle was founded from within the Enspiral network and is proudly an Enspiral business. Social Enterprise is in our DNA.
    </div>
  </div>

</section>