!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hello #{@chalkler.name.split[0]},
    %p
      Here is your daily digest for #{Date.today()}
    - if !( @new_interesting_lessons = @new_lessons.find(:all, :conditions => ["category_id IN (?)", @chalkler.email_categories] ) ).nil?
      %p
        New classes in the last 24 hours:
        = render partial: "chalkler_interest_mailer/digest_lesson_table", locals: { interesting_lessons: @new_interesting_lessons }
      
    %p
      Thank you for supporting chalkle and we look forward to seeing you soon!
      %br/
      chalkle