<div class="_teacher row light">
  <img class="avatar avatar32" src="<%= channel_teacher.avatar %>">
  <div class="pull-left"> 
    <div class="name">
      <%= link_to channel_teacher.name, channel_channel_teacher_path(channel_teacher.channel.url_name, channel_teacher.id) %>,
      <%= link_to channel_teacher.channel.name, channel_path(channel_teacher.channel.url_name) %>
      
    </div>
  </div>
</div>