Thank you for signing up for the upcoming Chalkle class, #{title}. This is a reminder that payment for the class should be made prior to the class. If possible, please make payment via bank transfer or cash deposit at any Kiwibank branch using these details: 

%br
%br
Account number: 38-9012-0815531-00 
%br
Name: Chalkle Limited 
%br
Reference number: #{reference}
%br
Payment Amount: $#{price*1.15} per person incl. GST 

%br
%br
Thank you for supporting Chalkle and we look forward to seeing you soon! 
%br
Chalkle

