<div class="new_form_wrapper">
  <%= bootstrap_form_for(@chalkler, wrapper: :simple_bootstrap3, url: me_enter_email_path, html: { method: :put, class: 'form-horizontal', role: 'form'}) do |f| %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="fancy-header">
          <h3>Almost there!</h3>
          <hr />
        </div>
        <p class="small center grey">
          Please enter your email to complete the account activation process.
        </p>
        <%= f.input :email %>
        <%= f.submit "Complete Profile", class: 'btn btn-primary pull-right' %>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  <% end %>
</div>
