.row
  .col-md-6.offset3
    %h2 Almost there!
    %p Please enter your email to complete the account activation process.

= simple_form_for(@chalkler, url: chalklers_enter_email_url, html: { method: :put, class: 'form-inline' }) do |f|
  .row
    .col-md-6.offset3
      =f.error_notification
      =f.input :email
      =f.submit "Submit email"
