<div class="row">
  <div lass="col-xs-12">
    <h4>BACKGROUND</h4>
    <p>
    Chalkle has developed an online solution which it proposes to make available to You, to assist You to promote and organise classes, in accordance with the terms and conditions set out in these Terms.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-6">
    <p>
      <strong>1.  ACCEPTANCE</strong>
    </p>
    <p>
      1.1 By completing the Online Registration Process, You agree to be bound by these Terms.
    </p>
    <p>
      <strong>2.  SERVICES</strong>
    </p>
    <p>
      2.1 Throughout the term, Chalkle shall provide the Services to You.
    </p>
    <p>
      2.2 This arrangement is non-exclusive and nothing in these Terms shall prohibit:
      <ol type="a">
        <li>You from obtaining any services (including services similar to the Services) from any other supplier; or</li>
        <li>Chalkle from offering and/or supplying any services (including services similar to the Services) to any other person.</li>
      </ol>
    </p>
    <p>
      <strong>3.  TERM</strong>
    </p>
    <p>
      <strong>3.1 Term:</strong>  These Terms commence on the date you complete the Online Registration Process and shall continue until either party terminates these Terms by written notice to the other party.
    </p>
    <p>
      <strong>4.  ACCESS AND USE OF THE CHALKLE PLATFORM</strong>
    </p>
    <p>
      <strong>4.1 Access:</strong> Chalkle will make the Chalkle Platform available to You in accordance with these Terms.
    </p>
    <p>
      <strong>4.2 Functionality:</strong> Details of the functionality provided by the Chalkle Platform are set out in the Documentation (including the level of access to the Chalkle Platform available to You, Teachers and Chalklers).
    </p>
    <p>
      <strong>4.3 Use:</strong> You agree that You will only access and use the Chalkle Platform (and will ensure that all Teachers only access and use the Chalkle Platform):
      <ol type="a">
        <li>
          for Your own business purposes in connection with the Classes offered by You; and
        </li>
        <li>
          in accordance with these Terms, the Documentation, all instructions given to You by Chalkle from time to time, and all applicable laws.
        </li>
      </ol>
    </p>
    <p>
      <strong>4.4 You acknowledgement:</strong> You acknowledge and agree that:
      <ol type="a">
        <li>You may use the Chalkle Platform to:</li>
          <ol type="i">
            <li>list and advertise Classes;</li>
            <li>upload and update Your Content on the Provider Page; and</li>
            <li>send and receive communications to and from Chalklers and Teachers (including Class reminders and changes to Class details).</li>
          </ol>
        <li>Use of the Chalkle Platform is at Your own risk.</li>
        <li>
          You are responsible for maintaining (at Your cost) all arrangements necessary for You to be able to access the Chalkle Platform (including internet connectivity and data charges).
        </li>
        <li>
          You will maintain appropriate security arrangements (including reputable third party anti-virus software) to protect against the introduction of Disabling Code into Your systems.
        </li>
      </ol>
    </p>
    <p>
      <strong>4.5 Restrictions:</strong> You must:
      <ol type="a">
        <li>
          Not make the Chalkle Platform (or any part thereof) or the Documentation available to any person, or seek to grant any right to use the Chalkle Platform or the Documentation to any person.
        </li>
        <li>
          Not use the Documentation in any manner other than to assist You in the normal use of the Chalkle Platform pursuant to these Terms.
        </li>
        <li>  
          Not disclose Your login details to anyone else.
        </li>
        <li> 
          Take all reasonable steps (including maintaining reputable third party anti-virus software) to ensure You do not directly or indirectly introduce any Disabling Code into the Chalkle Platform or any other part of Chalkle's infrastructure, operations, or information technology or telecommunications systems.
        </li>
      </ol>
    </p>
    <p>
      <strong>4.6 Marketing:</strong> In utilising the Services and/or the Chalkle Platform, You must not:
      <ol type="a"> 
        <li>
          make (and/or display on the Provider Page) any claims, representations or statements: 
          <ol type="i">
            <li>
              on behalf of (or which purport to be on behalf of, or endorsed or approved by) Chalkle, unless Chalkle has authorised such claim, representation or statement in writing beforehand; or
            </li>
            <li>
              that are misleading or deceptive (or likely to mislead or deceive), unsubstantiated, or in breach of any law (including the Fair Trading Act 1986); or
            </li>
          </ol>
        </li>
        <li>
          (b) use any of Chalkle's Intellectual Property in any way which has not been authorised by Chalkle in writing prior to such use; or
        </li>
        <li>
          (c) damage or adversely affect the Chalkle's reputation, business operations or assets (or the reputation, business operations or assets of any other parties dealing with Chalkle).
        </li>
      </ol>
    </p>
    <p>
      <strong>4.7 Classes:</strong> You are responsible for:
      <ol type="a">
        <li>
          providing the Classes that are listed by You (unless such Classes are cancelled in accordance with these Terms);
        </li>
        <li>
          the content of all Classes (and ensuring all Classes are for proper educational purposes);
        </li>
        <li>
          providing a venue for each Class, and all relevant materials (unless stated on the Provider Page that Chalkers are responsible for supplying any of their own materials);
        </li>
        <li>
          ensuring that all Classes are conducted with the Teacher physically (not remotely or virtually) present at the venue;
        </li>
        <li>
          setting the Chalkler Fee (if any) and publishing this fee on the Provider Page;
        </li>
        <li>
          ensuring that the Teachers have sufficient knowledge, experience and capability to teach the relevant Classes; 
        </li>
        <li>
          advising Chalkle of the amount of compensation to be paid to Teachers for teaching the Classes ("Teacher Payment");
        </li>
        <li>
          all costs, expenses and liabilities relating to each Class; and
          <ol type="i">
            complying with all applicable laws (including health and safety laws).
          </ol>
        </li>
      </ol>
    </p>
    <p>
      <strong>4.8 Cancellations:</strong>  If You or a Teacher cancel any Class, You shall immediately notify Chalkle through the Chalkle Platform, and request that Chalkle reimburse each Chalkler their respective Chalkler Fee.
    </p>
    <p>
      <strong>4.9</strong> Chalkle may cancel any Class at any time if:
      <ol type="a">
        <li>less than two Chalklers have registered to attend the Class;</li>
        <li>
          Chalkle objects to the content of the Class (including if Chalkle considers it inappropriate or offensive, or not for proper educational purposes);
        </li>
        <li>
          You or a Teacher are in breach of any provision of these Terms (including the Documentation); or
        </li>
        <li>
          Chalkle has received negative feedback from Chalklers about You, and Chalkle considers it reasonable to do so.
        </li>
      </ol>
    </p>
    <p>
      <strong>4.10  Communications:</strong> Without limiting clauses 4.6 to 4.9, You must ensure that:
      <ol>
        <li>
          all relevant information for all Classes (including content, Chalker Fees, time, date and length of each Class, and a statement that all payments are non-refundable) are available on the Provider Page at all times, including any changes or updates to such information; and 
        </li>
        <li>
          any cancellations or changes to Class details are promptly:
          <ol type="i">
            <li>
              updated on the Provider Page; and 
            </li>
            <li>
              notified to the relevant Teacher(s) and Chalklers.
            </li>
          </ol>
        </li>
      </ol>
    </p>
    <p>
     <strong>5.  RELATIONSHIPS</strong>
    </p>
    <p>
      <strong>5.1 Nature of relationships:</strong>  You acknowledge and agree that:
      <ol type="a">
        <li>
          Chalkle has no contractual relationship with or obligations to any Teacher or Chalkler simply because Chalkle makes the Chalkle Platform available to that Teacher or Chalkler (and these Terms is not intended to and do not create any contractual relationship between Chalkle and any Teacher or Chalkler).
        </li>
        <li>  
          You must ensure that all Teachers comply with the Documentation.
        </li>
        <li>
          You are and remains responsible for any claims made by any Teacher relating to the Chalkle Platform and/or these Terms.
        </li>
        <li>
          You are responsible for all Your Content and for all communications and interactions through the Chalkle Platform with Chalkers, Teachers and the public.
        </li>
      </ol>
    </p>
    <p>
      <strong>6.  CHARGES</strong>
    </p>
    <p>
      <strong>6.1 Charges:</strong>  You shall pay to Chalkle the Charges and any applicable Service Fees in accordance with this clause 6.
    </p>
    <p> 
      <strong>6.2 Set off and deduction:</strong>  Chalkle may:
      <ol type="a">
        <li>
          prior to transferring to You the Chalker Fees received by Chalkle, deduct from those Chalker Fees:
          <ol type="i">
            <li>the amount of any Charges (plus GST, if any) payable by You under these Terms; and</li>
            <li>the amount of all applicable Teacher Payments (which Chalkle will then pay to the relevant Teacher(s));</li>
          </ol>
        </li>
        <li> 
           set off any amount payable by You to Chalkle against any amount payable by Chalkle to You;  and/or
        </li>
        <li>
          deduct or withhold from any payment to You or a Teacher, any tax, fee, duty, fine, levy or other amount required by law to be deducted or withheld by Chalkle and paid to any government authority.  
        </li>
      </ol>
    </p>
    <p>
      <strong>6.3 Invoicing:</strong> Chalkle may invoice You on a monthly basis in respect of the Charges and Service Fees (if any) incurred in the preceding month. Each such invoice shall be in the form of a tax invoice for GST purposes, and shall indicate which amounts (if any) have been deducted by Chalkle in accordance with clause 6.2, and which amounts (if any) are still to be paid by You.
    </p>
    <p>  
      <strong>6.4 GST:</strong>  The Charges and any applicable Service Fees do not include any GST (unless otherwise specifically stated in these Terms).  You shall pay Chalkle the amount of all GST chargeable on any taxable supply by Chalkle under these Terms in addition to and at the same time as the Charges to which the taxable supply relates.
    </p>
    <p>
      <strong>6.5 Payment:</strong>  You shall pay Chalkle the Charges and any applicable Service Fees invoiced in accordance with clause 6.3 no later than the 20th of day of the month following the date of the relevant invoice (to the extent that Chalkle has not already deducted the relevant amount(s) in accordance with clause 6.2).  
    </p>
    <p>
      <strong>7.  INTELLECTUAL PROPERTY</strong>
    </p>
    <p>
      <strong>7.1 Ownership:</strong>  All Intellectual Property rights in the Chalkle Platform and the Documentation are, and will remain, the exclusive property of Chalkle (or its licensors), and nothing in these Terms confers on You or any other person any rights or interests in the Chalkle Platform (or any part thereof), or the Documentation, other than to use the Chalkle Platform and the Documentation in accordance with the terms of these Terms.
    </p>
    <p>
      <strong>7.2 New property:</strong>  Any new Intellectual Property which is created as a result of, or in connection with, the provision of the Services, or otherwise in connection with these Terms, including all lists and databases containing information about and/or details of any Chalklers, shall be owned exclusively by Chalkle.
    </p>
    <p>
      <strong>7.3 Your IP:</strong> All Intellectual Property rights owned by You in the teaching material relating to the Classes, and any other Your Content are, and will remain, Your (or its licensors) exclusive property, and nothing in these Terms confers on Chalkle or any other person any rights or interests in that teaching material or Your Content (or any part thereof).
    </p>
    <p>
      <strong>7.4 No modification or disassembly:</strong> You must not:
      <ol type="a">
        <li>
          copy or modify (or attempt to copy or modify) the Chalkle Platform or Documentation (or any part thereof) without Chalkle's prior written consent;
        </li>
        <li>
          disassemble, decompile, or reverse engineer all or any parts of the Chalkle Platform, or attempt to do so, or directly or indirectly allow or cause a third party to do so; 
        </li>
        <li>
          remove, obscure or alter any notice of patent copyright, restricted rights, trade secrets, trademarks or other proprietary right related to the Chalkle Platform or the Documentation, unless agreed otherwise; or
        </li>
        <li>
          undertake (or attempt to undertake) any customisation of the Chalkle Platform.
        </li>
      </ol>
    </p>
    <p>
      <strong>7.5 Chalkle modifications:</strong> Chalkle may modify, enhance and/or update the Chalkle Platform from time to time in any way that Chalkle sees fit (and may choose to make such modifications, enhancements and/or updates available to You).
    </p>
    <p>
      7.6 Maintenance:  While Chalkle will endeavour to ensure the Chalkle Platform is generally available to You, You acknowledge and agree that the Chalkle Platform will be unavailable from time to time to permit scheduled and unscheduled maintenance to be undertaken, to implement patches and upgrades, and for other reasons which may mean the Chalkle Platform is unavailable, interrupted, restricted and/or delayed.  Chalkle will endeavour to give You advance notice of outages due to scheduled maintenance.
    </p>
    <p>
      <strong>8.  WARRANTIES</strong>
    </p>
    <p>
      <strong>8.1 Chalkle warranty:</strong>  Chalkle warrants and represents to You that, to the best of Chalkle's knowledge, Your use of the Chalkle Platform in accordance with these Terms will not infringe any third party intellectual property rights.
    </p>
    <p>
      <strong>8.2 No other warranties:</strong>  Other than as expressly set out in clause 8.1, all warranties, conditions and representations (express, implied, statutory or otherwise) in respect of the Chalkle Platform are excluded to the fullest extent permitted by law.  In particular, Chalkle makes no representation or warranty of any kind (express, implied, statutory or otherwise) as to:
      <ol type="a">
        <li>
          the operation, availability or performance of the Chalkle Platform;
        </li>
        <li>
          the compatibility or suitability for use of the Chalkle Platform with Your browser or information technology systems, infrastructure or equipment;
        </li>
        <li>
          the fitness of the Chalkle Platform for any particular purpose; or
        </li>
        <li>
          the Chalkle Platform being free from fundamental and inherent defects in materials, workmanship or manufacture.
        </li>
      </ol>
    </p>
    <p>
      <strong>8.3 You warranties:</strong> You warrant and represent to Chalkle that no Your Content, and no other content on the Provider Page, will:
      <ol type="a">
        <li>infringe or impair the Intellectual Property of any person; </li>
        <li>contain any defamatory or distasteful material; or</li>
        <li>breach any law.</li>
      </ol>
    </p>
    <p>
      <strong>9.  LIABILITY</strong>
    </p>
    <p>
      <strong>9.1 Exclusions:</strong>  Notwithstanding any other provision of these Terms, in no circumstances shall Chalkle be liable to You, any Teacher, Chalkler or any other person for anything in connection with:
      <ol type="a">
        <li>
          any non-availability or non-performance of, or any fault, error, defect or delay in or of, the Chalkle Platform;
        </li>
        <li> 
          any Your Content, or any other information, materials or content on or associated with the Provider Page; 
        </li>
        <li> 
          access to or use of the Chalkle Platform by any Teacher or Chalkler, or any other person; or
        </li>
        <li>
          any outcome or consequence arising directly or indirectly out of accessing or using the Chalkle Platform.
        </li>
      </ol>
    </p>
    <p>
      <strong>9.2 Consequential loss:</strong>  Chalkle shall not be liable to You for any loss of profits, or any consequential, indirect or special loss or damages suffered by You, arising directly or indirectly from any breach of these Terms by Chalkle, or from any negligence or other act or omission of Chalkle.
    </p>
    <p>
      <strong>9.3 Monetary limit:</strong>  The maximum aggregate liability of Chalkle in respect of all claims whether in contract, tort (including negligence) or otherwise arising under or in connection with these Terms in any 12 month period shall not exceed the sum of all Charges paid to Chalkle by You in that 12 month period.
    </p>
    <p>
      <strong>9.4 Consumer Guarantees Act:</strong>  The parties agree that the Services are supplied for the purposes of a business and that the Consumer Guarantees Act 1993 does not apply.
    </p>
    <p>
      <strong>
        10. INDEMNITY
      </strong> 
    </p>
    <p>
    <p>
      <strong>10.1  Indemnity by You:</strong>  You will indemnify and keep indemnified Chalkle (including each of its personnel, agents and other representatives) against all actions, proceedings, losses, liabilities, damages, claims, demands, costs and expenses (including all legal costs and expenses on a solicitor and own client basis) suffered or incurred by Chalkle (or its personnel, agents and other representatives) arising out of or in connection with:
      <ol type="a">
        <li>
          any failure by You to comply with these Terms;
        </li>
        <li>
          any breach of law by You; and/or
        </li>
        <li>
          any claim that any Your Content, or any other information, materials or content on or associated with the Provider Page:
          <ol type="i">
            <li>
              infringes or impairs the Intellectual Property of any person;
            </li>
            <li>
              contains any defamatory or distasteful material;
            </li>
            <li>
              breaches any law.
            </li>
          </ol>
        </li>
      </ol>
    </p>
    <p>
      <strong>11. CONFIDENTIALITY</strong>
    </p>
    <p>
      <strong>11.1  Confidentiality Obligation:</strong>  Subject to clause 11.2, each party shall keep confidential, and make no disclosure of:
      <ol type="a">
        <li>
          the terms of these Terms; and
        </li>
        <li>
          all information obtained from the other party under these Terms or in the course of negotiations in respect of these Terms,
        </li>
      </ol>
      <ul class="no-list">
        <li>(together "<strong>Information</strong>").</li>
      </ul>
    </p>
  </div>
  <div class="col-xs-12 col-lg-6">
    <p>
      <strong>11.2  Exceptions:</strong>  Information may be disclosed by a party if:
      <ol type="a">
        <li>
          disclosure is required by law, or necessary to comply with the listing rules of any recognised stock exchange; 
        </li>
        <li>
          disclosure is necessary to obtain the benefits of, and fulfil obligations under, these Terms; 
        </li>
        <li>
          that Information already is, or becomes (including through it being published or uploaded on the Chalkle Platform), public knowledge other than as a result of a breach of clause 11.1 by that party;
        </li>
        <li>
          in the case of Chalkle, disclosure is to Chalkler and/or Teacher in the context of any dispute or issue raised by the Chalkler and/or Teacher with or about You;
        </li>
        <li>
          disclosure is made to a bona fide financier or potential financier of that party, or to a bona fide purchaser or potential purchaser of all or part of the business of, or the shares in, that party, so long as:
          <ol type="i">
            <li>
              that party has notified the other party of the proposed disclosure; and 
            </li>
            <li>
              the person to which disclosure is to be made has entered into a confidentiality agreement with substantially the same restrictions as set out in this clause 11; or
            </li>
          </ol>
        </li>
        <li>
          disclosure is made to a lawyer or accountant for that party.
        </li>
      </ol>
    </p>
    <p>
      <strong>12. SUSPENSION AND TERMINATION</strong>
    </p>
    <p>
      <strong>12.1  Suspension:</strong> Chalkle may at any time suspend Your use of the Chalkle Platform if:
      <ol type="a">
        <li>
          You fails to comply with these Terms.
        </li>
        <li>
          Chalkle considers that Your use of the Chalkle Platform is or may be fraudulent, or may jeopardise the security or integrity of the Chalkle Platform.
        </li>
        <li>
          Any maintenance, patches and/or upgrades of the Chalkle Platform are to be undertaken.
        </li>
        <li>
          Any Disabling Code is introduced into the Chalkle Platform.
        </li>
      </ol>
    </p>
    <p>
    <p>
      <strong>12.2  Termination for cause:</strong>  Either party may terminate these Terms with immediate effect, on written notice to the other party, if:
      <ol type="a">
        <li>
          The other party breaches any of its obligations under these Terms and the breach cannot be remedied, or if the breach can be remedied, You are not remedied to the non-breaching party's reasonable satisfaction within seven days of that non-breaching party notifying the other party of the breach.
        </li>
        <li>
          The other party undergoes an Insolvency Event, or ceases to carry on all or substantially all of its business or operations.
        </li>
      </ol>
    </p>
    <p>
     <strong>12.3  Termination without cause:</strong>  If You have elected to be on the Community Plan Services, either party may terminate these Terms with immediate effect by giving the other party written notice to that effect.
    </p>
    <p>
      <strong>12.4  Effect of Termination:</strong>  Expiry or termination of these Terms:
      <ol type="a">
        <li>
          is without prejudice to any other right, power or remedy under these Terms, at law, or otherwise, that may have accrued before the date of expiry or termination; and
        </li>
        <li>
          shall not terminate clauses 17, 7.1, 7.2 and 9 to 16, which shall continue in force notwithstanding expiry or termination.
        </li>
      </ol>
    </p>
    <p>
      <strong>12.5  Termination obligations:</strong>  On expiry or termination of these Terms, You shall immediately:
      <ol type="a">
        <li>
          cease using the Chalkle Platform;
        </li>
        <li>
          return to Chalkle or destroy all Documentation;
        </li>
        <li>
          remove all references to Chalkle from any advertising, marketing or other material under Your (or its agents') control, including any website or online media; and
        </li>
        <li>
          cease all other use of Chalkle's Intellectual Property.
        </li>
      </ol>
    </p>
    <p>
      <strong>13. DISPUTE RESOLUTION</strong>
    </p>
    <p>
      <strong>13.1  Dispute:</strong>  If any matter on which the parties cannot agree arises between the parties out of or in connection with these Terms ("Dispute"), either party may, by written notice to the other party, summon a meeting of the parties to the Dispute.  The party claiming a Dispute shall, in its written notice to the other party, designate as its representative to attend the meeting(s) a person with authority to settle the Dispute.  The party who receives such written notice shall give notice to the other party in writing within five Business Days of receipt designating as its representative to attend the meeting(s) a person with similar authority.
    </p>
    <p>
      <strong>13.2  Negotiation:</strong>  The persons designated as authorised representatives shall meet promptly as many times as necessary to discuss the matter and to negotiate to resolve the Dispute.
    </p>
    <p>
      <strong>13.3  Arbitration:</strong>  Where no agreement is reached within 20 Business Days from the first meeting of the authorised representatives under clause 13.2, any party to the Dispute shall be entitled by notice in writing to the other party, to require the Dispute to be finally resolved by arbitration under the Arbitration Act 1996 by a sole arbitrator to be appointed by agreement between the parties, or failing agreement within five Business Days of receipt of that notice, by the President of the New Zealand Law Society or their nominee.  The decision of the arbitrator shall be final and binding on the parties, and the costs of the arbitrator shall (subject to any award by the arbitrator) be borne equally by the parties to the dispute.
    </p>
    <p>
      <strong>13.4  Interlocutory relief:</strong>  Nothing in this clause 13 shall prevent any party from seeking urgent interlocutory relief.
    </p>
    <p>
      <strong>14. NOTICES</strong>
    </p>
    <p>
      <strong>14.1  Notice:</strong>  Every notice or other communication ("Notice") for the purposes of these Terms shall: 
      <ol type="a"> 
        <li>be in writing; and</li>
        <li>be delivered in accordance with clause 14.2.</li>
      </ol>
    </p>
    <p>
      <strong>14.2  Method of service:</strong>  A Notice may be given by sending it by email to the email address of the relevant party, provided that the Notice is not deemed received unless (if receipt is disputed) the party giving Notice produces a printed copy of the email which evidences that the email was sent to the email address of the party given Notice.
    </p>
    <p>
      <strong>14.3  Time of receipt:</strong>  A Notice given in the manner specified in clause 14.2 is deemed (subject to clause 14.2) received:
      <ol type="a">
        <li>
          if sent between 9am and 5pm on a Business Day, at the time of transmission; or
        </li>
        <li>
          if subclause (a) does not apply, at 9am (local time) on the Business Day most immediately after the time of sending.
        </li>
      </ol>
    </p>
    <p>
      For this purpose "local time" is the time in the place of receipt of the Notice.
    </p>
    <p>
      <strong>14.4  Addresses:</strong>  For the purposes of this clause the address details of each party are:
      <ol type="a"> 
        <li>
          the details set out below; or 
        </li>
        <li>
          such other details as any party may notify to the other by Notice given in accordance with this clause.
        </li>
      </ol>
      <ul class="no-list">
        <li>
          <strong>Chalkle:</strong> Email address: accounts@chalkle.com
        </li>
        <li>
          <strong>You:</strong> Email address: the email address nominated by You during the Online Registration Process.
        </li>
      </ul>
    </p>
    <p>
      <strong>15. VARIATIONS</strong>
    </p>
      <strong>15.1  Variation:</strong> Chalkle may, at its sole discretion, by giving You no less than two months written notice, introduce, amend, remove and/or replace:
      <ol type="a">
        <li>
          any terms and conditions of these Terms (including the description of services in Schedule 1, and any relevant timeframes, roles and responsibilities); and/or
        <li>
        </li>
          any fees applicable to the Services and/or the Chalkle Platform.
        </li>
      </ol>
    </p>
    <p>
      <strong>15.2  Termination by You:</strong> If Chalkle notifies You pursuant to clause 15.1 of any change to these Terms, or any new or increased fee, and such change or fees are unacceptable to You, You may terminate these Terms in accordance with clause 12.2.
    </p>
    <p>
      <strong>16. GENERAL</strong>
    </p>
    <p>
      <strong>16.1  Entire agreement:</strong> These Terms constitute the entire agreement between the parties relating to the subject matter of these Terms and supersedes and cancels any previous agreement, understanding or arrangement whether written or oral. 
    </p>
    <p>
      <strong>16.2 Further assurance:</strong>   Each party shall make all applications, execute all documents and do or procure all other acts and things necessary to implement and to carry out its obligations under, and the intention of, these Terms.
    </p>
    <p>
      <strong>16.3  No partnership, joint venture:</strong> Nothing in these Terms shall create or evidence any partnership, joint venture, agency, trust or employer/employee relationship between the parties (other than as expressly provided for in these Terms), and a party may not make, or allow to be made, any representation that any such relationship exists between the parties.  A party shall not have authority to act for, or to incur any obligation on behalf of the other party, except as expressly provided for in these Terms.
    </p>
    <p>
      <strong>16.4  Severance:</strong> If any provision of these Terms is or becomes unenforceable, illegal or invalid for any reason it shall be deemed to be severed from these Terms without affecting the validity of the remainder of these Terms and shall not affect the enforceability, legality, validity or application of any other provision of these Terms.
    </p>
    <p> 
      <strong>16.5  Waiver:</strong> No failure or forbearance by a party to exercise, or delay in exercising, (in whole or in part) any right, power or remedy under, or in connection with, these Terms shall operate as a waiver of that right, power or remedy.  A waiver of any breach of any provision of these Terms shall not be effective unless that waiver is in writing and is signed by the party against whom that waiver is claimed.  A waiver of any breach shall not be, or be deemed to be, a waiver of any other or subsequent breach.
    </p>
    <p>
      <strong>16.6  Governing law:</strong> These Terms is governed by the laws of New Zealand and the parties submit to the non-exclusive jurisdiction of the courts of New Zealand in respect of any dispute or proceeding arising out of these Terms.
    </p>
    <p>
      <strong>17. INTERPRETATION</strong>
    </p>
    <p>
      <strong>17.1  Definitions:</strong>  In these Terms unless the context otherwise requires:
    </p>
    <p>
      <strong>"Additional Services"</strong> means any additional services that the parties agree from time to time that Chalkle will provide, including the "Additional Services" set out in Schedule 1.
    </p>
    <p>
      <strong>"Business Day"</strong> means any day other than a Saturday, Sunday and a national public holiday in New Zealand.
    </p>
    <p>
      <strong>"Chalkle"</strong> means Chalkle Limited.
    </p>
    <p>
      <strong>"Chalkle Platform"</strong> means the online marketing and event management solution developed by or on behalf of Chalkle (which can be accessed through the Chalkle Website), and includes:
      <ol type="a">
        <li>the Marketing Platform;</li>
        <li>the Provider Page;</li>
        <li>the Online Resources,</li>
      </ol>
      <ul>
        <li> and, where relevant, means any component of the Chalkle Platform.</li>
      </ul>
    </p>
    <p>
      <strong>"Chalkler"</strong> means each person that signs up to participate in a Class through the Chalkle Platform.
    </p>
    <p>
      <strong>"Chalkler Fee"</strong> means the fee payable by a Chalkler per Class.
    </p>
    <p>
      <strong>"Chalkle Website"</strong> means http://chalkle.com/ (and any related Chalkle webpages).
    </p>
    <p>
      <strong>"Provider Page"</strong> means a white-labelled website with a unique URL hosted on the Chalkle Platform, made available by Chalkle to You.
    </p>
    <p>
      <strong>"Charges"</strong>  means, in respect of each Class paid for through the Chalkle Platform by a Chalkler, an amount equal to the Success Fee plus the Processing Fee.
    </p>
    <p>
      <strong>"Class"</strong> means a class that is listed by You on or through the Chalkle Platform.
    </p>
    </p>
    <p>
      <strong>"Commencement Date"</strong>  means the date specified as being the "Commencement Date" in Schedule 2.
    </p>
    <p>
      <strong>"Community Plan Services"</strong>  means the services described in Schedule 1 under the heading "Community Plan Services".
    </p>
    <p>
      <strong>"Disabling Code"</strong>  means any program code or programming instructions, or any thing or device, which may damage, interfere with, impair or otherwise adversely affect the operation of a programme or any data, including malicious code, trojan horses, worms, spyware, malware, computer viruses, logic bombs, backdoors, disabling code and other similar things.
    </p>
    <p>
      <strong>"Documentation"</strong> means the: 
      <ol type="a">
        <li>
          user manuals and other documentation (including those in electronic form), handbooks, materials, and other publications containing product descriptions or functionality or user directions relating to the Chalkle Platform and includes any amendments as may be made by Chalkle from time to time; and
        </li>
        <li>
          the Teacher Guide and the Privacy Policy.
        </li>
      </ol>
    </p>
    <p>
      <strong>"GST"</strong> means goods and services tax chargeable, or to which a person may be liable, under the Goods and Services Tax Act 1985, and any penalties, additional tax or interest payable in respect of goods and services tax.
    </p>
    <p>
      <strong>"Insolvency Event"</strong> means, in respect of a party:
      <ol type="a">
        <li>
          You are, becomes, or is deemed to be, insolvent or bankrupt;
        </li>
        <li>
          makes an assignment for the benefit of, or enters into or makes any arrangement or composition with, its creditors generally;
        </li>
        <li>
          goes into receivership or has a receiver, trustee and manager (or either of them) (including a statutory manager) appointed in respect of all or any of its property; or
        </li>
        <li>
          any resolution is passed, or any proceeding is commenced, for the dissolution of that party.
        </li>
      </ol>
    </p>
    <p>
      "Intellectual Property" means, in respect of any person, all intellectual and industrial property rights and interests (including common law rights and interests) owned or held by that person, or lawfully used by that person, including, without limitation:
      <ol type="a">
        <li>
          patents, trade marks, service marks, copyright, registered designs, trade names, symbols, and logos;
        </li>
        <li>
          patent applications and applications to register trade marks, service marks and designs; and
        </li>
        <li>
          formulae, methods, plans, data, drawings, specifications, characteristics, equipment, designs, inventions, discoveries, improvements, know-how, experience, software products, trade secrets, price lists, costings, brochures and other information used by that person.
        </li>
      </ol>
    </p>
    <p>
      <strong>"Marketing Platform"</strong> means the online marketing and booking platform which can be accessed through the Chalkle Website.
    </p>
    <p>
      <strong>"Online Registration Process"</strong> means the online registration process relating to the Chalkle Platform (which involves You accepting these Terms).
    </p>
    <p>
      <strong>"Online Resources"</strong> means the online resources and tools available through the Chalkle Website.
    </p>
    <p>
      <strong>"Privacy Policy"</strong> means the policy regarding the protection of private information and material provided by Chalkle to You, or available through the Chalkle Platform, as may be updated by Chalkle from time to time.
    </p>
    <p>
      <strong>"Processing Fee"</strong> means, in respect of any payment made by a Chalkler through the Chalkle Platform, the payment processing fee advised by Chalkle to You from time to time (the applicable fees as at the Commencement Date being set out in Schedule 2).
    </p>
    <p>
      <strong>"Service Fees"</strong> means the fees for any Additional Services, as advised by Chalkle to You from time to time.
    </p>
    <p>
      <strong>"Services"</strong> means the Community Plan Services and any Additional Services.
    </p>
    <p>
      <strong>"Success Fee"</strong> means the fee payable by You to Chalkle in respect of each booking made through the Chalkle Platform, as set out in Schedule 2.
    </p>
    <p>
      <strong>"Teacher"</strong> means each person that teaches, or will teach, a Class.
    </p>
    <p>
      <strong>"Teacher Guide"</strong> means the guide regarding the conduct of Teachers provided by Chalkle to You, or available through the Chalkle Platform, as may be updated by Chalkle from time to time.
    </p>
    <p>
      <strong>"Teacher Payment"</strong> has the meaning set out in clause 4.7(g).
    </p>
    <p>
      <strong>"Terms"</strong> means these terms and conditions.
    </p>
    <p>
      <strong>"You"</strong> means the person who completed the Online Registration Process (and, for the purposes of the definition of "Your Content", includes any person who logs into or otherwise accesses Your account or profile on the Chalkle Platform). 
    </p>
    <p>
      <strong>"Your Content"</strong> means any information, materials and/or content on or associated with the Chalkle Platform which is created, uploaded, entered or otherwise supplied by You (and includes any material derived from any such information, materials and/or content).
    </p>
    <p>
      <strong>17.2  References:</strong>  In these Terms unless the context otherwise requires:
      <ol type="a">
        <li>
          headings are to be ignored in construing these Terms;
        </li>
        <li>
          the singular includes the plural and vice versa;
        </li>
        <li>
          references to individuals include companies and other corporations and vice versa;
        </li>
        <li>
          a reference to a statute or other law includes regulations and other instruments under it and consolidations, amendments, re-enactments or replacements of any of them (whether before or after the date of these Terms);
        </li>
        <li>
          reference to any document includes reference to that document (and, where applicable, any of its provisions) as amended, novated, supplemented, or replaced from time to time;
        </li>
        <li>
          reference to a party, person or entity includes:
          <ol type="i">
            <li>
              an individual, partnership, firm, company, body corporate, corporation, association, trust, estate, state, government or any agency thereof, municipal or local authority and any other entity, whether   incorporated or not (in each case whether or not having a separate legal personality); and
            </li>
            <li>
              an employee, agent, successor, permitted assign, executor, administrator and other representative of such party, person or entity;
            </li>
          </ol>
        </li>
        <li> 
          "including" and similar words do not imply any limitation;
        </li>
        <li>
          "written" and "in writing" include any means of reproducing words, figures or symbols in a tangible and visible form;
        </li>
        <li>
          references to money are to New Zealand dollars;
        </li>
        <li>
          reference to a section, clause, sub-clause, schedule or a party is a reference to that section, clause, sub-clause, schedule or party in these Terms unless stated otherwise.
        </li>
      </ol>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="center">
      <br /><br />
      <h4>SCHEDULE 1A</h4>
      <h4>
        DESCRIPTION OF SERVICES: COMMUNITY PLAN SERVICES
      </h4>
    </div>
    <p>
      Chalkle will:
      <ul>
        <strong>Platform:</strong> Make the Chalkle Platform available for use by You in accordance with the terms of these Terms.
        <strong>Administrator:</strong> Provide 1 Administration login.
        <strong>Provider:</strong> Provide You with access to 1 Provider Page for You to brand itself.
        <strong>Teacher:</strong> Allow You to register 1 Teacher on the Chalkle Platform. 
        <strong>Free attendees:</strong> Allow You to process up to 20 free attendees per month on the Chalkle Platform.
        <strong>Fees:</strong> Collect the Chalkler Fees paid by Chalklers for Classes as agent for You.
        <strong>Fees:</strong> Transfer the Chalkler Fees (less the Charges and the Teacher Payments) to You on or by the 14th day after relevant Class takes place (unless the parties agree otherwise).
      </ul>
    </p>
    <h4>ADDITIONAL SERVICES</h4>
    <p>
      The following Additional Services may be available on request by a You:
      <ul>
        <li>
          Assist You with setup, training and launch packages relating to the Chalkle Platform. 
        </li> 
        <li>
          Assist You with design and promotional services relating to the Classes. </li> 
        </li>
      </ul>
      The Service Fee applicable to any Additional Services will be advised by Chalkle from time to time.
    </p>
  </div>
  <div class="center">
    <h4>SCHEDULE 1B: PRICING</h4>
  </div>
  <div class="col-xs-12 clearfix">
    <div class="col-xs-4 alert-success text-right borders">
      Fee
    </div>
    <div class="col-xs-6 alert-success borders">
      Amount
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4 text-right borders">
      Success Fee
    </div>
    <div class="col-xs-6 borders">
      $2 (plus GST) per Chalkler, per Class booked through the Chalkle Platform.
      <br />
      $6 (plus GST) per Chalkler, per Course booked through the Chalkle Platform.
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4 text-right borders">
      Processing Fee
    </div>
    <div class="col-xs-6 borders">
      The rate as advised by Chalkle (from time to time).
      <br />
      The rate as at the Commencement Date is 4%
    </div>
  </div>
  <div class="col-xs-12 clearfix">
    <div class="col-xs-4 text-right borders">
      Services Fee
    </div>
    <div class="col-xs-6 borders">
      As advised by Chalkle from (time to time).
    </div>
  </div>
  <div class="center">
    <br />
    <h4>SCHEDULE 2A</h4>
    <h4>
      DESCRIPTION OF SERVICES: STANDARD PLAN SERVICES
    </h4>
  </div>
  <p>
    Chalkle will:
    <ul>
      <li>
       <strong>Platform:</strong> Make the Chalkle Platform available for use by You in accordance with the terms of these Terms.
      </li>
      <li>
        <strong>Administrator:</strong> Provide 3 Administration logins.
      </li>
      <li>
        <strong>Provider:</strong> Provide You with access to 1 Provider Page for You to brand itself.
      </li>
      <li>
        <strong>Teacher:</strong> Allow You to register up to 10 Teachers on the Chalkle Platform.
      </li>
      <li> 
        <strong>Personalised provider:</strong> Provide a custom url for Your Provider Page.
      </li>
      <li>
        <strong>Regional promotion:</strong> Make Your Provider Page avaliable in mulitple regions.
      </li>
      <li>
        <strong>Free attendees:</strong> Allow You to process up to 50 free attendees per month on the Chalkle Platform.
      </li>
      <li>
        <strong>Fees:</strong> Collect the Chalkler Fees paid by Chalklers for Classes as agent for You.
      </li>
      <li>
        <strong>Fees:</strong> Transfer the Chalkler Fees (less the Charges and the Teacher Payments) to You on or by the 14th day after relevant Class takes place (unless the parties agree otherwise).
      </li>
    </ul>
  </p>
  <p>
    <strong>ADDITIONAL SERVICES</strong><br />
    The following Additional Services may be available on request by a You:  
    Assist You with setup, training and launch packages relating to the Chalkle Platform.  
    Assist You with design and promotional services relating to the Classes.  
    The Service Fee applicable to any Additional Services will be advised by Chalkle from time to time.
  </p>

  <div class="center">
    <h4>SCHEDULE 2B: PRICING</h4>
  </div>
  <div class="col-xs-12 clearfix">
    <div class="col-xs-4 text-right alert-success borders">
      Fee
    </div>
    <div class="col-xs-6 alert-success borders">
      Amount
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4 text-right borders">
      Success Fee
    </div>
    <div class="col-xs-6 borders">
      $6 (plus GST) per Chalkler, per Class booked through the Chalkle Platform.
      <br />
      $10 (plus GST) per Chalkler, per Course booked through the Chalkle Platform.
    </div>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-4 text-right borders">
      Processing Fee
    </div>
    <div class="col-xs-6 borders">
      The rate as advised by Chalkle (from time to time).
      <br />
      The rate as at the Commencement Date is 4%
    </div>
  </div>
  <div class="col-xs-12 clearfix">
    <div class="col-xs-4 text-right borders">
      Services Fee
    </div>
    <div class="col-xs-6 borders">
      As advised by Chalkle from (time to time).
    </div>
  </div>
</div>