<div class="row light">
  <div class="col-xs-12 col-lg-6">
    <p>
      <strong>1.  Acceptance</strong><br />
      These Terms are the terms and conditions on which Chalkle offers You access to the Chalkle Website. By completing the online registration process, You agree to be bound by these Terms. If You do not accept these Terms, You must refrain from using the Chalkle Website.
    </p>
    <p>
      <strong>2.  Registration</strong><br />
      Registration on the Chalkle website as a Teacher is free. You may only register as a Teacher if You are resident in New Zealand and at least 18 years old. By registering as a Teacher, You warrant that You have capacity to enter a legally binding contract, and that these Terms are legally binding on and enforceable against You.
    </p>
    <p>
      Chalkle may decline to register You, or may terminate Your registration, (or otherwise limit Your use of the Chalkle Website) if You fail to comply with these Terms, or where Chalkle otherwise considers it reasonable to do so.
    </p>
    <p>
      <strong>3.  Your obligations as a Teacher</strong><br />
      You agree that You must:
      <ul>
        <li>
          ensure that all Classes You teach are for proper educational purposes;
        </li>
        <li>
          be physically present (not remotely or virtually) at every Class that You teach;
        </li>
        <li>
          promptly notify Chalkle and the Provider Administrator if You are unable to conduct a Class; 
        </li>
        <li>
          comply at all times with the Teacher Guide and the Privacy Policy; 
        </li>
        <li>
          ensure that none of the materials You provide to Chalklers in connection with any Class contain any defamatory or distasteful content; and
        </li>
        <li>
          when teaching a Class:
          <ul>
            <li>conduct Yourself in a proper and professional manner; and </li>
            <li>be courteous and polite to Chalklers at all times.</li>
          </ul>
        </li>
      </ul>
    </p>
    <p>
      <strong>4.  Access and use</strong><br />
      The Chalkle Website is made available to You on an "as is" and "as available" basis.  You agree that You will access and use the Chalkle Website in accordance with these Terms, all instructions given to You by Chalkle from time to time, and all applicable laws.
    </p>
    <p>
      You may use the Chalkle Website:
      <ul>
        <li>
          to send and receive communications to and from Chalkle, Chalklers and Provider Administrators relating to Classes; and
        </li>
        <li>
          in any other way authorised by Chalkle in writing (including on the Chalkle Website or via Your nominated email address).
        </li>
      </ul>
    </p>
    <p>
      <strong>5.  Restrictions</strong><br />
      You must not:
      <ul>
        <li>copy or modify (or attempt to copy or modify) the Chalkle Website (or any part thereof);</li>
        <li>damage, interfere with or harm the Chalkle Website, or any network or system underlying or connected to it, or attempt to do so;</li>
        <li>disassemble, decompile, or reverse engineer all or any parts of the Chalkle Website, or attempt to do so, or directly or indirectly allow or cause a third party to do so;</li>
        <li>remove, obscure or alter any notice of patent copyright, restricted rights, trade secrets, trademarks or other proprietary right related to the Chalkle Website; </li>
        <li>use the Chalkle Website to damage or adversely affect Chalkle's reputation, business operations or assets (or the reputation, business operations or assets of any other parties dealing with Chalkle); or</li>
        <li>use the Chalkle Website in any way which is in breach of law (including to make any statements or representations that are misleading or deceptive (or likely to mislead or deceive), unsubstantiated, or otherwise in breach of the Fair Trading Act 1986).</li>
      </ul>
    </p>
    <p>
      <strong>6.  Risks and responsibilities</strong><br />
      Use of the Chalkle Website is at Your own risk.  Chalkle accepts no responsibility or liability for the conduct, advertising or other communications of any of its members (including Chalklers, Provider Administrators and other users), or for any Third Party Content.
    </p>
    <p>
      You agree to take all reasonable steps (including maintaining reputable third party anti-virus software) to ensure You do not directly or indirectly introduce any virus, malicious code, worms, spyware, malware, or other disabling code into the Chalkle Website.
    </p>
    <p>
      You are responsible for:
      <ul>
        <li>agreeing with Your Provider Administrator what fee (if any) You will receive for teaching any Classes; and</li>
        <li>keeping Your login details safe and secure, and You must not disclose Your login details to anyone else.</li>
      </ul>
    </p>
    <p>
      You acknowledge that:
      <ul>
        <li>
          it is the Provider Administrator's responsibility (not Chalkle's) to pay You the agreed fee for teaching a Class (and that Chalkle may pay that amount to You on the Provider Administrator's behalf, where instructed by the Provider Administrator to do so); and
        </li>
        <li>
          You are responsible for all taxes (including any GST and/or income tax) related to any amount You receive for teaching a Class.
        </li>
      </ul>
    </p>
    <p>
      All responsibility associated with Classes rests solely with You and the Provider Administrators.  Chalkle is not responsible for, and will have no liability in any way in connection with, any Class or the conduct of any Provider Administrators or any Chalkler.  In particular, You acknowledge that it is Your responsibility (not Chalkle's responsibility) to:
      <ul>
        <li>take the Classes advertised;</li>
        <li>prepare the content of, and provide the venue for, each Class;</li>
        <li>inform each Chalkler what materials they will need to supply; and</li>
        <li>ensure all relevant laws (including health and safety laws) are complied with.</li>
      </ul>
    </p>
    <p>
      Chalkle has no responsibility for any advertisement appearing on the Chalkle Website, or for any hyperlinks to other pages.  Responsibility for such Third Party Content rests solely with the relevant advertiser or third party, and Chalkle does not give a recommendation or endorsement to any such advertisements or the relevant product(s) or service(s) advertised.
    </p>
    <p>
      Chalkle may cancel any Class at any time if:
      <ul>
        <li>
          fewer than two Chalklers have registered to attend the Class;
        </li>
        <li>
          Chalkle objects to the content of the Class (including if Chalkle considers it inappropriate or offensive, or not for proper educational purposes);
        </li>
        <li>
          You are in breach of any provision of these Terms (including the Teacher Guide); or
        </li>
        <li>
          Chalkle has received negative feedback from Chalklers about You, and Chalkle considers it reasonable to do so.
        </li>
      </ul>
    </p>
    <p>
      7.  Warranties and liability<br />
      All warranties, conditions and representations (express, implied, statutory or otherwise) in respect of the Chalkle Website are excluded to the fullest extent permitted by law.  Chalkle makes no representation or warranty of any kind (express, implied, statutory or otherwise):
      <ul>
        <li>
          that access to the Chalkle Website will be uninterrupted, timely, secure, or error free;
        </li>
        <li>
          as to the operation, availability or performance of the Chalkle Website;
        </li>
        <li>
          that the Chalkle Website will be compatible or suitable for use with Your browser or information technology systems, infrastructure or equipment;
        </li>
        <li>
          that the Chalkle Website will be free from defects; or 
        </li>
        <li>
          that any information provided on the Chalkle Website will be reliable or free from errors.
        </li>
      </ul>
    </p>
    <p>
      In no circumstances shall Chalkle be liable to You in any way in connection with any non-availability or non-performance of, or any fault, error, defect or delay in or of, the Chalkle Website, of for any Third Party Content.
    </p>
    <p>
      You agree that, to the maximum extent permitted by law, all liability of Chalkle to You or any other person under or in connection with these Terms and/or the Chalkle Website (regardless of whether such liability arises in contract, tort, equity, breach of statutory duty or otherwise) is excluded.  To the maximum extent permitted by law, Chalkle's total aggregate liability to You in respect of any matters or claims (whether in contract, tort or otherwise) arising under or in connection with these Terms or the Chalkle Website shall not exceed the amounts (if any) paid by You to Chalkle in the previous three month period.  Chalkle will not be liable for any loss of profits or revenue, or any consequential, indirect or special loss or damages, or any loss of data.
    </p>
  </div>
  <div class="col-xs-12 col-lg-6">
    <p>
      You warrant that You will not use the Chalkle Website to:
      <ul>
        <li>infringe or impair the Intellectual Property of any person;</li>
        <li>upload or distribute any defamatory or distasteful material; or</li>
        <li>breach any law.</li>
      </ul>
    </p>
    <p>
      You will indemnify Chalkle (including each of its personnel, agents and other representatives) against all actions, proceedings, losses, liabilities, damages, claims, demands, costs and expenses (including all legal costs and expenses on a solicitor and own client basis) suffered or incurred by Chalkle (or its personnel, agents and other representatives) arising out of or in connection with:
      <ul>
        <li>any failure by You to comply with these Terms;</li>
        <li>any breach of law by You; and/or</li>
        <li>
          any claim that Your use of the Chalkle Website:
          <ul>
            <li>infringes or impairs the Intellectual Property of any person;</li>
            <li>contains any defamatory or distasteful material; or</li>
            <li>breaches any law.</li>
          </ul>
        </li>
      </ul>
    </p>

    <p>
      <strong>8.  Communication</strong><br />
      You agree that Chalkle may send You emails relating to Your registration, Classes, Provider Administrators and Chalklers, and other matters relating to the Chalkle Website.
    </p>
    <p>
      Chalkle encourages You to provide feedback regarding Your experience using the Chalkle Website.  You must ensure that any feedback or comments posted on the Chalkle Website do not contain any defamatory, offensive, or inappropriate language or content. Chalkle may remove any feedback or other comments that it considers to be defamatory, offensive, or inappropriate. 
    </p>
    <p>
      <strong>9.  Privacy</strong><br />
      Chalkle collects information about You through Your registration and use of the Chalkle Website (including Your registration details, information relating to Your use of the Chalkle Website, payment and transaction details, and information from other social media sites). Chalkle may also collect personal information for a purpose required or permitted by the Privacy Act 1993 or otherwise as required or permitted by law.
    </p>
    <p>
      Chalkle may use such information to verify Your identity, to communicate with You, to apply the Terms and protect Chalkle's rights, to help ensure the secure and proper operation of the Chalkle Website, for internal research purposes, and for any other use that You authorise.
    </p>
    <p>
      Chalkle will not sell or rent Your personal information to third parties.
    </p>
    <p>
      Chalkle will only release personal information when we believe it is required or appropriate:
      <ul>
        <li>
          for legal compliance (including disclosure to government agencies with statutory law enforcement responsibilities, such as the New Zealand Police):
        </li>
        <li>
          to facilitate court proceedings:
        </li>
        <li>
          to apply the Terms and/or protect Chalkle's rights: 
        </li>
        <li>
          to help ensure the secure and proper operation of the Chalkle Website;
        </li>
        <li>
          as otherwise set out in these Terms: or 
        </li>
        <li>
          as You may otherwise authorise Chalkle to do so.
        </li>
      </ul>
    </p>
    <p>
      Chalkle may also disclose Your personal information to Provider Administrators and Chalklers in connection with any Class for which You are the Teacher.
    </p>
    <p>
      From time to time Chalkle may engage third party contractors to perform services for Chalkle relating to the Chalkle Website, and it may be necessary to disclose Your personal information to those contractors for that purpose.  Chalkle will ensure that its contracts with third party contractors include clauses which protect Your personal information against unauthorised disclosure or use.
    </p>
    <p>
      You can update Your personal information through the Chalkle Website (including changing Your email address, password, phone number, etc). Also, if You would like to check or correct any personal information that Chalkle holds about You, You can send an email to: accounts@chalkle.com.
    </p>
    <p>
      <strong>10.  General</strong><br />
      <strong>Intellectual property:</strong> All intellectual and industrial property rights and interests (including common law rights and interests) in and associated with the Chalkle Website (including any trade marks, service marks, copyright, registered designs, trade names, symbols, and logos) are and will remain the exclusive property of Chalkle (or its licensors), and nothing in these Terms confers on You or any other person any rights or interests in the Chalkle Website (or any part thereof), other than to use the Chalkle Website in accordance with the terms of these Terms.
    </p>
    <p>
      <strong>Confidentiality:</strong> You shall not disclose, or permit to be disclosed, to any person, any information obtained through Your use of the Chalkle Website, other than for the purposes of performing Your function as a Teacher, or as required by law.
    </p>
    <p>
      <strong>Amendments:</strong> Chalkle may amend these Terms from time to time. Amendments will be effective immediately upon posting of the amended terms and conditions on the Chalkle Website. It is Your responsibility to ensure You are familiar with the latest Terms. Your continued use of the Chalkle Website demonstrates Your acceptance of the Terms as amended.
    </p>
    <p>
      <strong>Entire agreement:</strong> These Terms constitute the entire agreement between You and Chalkle relating to the subject matter of these Terms and use of the Chalkle Website and supersedes and cancels any previous agreement, understanding or arrangement whether written or oral. 
    </p>
    <p>
      <strong>No partnership, joint venture:</strong> Nothing in these Terms shall create or evidence any partnership, joint venture, agency, trust or employer/employee relationship between the parties and neither party shall have authority to act for, or to incur any obligation on behalf of, the other party.
    </p>
    <p>
      <strong>Severance:</strong> If any provision of these Terms is or becomes unenforceable, illegal or invalid for any reason it shall be deemed to be severed from these Terms without affecting the validity of the remainder of these Terms and shall not affect the enforceability, legality, validity or application of any other provision of these Terms. 
    </p>
    <p>
      <strong>Waiver:</strong> No failure or forbearance by Chalkle to exercise, or delay in exercising, (in whole or in part) any right, power or remedy under, or in connection with, these Terms shall operate as a waiver of that right, power or remedy.  A waiver of any breach of any provision of these Terms shall not be effective unless that waiver is in writing and is signed by the party against whom that waiver is claimed.  A waiver of any breach shall not be, or be deemed to be, a waiver of any other or subsequent breach.
    </p>
    <p>
      <strong>Governing law:</strong> These Terms are governed by the laws of New Zealand and the parties submit to the non-exclusive jurisdiction of the courts of New Zealand in respect of any dispute or proceeding arising out of these Terms.
    </p>
    <p>
      <strong>11. Interpretation</strong><br />
      <strong>Terminology:</strong> In these terms and conditions, the following expressions have the meanings set out:
      <ul>
        <li>
          <strong>Chalkle</strong> means Chalkle Limited.
        </li>
        <li>
          <strong>Chalklers</strong> means any person who has booked a Class through the Chalkle Website.
        </li>
        <li>
          <strong>Chalkle Website</strong> means http://chalkle.com/ (and any related Chalkle webpages).
        </li>
        <li>
          <strong>Provider Administrator</strong> means a person who has listed a Class (or Classes).
        </li>
        <li>
          <strong>Class</strong> means a class that is listed on the Chalkle Website.
        </li>
        <li>
          <strong>Privacy Policy</strong> means the policy regarding the protection of private information and material provided by Chalkle to You (or available through the Chalkle Website), as may be updated by Chalkle from time to time.
        </li>
        <li>
          <strong>Teacher</strong> means the person who will teach a Class (or Classes).
        </li>
        <li>
          <strong>Teacher Guide</strong> means the guide regarding Your conduct as a Teacher as provided to You by Chalkle (or made available through the Chalkle Website) and as may be updated by Chalkle from time to time.
        </li>
        <li>
          <strong>Terms</strong> means these terms of use for the Chalkle Website.
        </li>
        <li>
          <strong>Third Party Content</strong> means any content posted or uploaded to, or accessible from, the Chalkle Website (including hyperlinks to other websites) by any person other than Chalkle (and includes all content posted or uploaded by You, any other Teacher, any Provider Administrator, or any other member or user).
        </li>
      </ul>
    </p>
    <p>
      <strong>References:</strong>  In these Terms unless the context otherwise requires:
      <ul>
        <li>
          headings are to be ignored in construing these Terms;
        </li>
        <li>
          the singular includes the plural and vice versa;
        </li>
        <li>
          reference to a statute or other law includes regulations and other instruments under it and consolidations, amendments, re-enactments or replacements of any of them (whether before or after the date of these Terms);
        </li>
        <li>
          reference to any document includes reference to that document (and, where applicable, any of its provisions) as amended, novated, supplemented, or replaced from time to time; and
        </li>
        <li>
          "including" and similar words do not imply any limitation.
        </li>
      </ul>
    </p>
  </div>
</div>
