<div class="_teacher col-xs-12 col-sm-6">
  
  <div class="avatar64 pull-left">
    <img class="img" src="<%= provider_teacher.avatar %>">
  </div> 

  <div class="name">
    <%= link_to provider_teacher.name, provider_teacher_path(provider_teacher.path_params) %>
  </div>

  <div class="light">
    <% if provider_teacher.next_class.present? %>
      <div>
        Next class: <span><%= quick_date_time provider_teacher.next_class.start_at %></span>
      </div>
      <div>
        <%= link_to provider_teacher.next_class.name, provider_course_path(provider_teacher.next_class.path_params), style: "colour: #{ provider_teacher.next_class.color }" %>
      </div>
    <% else %>
      <div>No scheduled classes</div>
    <% end %>
  </div>

</div>