<div class="_teacher">
  
  <div class="avatar64">
    <div class="img" style="background-image: url(<%= provider_teacher.avatar %>)">
    </div>
  </div> 
  <div class="details">
    <div class="name">
      <%= link_to limit_text(provider_teacher.name,20), provider_teacher_path(provider_teacher.path_params), title: provider_teacher.name %>
    </div>

    <div class="light">
      <% if defined? hide_next_date %>
        <div class="smaller strong grey">
          Your Teacher
        </div>
      <% elsif provider_teacher.next_class.present? %>
        <div class="small">
          <%= link_to provider_course_path(provider_teacher.next_class.path_params) do %>
            Teaching on <span><%= quick_date provider_teacher.next_class.start_at %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>