<div class="people">
  <div class="row">
    <div class="col-xs-8">
      <h2 class="flush">
        Teachers
      </h2>
    </div>
    <div class="col-xs-4 text-right">
       <% if policy(@provider).admin? %>
          <%= link_to "Add Teacher", new_provider_teacher_path(@provider.url_name), { class: 'btn btn-warning'} %>
        <% end %>
    </div>
  </div>
  <br />
  <%= render @teachers %>
</div>