<% if policy(@provider).admin? %>
  <div class="alert alert-warning">
    <h5>Note to <%= @provider.name %> admins</h5>
    <p>Apologies, at this point in time it is not possible to remove teachers from the system. We are working on this and it will be available soon.</p>
  </div>
<% end %>

<div class="people">

  <div class="fancy-header">
    <h3><%= @provider.name %> Teachers</h3> 
    <hr />
  </div> 


  <br />
  <%= render @teachers %>
</div>