<%= render 'heading' %>

<input id="provider_url_name" type="hidden" value="<%= @provider.url_name %>" />

<div class="text-center" id="fetch_missing" style="display: none;">
  <h4>Sorry, there was a problem.</h4>
  <button class="btn btn-success" onclick="window.location.reload()">Try Again</button>
</div>

<div id="provider_fetch_wrapper">
</div>
