<div aria-hidden="<%= true %>" aria-labelled-by="Terms and Conditions" class="modal fade" id="termsModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
        <h3>Booking Terms and Conditions</h3>
      </div>
      <div class="modal-body">
        
          <h4>Disclaimer</h4>
          <p>
          Whilst every possible assistance will be offered, chalkle&deg;, the Event
          Organisers/Hosts and members cannot be held responsible for any accident,
          injuries or losses sustained leading up to, during, or after a class.
          </p>
          <h4>Cancellation policy</h4>
          <p>
          If you RSVP for a class and fail to show up, you will get a "no show".
          Three no shows means you will be removed from chalkle&deg;. You may request to
          rejoin after six months.
          </p>
          <p>
            <strong>If you cancel your booking:</strong>
          <ul>
            <li>
              less than 3 days before: no refund
            </li>
            <li>
              after 7pm the night before: no refund and a "no show" will be recorded
            </li>
          </ul>
          </p>
        </p>
      </div>
      <div class="modal-footer">
        <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>