<%= bootstrap_form_for(@booking, wrapper: :simple_bootstrap3, url: cancel_course_booking_path(@booking.course.id, @booking.id), html: { id: ''}) do |f| %>
  <input name="_method" type="hidden" value="put" />
  <input type="submit" value="Confirm Cancel" class="pull-right btn btn-danger" />
  <h2>Are you sure you want to cancel your booking?</h2>
  
<% end %>
<ul>
  <% if @booking.paid && @booking.paid > 0 %>
    <% if @booking.refundable? %>
      <li>
        If cancelled, the $<%= @booking.paid %> you have paid for this booking will be refunded within 21 days
      </li>
      <li>
        You will not be able to attend this course
      </li>
      <li>
        The teacher will be notified
      </li>
    <% else %>
      <li>
        The $<%= @booking.paid %> already paid is non-refundable because we are within <%= @booking.no_refund_period_in_days %> days of the class running
      </li>
      <li>
        You will not be able to attend this course
      </li>
      <li>
        The teacher will be notified
      </li>
    <% end %>
  <% else %>
    <li>
      You will not be able to attend this course
    </li>
    <li>
      The teacher will be notified
    </li>
  <% end %> 
</ul>