<div class="bookings">
  <% if policy(@course).bookings_csv? %> 
    <%= link_to "Download booking summary CSV", csv_course_bookings_path(@course) %>
    <% if @course.custom_fields.present? %>
      <small class="small grey">(Includes custom fields)</small>
    <% end %>
  <% end %>
  <br />
  <br />

  <%= render 'bookings_list' %>
</div>