<%= render 'courses/heading' if @course %>

<div class="bookings">
  

  <%= link_to "View Spreadsheet/CSV", csv_provider_course_bookings_path(@course.path_params), class: 'btn btn-info pull-right' if @course %>


  <br />
  <br />

  <%= render 'bookings/bookings_list' %>
</div>