- title "Booking: #{@booking.lesson.name}"

%h2 New Booking

.row
  .span12
    %section.booking-lesson-summary
      %h3 Booking summary
      %ul
        %li
          %strong Class:
          = @booking.lesson.name
        %li
          %strong Time:
          = @booking.lesson.start_at
        %li
          %strong Cost:
          = @booking.lesson.formatted_price
