<div class="clearfix">
  <%= link_to "All Bookings", sudo_bookings_path, class: 'btn btn-default' %>
  <%= link_to "Pending Refunds", pending_refunds_sudo_bookings_path, class: 'btn btn-default' %>
  <%= link_to "Completed Refunds", completed_refunds_sudo_bookings_path, class: 'btn btn-default' %>
</div>
<br /><br />