<%= render 'sub_menu' %>
<div class="row even hidden-xs">
   <div class="col-sm-1">
    Date
  </div>
  <div class="col-sm-1">
   Booking
  </div>
  <div class="col-sm-1">
    Paid
  </div>
  <div class="col-sm-4">
    Chalkler
  </div>
  <div class="col-sm-5">
  </div>
</div>
<%= render @bookings %>