<div class="row even">
 <div class="col-sm-3 col-xs-6">
    Chalkler
  </div>
  <div class="col-sm-3 col-xs-6">
    Class
  </div>
  <div class="col-sm-3 col-xs-6">
    Status
  </div>
  <div class="col-sm-3 col-xs-6">
    Payment
  </div>
</div>
<%= render @bookings %>