<h3 style="border-bottom: solid 1px #ececec; padding-bottom: 5px;">
Hello <%= @chalkler.name %>,
</h3>
Unfortunately <%= @course.channel.name -%> has had to cancel <%= @course.name -%>. You should receive a full refund notification from Chalkle shortly.<br />
<br/>
If you have any questions, please contact the provider directly. <br />
<br/>
In the meantime, check out <%= link_to 'chalkle.com', root_url -%> for more classes.<br />
<br />
Cheers! 
<br />