<h3 style="border-bottom: solid 1px #ececec; padding-bottom: 5px;">
Hello <%= @chalkler.name %>,
</h3>
Thanks for coming along to your class, we hope you had a great time and learning something new!
<br/>
We’d love some feedback on how the class went and your experience using Chalkle. 
Please let us know if there is anything you’d like to share.
<br/>
Cheers! 
<br />
