<h4><%= @provider_contact.subject %></h4>
<% if @provider_contact.chalkler.present? %>
  <p>
    From: <%= link_to @provider_contact.chalkler.name, chalkler_url(@provider_contact.chalkler) %>
  </p>
  <p>
    Email: <% @provider_contact.from %>
  </p>
<% else %>
  <p>
    From: User was not signed in when form was sent
  </p>
  <p>
    Email: <% @provider_contact.from %>
  </p>
<% end %>
<p>
  Message: <%= @provider_contact.message %>
</p>