$grid-float-breakpoint: 0px;
$font_family_normal: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-height: 62px;
$line-height: 1.5em;
$mob-line-height: 1.75em;
$letter-spacing: 1.5px;

$desktop-nav-height: 62px;
$mobile-nav-height: 50px;

$color-header: rgba(74,144,226,0.9);
$color-header-opaque: rgba(74,144,226,1);

$color-primary: rgba(74,144,226,1);
$color-primary-hover: rgba(32,96,170,0.9);
$color-primary-active: rgba(76,126,147,0.9);

$color-default: rgba(74,144,226,1);
$color-default-hover: rgba(7,102,202,0.9);
$color-default-active: rgba(7,102,202,0.9);

$color-minor-layout-elements: rgba(255, 255, 255, 0.37);

$color-success: rgba(76,126,147,1);
$color-success-hover: rgba(76,126,147,0.9);
$color-success-active: rgba(76,126,147,0.9);

$color-info: rgba(76,126,147,1);
$color-info-hover: rgba(76,126,147,0.9);
$color-info-active: rgba(76,126,147,0.9);

$color-warning: rgba(76,126,147,1);
$color-warning-hover: rgba(76,126,147,0.9);
$color-warning-active: rgba(76,126,147,0.9);

$color-danger: rgba(76,126,147,1);
$color-danger-hover: rgba(76,126,147,0.9);
$color-danger-active: rgba(76,126,147,0.9);


@import "_placeholder";