$grid-float-breakpoint: 0px;
$font_family_normal: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: rgba(76,126,147,0.9);
$primary-color-opaque: rgba(76,126,147,1);
$navbar-height: 62px;
$line-height: 1.5em;
$mob-line-height: 1.75em;
$letter-spacing: 1.5px;

@import "_placeholder";