.checkbox-inline {
  padding-left: 0;
}
.dropdown-menu {
  border-radius: 4px;
  border: 0;
}
label.radio_buttons {
  display: block;
}
.repeating-options .radio {
  width: auto;
  display: inline-block;
  padding-right: 30px;
  margin-top: 0;
  .form-control {
    width: auto;
  }
  label {
    line-height: 2.5em;
  }
}
