.dropdown {
  
  .dropdown-menu {
    border-radius: 0;
    font-family: "proxima-nova",sans-serif; 
    left: -1px;
    background: #dfdfdf;
    text-shadow: none;
    font-weight: 100;
    padding-top: 0;
    @media screen and (max-width: 768px) {
      top: 69px !important;
      left: 0 !important;
      overflow-y: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      height: 100%; 
      width: 100%;
      padding-bottom:100px;
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
    }

    li{
      a{
        padding: 8px 20px;
      }
    }

    .divider {
      background-color: rgba(255, 255, 255, 0.37); 
      height: 1px !important;
      margin: 10px 0;
      padding: 0 !important;
      overflow: hidden;
      max-height: 1px !important;
      min-height: 1px !important;
    }
    .divider.visible-xs{
      margin: 0 !important;
    }
    
  }

  &.open {
    .dropdown-menu {
      @media screen and (max-width: 768px) {
        button {
          border: 0;
          background: #efefef !important;
        }
        position: fixed !important;
        left: 0;
        width: 100%;
        top: 64px;
        z-index: 100;
        background: #fff;
        height: 100% !important;
        max-height: none;
        margin: 0;
        padding: 0;
        >a{
          padding-left: 55px !important;
          :before{
            display: inline-block;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-right: 15px solid #F5BA56;
            border-top: 8px solid transparent;
            border-left: 0 dotted; 
            border-bottom: 8px solid transparent;
            vertical-align: middle;
            margin-left: 2px;
            content:'';
            position: absolute;
            left: 30px;
            top: 18px;
          }
          :after{
            border: none;
          }
        }
        li{
          .btn, a {
            color: #333;
            text-align: left;
            line-height: 2.5em;
            img{
              margin-top: 0 !important;
            }
          }
        }
      }
    }
  }

}
