@import "_vars";

html {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

html {
  body.v2 {
    height: 100%;
    min-height: 100%;
    color: #727272;
    font-family: $font_family_normal;
    padding-top: 0; 
    background-color: transparent;
    margin-bottom: 0;
    letter-spacing: $letter-spacing;

    h1,h2,h3,h4,h5,h6 {
      font-weight: 300;
    }

    a:focus, a:hover, a:active { text-decoration: none !important; }
    
    .messages {
      margin-top:20px;
      position: fixed;
      z-index: 1000;
      width: 100%;
      margin-left: 0;
      left: 0;
      @media screen and (min-width: 769px) { top: 112px; }
      @media screen and (max-width: 768px) { bottom: 0;  }

      .alert {
        border-radius:0;
        text-align: center;
        font-size: 24px; 
        &.alert-danger{
          .close {
            color: #fff;
          }
          background-color: rgba(45,45,45,0.9);
          border: none;
          color: #fff;
        }
      }
    }



    >.body-content{
      background-image: asset-url('icons/body-content-loader.gif', images);
      background-position: center 150px;
      background-size: 43px 43px;
      background-repeat: no-repeat;
      min-height: 100%;
      background-color: #fff;
      #wrapper{
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s;
        width:100%;
        min-height: 100%;
        background-color: #fff;
        div[role=main] {
          padding-bottom:75px;
          position: relative;
          min-height: 200px;
        } // div[role=main] 
      } // #wrapper
    } // >.body-content
  } // body
} // html
