@import "_vars";

html {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

html {
  body.v2 {
    height: 100%;
    min-height: 100%;
    color: #727272;
    font-family: $font_family_normal;
    padding-top: 0; 
    background-color: transparent;
    margin-bottom: 0;
    letter-spacing: $letter-spacing;

    h1,h2,h3,h4,h5,h6 {
      font-weight: 300;
    }

    a:focus, a:hover, a:active { text-decoration: none !important; }
    
    .site-messages {
      overflow:hidden;
      bottom: 0;
      position: fixed;
      left: 0;
      width: 100%;
      z-index: 999;
      background: #333;
      box-shadow: 0px 0px 5px  rgba(0, 0, 0, 0.3);   

      .container {
        text-align:center;
        transition: height 200ms ease-out;
        height: 0;
        max-width: 720px;
        .dismiss {
          font-size: 30px;
          padding: 0;
          &:hover{
            color: #bfc3c6
          }
        }
        .scroll {
          overflow-y: scroll;
        }
        div{
          position: relative;
          color: #fff;
          padding: 10px 20px;
          &:before{
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 20px;
            position: absolute;
            top: 15px;
            left: 0;
          }
          &.success{
            &:before{
              background-color: #d6e9c6;
            }
          }
          &.danger{
            &:before{
              background-color: #a94442;
            } 
          }
        }

      }
    }



    >.body-content{
      background-image: asset-url('icons/body-content-loader.gif', images);
      background-position: center 150px;
      background-size: 43px 43px;
      background-repeat: no-repeat;
      min-height: 100%;
      background-color: #fff;
      #wrapper{
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s;
        width:100%;
        min-height: 100%;
        background-color: #fff;
        div[role=main] {
          padding-bottom:75px;
          position: relative;
          min-height: 200px;
        } // div[role=main] 
      } // #wrapper
    } // >.body-content
  } // body
} // html
