.center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
.dropdown-toggle { cursor: pointer; }
.modal form { margin: 0px; }
.modal-open { margin-right: 0px; }