  <div class="outgoing_break_down">
    <div class="outgoing_course">
      <h4 class="flush upper">Courses and Bookings</h4>
      <br />
      <div class="light hidden-xs">
        
        <div class="col-xs-3">
          Date
        </div>

        <div class="col-xs-2">
          ID
        </div>

        <div class="col-xs-5">
          NAME
        </div>
        
        <% if outgoing_payment.for_channel? %>
          <div class="col-xs-2">
            Provider Income
          </div>
        <% end %>
        
        <% if outgoing_payment.for_teacher? %>
          <div class="col-xs-2">
            Teacher Income
          </div>
        <% end %>

      </div>
      <br />
      <%= render partial: 'courses/income_breakdown', collection: outgoing_payment.courses.order(:start_at), locals: {hide_teacher: outgoing_payment.for_channel?, hide_provider: outgoing_payment.for_teacher? } %>
    </div>
  </div>