<div class="col-xs-12">
  <%= link_to ( outgoing_payment.for_provider? ? provider_outgoing_path(outgoing_payment.path_params) : provider_teacher_outgoing_path(outgoing_payment.path_params) ) do %>
    <div class="col-xs-4">
      <%= quick_date(outgoing_payment.paid_date, true, true) %>
    </div>
    <div class="col-xs-4">
      <%= number_to_currency outgoing_payment.total %>
    </div>
    <div class="col-xs-4">
      <%= outgoing_payment.bank_account %>
    </div>
  <% end %>
</div>