.new_booking {
	#booking_names{
		.attendee_name, .add_attendee {
			display: inline-block;
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
		.remove_attendee {
			padding: 1px 5px;
			display: inline-block;
			background-color: #bbb;
			border-radius: 20px;
			cursor: pointer;
			margin: 5px 10px;
			color: #fff;
			&:hover{
				background-color: red;
			}
		}
		.add_attendee{
			list-style: none;
		}
	}
	.parts{
		display: none;
		clear: both;
	}
	.part-form {
		display: block;
	}
	.booking_set_booking_custom_fields{
		.checkbox {
			input {
				position: static !important;
			}
		}
	}
	.attendee {
		display: none;
	}
}

