.new_booking {
	#booking_names{
		li {
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.parts{
		display: none;
		clear: both;
	}
	.part-question {
		.btn{
			margin-top: 20px;
		}
	}
	.prev_attendee,.next_attendee{
		margin-top: 20px;
	}
	.booking_set_booking_custom_fields{
		.checkbox {
			input {
				position: static !important;
			}
		}
	}
	.attendee {
		display: none;
	}
}

