$calendar-cell-weekday: #D6D6D6;
$calendar-cell-weekend: #C6C6C6;
$calendar-cell-height: 202px;

table.month_calendar_view {
  width: 100%;
  margin-bottom: 1em;

  th, td {
    border-left: 7px solid $browse-courses-background;
    color: $fe-heading-color;

    &:first-child {
      border-left-width: 0;
    }
  }

  th, td {
    padding: 0;
    width: 14.29%;
  }

  td {
    background-color: $calendar-cell-weekday;
    height: $calendar-cell-height;
    vertical-align: top;

    .inner {
      position: relative;
      height: 100%;
      height: $calendar-cell-height;
    }

    &.has_classes:hover {
      background-color: darken($calendar-cell-weekday, 10%)
    }

    .course_count {
      display: none;
    }
  }

  td.show_more {
    .course_count {
      display: block;
      position: absolute;
      bottom: 2px;
      height: 20px;
      line-height: 20px;
      text-align: bottom;
      padding: 0 7px;
      text-align: right;
      width: 100%;
    }

    ul.courses {
      li.last_showing a {
        height: 28px;

        > div {
          height: 20px;
        }
      }
    }
  }

  th {
    font-weight: normal;
    font-size: 20px;
    height: 40px;
  }

  th > .title {
    background-color: $calendar-cell-weekday;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    padding-left: 7px;
    position: relative;
  }

  th > .title:after {
    right: -40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    border-left-color: $calendar-cell-weekday;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
  }

  th.weekend > .title, td.weekend {
    background-color: $calendar-cell-weekend;
  }

  td.weekend {
    &.has_classes:hover {
      background-color: darken($calendar-cell-weekend, 10%)
    }
  }

  th.weekend > .title:after {
    border-left-color: $calendar-cell-weekend;
  }

  tr {
    border-bottom: 14px solid $browse-courses-background;
  }

  tbody tr:last-chid {
    border-bottom-width: 0;
  }

  .day_title {
    padding: 0 7px;
    height: 35px;
    line-height: 35px;

    .day_letter {
      font-weight: bold;
    }
  }

  td {
    ul.courses {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 1px;
        overflow: hidden;

        &:last-child {
          margin-bottom: 0;
        }

        &.more {
          display: none;
        }

        a {
          color: white;
          font-size: 14px;
          padding: 4px 7px;
          display: block;
          text-decoration: none;
          height: 50px;
          line-height: 20px;

          &:hover {
            text-decoration: none;
          }

          .time {
            font-weight: bold;
            margin-right: 0.3em;
          }

          > div {
            height: 40px;
            overflow: hidden;
          }
        }
      }
    }

    i {
      height: 35px;
      padding-top: 10px;
      float: right;
      display: none;
    }

    &.has_classes i {
      display: inherit;

      &.fa-compress {
        display: none;
      }
    }

    &.expanded i.fa-compress {
      display: inherit;
    }
    &.expanded i.fa-expand {
      display: none;
    }
  }

  td.expanded {
    .course_for_day {
      background-color: white;
      width: 150%;
      min-height: $calendar-cell-height - 14px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      box-shadow: 0px 0px 15px #666;

      ul {
        padding: 0 1px 1px 1px;

        li.more {
          display: block;
        }
      }
    }

    &:last-child .course_for_day {
      left: auto;
      right: 0;
    }
  }

  td.past {
    background-color: $browse-courses-background;

    ul.courses {
      opacity: 0.5;
    }
    &.expanded ul.courses {
      opacity: 1.0;
    }

    &.has_classes:hover {
      background-color: $browse-courses-background;

      .inner {
        border-color: darken($calendar-cell-weekday, 20%);
        background-color: darken($browse-courses-background, 5%);
      }
    }

    .inner {
      border: 2px dashed $calendar-cell-weekday;
      height: $calendar-cell-height;
    }
  }

  td.present .inner {
    border: 2px solid #333;
  }
}