-title "New Class"
.jumbotron
  %h2 At chalkle&deg;, anyone can be a teacher
  %p So tell us about your idea and take the first step towards being a chalkle&deg; teacher

.big_alert
  %h2 Join a channel to start teaching

  %p Chalkle classes are