%h1== Welcome to chalkle teaching, #{current_chalkler.name}

%hr

%h3 Complete this form to tell us about your class
%p This form will take approximately 10 minutes to complete. If you have any quetsions, please contact #{link_to 'Us',"mailto:teaching@chalkle.com"}
%br
= render partial: 'chalkler_teaching'

