- @channel_email ? channel_curator_contact = " at "+ mail_to(@channel_email) : channel_curator_contact = ""
%h2 Class submitted!
%p
  Thanks! chalkle° thrives on people willing to share their skills.
%p
  We will be in touch if we have any questions. If all details are finalised your class will be announced in due course. If you have any questions or need to make changes please contact your Channel Curator#{channel_curator_contact.html_safe}.
%p
  =link_to 'Return to your dashboard', root_url
