%p 
  Thanks! 
%p
  chalkle° thrives on people willing to share their skills. 
%p
  We will be in touch if we have any questions. If all details are finalised your class will be announced in due course. 
%p
  If you have any questions or need to make changes please contact your Channel Curator #{mail_to @curator_email}
%p
  =link_to 'Return to your dashboard', root_url
