-title "Suggest a class"

.row
  .span12
    .hero-unit
      %h2 Suggest a class
      %p Our channel admins will gauge community interest and strive to make it happen!
.row
  .span12
    =render 'form'
