- title 'Suggest a class'

.row
  .col-md-12
    .hero-unit
      %h2 What do you want to learn?
      %p Your channel admin will use your ideas to gauge community interest!
.row
  .col-md-12
    :markdown
      ### Suggest a class
      Your suggestion will be forwarded to your channel admin.  If you wish to
      **teach** a class, please use the [Teach form](/chalklers/teachings/new).
    = render 'form'
