@import "../_vars";

html{
  background-color: $color-header-opaque; 
}

.header {
    background-size: cover;
    background-repeat: no-repeat !important;
    background-position: center;
    overflow-y: visible;
    .header_bg {
      background-color: rgba(255,255,255,0.65);
      color: rgba(63,63,63,0.74);
      padding: 0;
      position:relative;
      @media screen and (max-width: 768px){
        padding-top: 50px;
      }
      @media screen and (min-width: 769px){
        padding-top: 62px;
      }
      a{
        color: rgba(63,63,63,0.74);; 
      }
      .container {
        @media screen and (max-width: 768px){
          padding: 0;
        }
      }
      .page_title_logo {
        float: left;
        width: 15%;
        min-height: 50px;
      }
      .inner_header_content {
        z-index: 1;
        position:relative;
        max-width: 1170px;
        @media screen and (min-width: 1200px) {
          padding: 0 17px;
        }
        margin:0 auto;
        a {
          &.nav_links {
            color: #fff;
          }
          color: #fff;
        }
        a:hover,a:active,a:focus {
          color: #333;
          background-color: rgba(255,255,255,0.35);
        }
      }
      .title-wrapper {
        width:60%;
        .title {
          width:85%;
          min-height:27px;
          padding-right: 20px;
          float: left;
          text-transform: uppercase;
          @media screen and (max-width: 768px) {
            width:100%;
            text-align: center;
          }
          h1 {
            margin: 0;
            font-family: "proxima-nova",sans-serif;
            font-weight: 400;
            letter-spacing: 0.07em;
            color: rgba(63,63,63,0.74);
            font-style: italic;
          }
        }
      }
      .title-wrapper,.context_nav_wrapper {
        overflow:hidden;
        @media screen and (max-width: 992px) {
          width:100% !important;
          float: none;
        }
      }
    }
   
  }
