@import "../_vars";

.navbar-wrapper {
  #primary-navigation {
    font-weight: 500;
    font-family: "proxima-nova", sans-serif;
    @media screen and (max-width: 768px){
      padding-right: 120px;   
    }
    @media screen and (min-width: 769px){
      padding-right: 220px;   
    }

    #primary-menu {
      position: absolute;
      height: 100%;
      top: 0;
      right: 15px;
    }
  }
  .header_new_class{
    font-size: 0.7em;
    line-height: 23px;
  }

  .navbar {
    border-width: 0px !important;
    font-size: 20px;

    .profile-img {
      a{
        span {
          width: 24px;
          height: 24px;
        }
        img{
          height: 100%;
          width: 100%;
        }
      }
    }

    .nav {
      margin: 0px;

      li {
        height: 100%;
        margin-bottom: 0;
        display: block;

        &.notifications-drop{
          .nav_img{
            @media screen and (min-width: 769px){
              margin: 19px 0;
            }
            @media screen and (max-width: 769px){
              margin: 14px 0;
            }
          }
        }

        div.nav_img {
          padding: 6px;
        }

        .nav_img{
          max-height: 32px;
          @media screen and (min-width: 769px){
            margin: 15px 0;
          }
          @media screen and (max-width: 769px){
            margin: 10px 0;
          }
        }

        &.non-dropdown{
          a{
            @media screen and (min-width: 769px){
              padding: 20px 15px;
            }
            @media screen and (max-width: 769px){
              padding: 15px;
            }
          }
        }

        a {
          color: #fafafa;
          padding: 0 15px;
          display: inline-block;
          height: 100%;
          width: 100%;
          color: rgba(255,255,255,0.8);
          text-decoration: none;
          &:hover, &.current {
            color: #fff;
            background-color: $color-header-opaque;
            text-shadow: none;
            text-decoration: none;
          }
        }

        .dropdown-menu a {
          color: #fff;
          @media screen and (max-width: 768px) {    
            padding: 20px;
            font-weight: 400;
          }
          border: none;
          text-shadow: none;
          &:hover { 
            text-decoration: none;
          }
        }

        .dropdown-link {
          margin: 0;
          text-align: center;
        }
      }
    }
    
    .environment{
      float: left;
      font-size: 12px;
      margin-left: 10px; 
      padding: 10px;
    }

    .coloring {
      transition: all 300ms ease;
      background-color: $color-header;
      position: relative;
      overflow: 0;
      border-bottom: 0;

      .navbar-brand {
        padding: 0;
        margin-right: 10px;
        width: 110px;
        img.logo {
          margin: 17px 0;
          width: 100%;
        }
        &:hover{
          background: transparent;
        }
      }

      >.container-fluid{
        position: relative;
        @media screen and (max-width: 768px){
          padding: 0;
          a:hover{
            background-color: transparent;
          }
          li{
            color: #333;
          }
        }
        
        .navbar-header {
          z-index: 1;
          position: relative;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        
        .notifications-drop{
          
          .dropdown-toggle{
            img{
              height: 24px;
              width: 20px;
            }
          }
        }
        
        .notifications-drop, .favourites-drop{
          .dropdown-menu {
            .personal-links{
              a {
                font-weight: 500;
                padding-top: 15px;
                padding-bottom: 15px;
                color: #fff;
                display: block;
                width: 100%;
                &:hover {
                  background-color: rgba(0,0,0,0.12); 
                }
              }
            }
            ul {
              z-index: 100;
              max-width: 100%;
              @media screen and (min-width: 768px){
                min-width: 460px;
                max-height: 400px;
              }
              transition: height 0.2s linear;
              overflow-y: scroll;
              padding: 0;
              li._notification, li._favourite {
                font-size: 1.2em;
                height: auto !important;
                min-height: 85px !important;
                position: relative;
                .content {
                  margin-top: 20px;
                }
                a {
                  padding: 5px !important;
                  font-weight: 500;
                  font-size: 0.75em;
                  line-height: 1.3em !important;
                  overflow: hidden;
                  .small{
                    font-size: 0.7em; 
                    margin: 5px 0 0 0;
                    font-weight: 700;
                    color: rgba(255,255,255,0.8);  
                    margin: 0px;
                    position: absolute;
                    right: 10px;
                    top: 7px;
                  }
                  p {
                    margin-right: 10px;
                    margin-bottom: 0;
                  }
                  .markdown {
                    p {
                      @media screen and (min-width: 769px){ text-align: right; }
                    }
                  }
                  .avatar64{
                    background: rgba(255,255,255,0.80);
                    margin: 10px;
                  }
                }
              }
              li._notification:hover{
                background-color: rgba(0,0,0,0.12); 
              }
              li._notification.unactioned{
                background-color: rgba(255,255,255,0.10);
              }
              li._notification.unactioned:hover{
                background-color: rgba(0,0,0,0.25);
              }
            }
          }
          ._notification{
            height: 60px;
          }
        }
        
        .dropdown-menu { 
          background: $color-header-opaque;
          border-radius:  0 0 3px 3px;
          border: 0px;
          li {
            z-index: 1001;
            margin-left: 0 !important;
            a {
              @media screen and (min-width: 769px) {    
                color: #fff;
                padding: 10px 20px;
              }
               @media screen and (max-width: 768px) {    
                line-height: 2.2em;
                padding: 12px 50px;
              }
            }
            margin-left: 0;
            a:hover{
              background: transparent;
            }
          }
          li:hover {
            background-color: rgba(0, 0, 0, 0.15);
          }
          @media screen and (max-width: 768px) {
            top: 50px !important;
          }
        }
        .dropdown.open{
          background: $color-header-opaque;
          @media screen and (max-width: 768px) {
            margin-left: 0 !important;
            >a{
              color: #333;
            }
          }
        }
        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
          background: none;
          border: 0px;
        }
        .search-wrapper{
          @media screen and (max-width: 768px) {
             padding: 7px 0;
          }
          @media screen and (min-width: 769px) {
            padding: 14px 0 12px;
            #search_btn {
              padding-left: 30px;        
              border-radius: 0px;
            }
          }
          #search_input {
            padding: 6px 12px 6px 3px;
          }
          .search-form{
            padding-left: 0px;
          }
        }
        .input-group-addon, .form-control{
          background: transparent;
          color: #fff;
          border: 0px;
          opacity: 0.8;
          margin-top:2px;

          @media screen and (max-width: 768px){ 
            padding-bottom: 2px;
          }
        }
        .input-group-addon:focus, .input-group-addon:active, .input-group-addon:hover{
          opacity: 1;
        }
        .input-group-addon{
          cursor: pointer;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .form-control{
          box-shadow: none;
          opacity: 0.8;
        }
        .form-control:focus, .form-control:active{
          border: 0px;
          box-shadow: none;
          opacity: 1;
        }
        @include placeholder(#fff, normal);
      }
    }
  }
}