@import "../_vars";

.provider_header{
  .container {
    position: relative;
    @media screen and (min-width: 993px){
      bottom: -43px;
    }
    @media screen and (max-width: 992px){
      bottom: -39px;
      padding-right: 0;
      padding-left: 0;
    }
  }
  .provider_header_skirting{
    background: #fff;
    height: 40px;
  }
  margin-top: 10px;
  .avatar {
    padding: 2px;
    padding-bottom: 0;
    background: #fff;
    position: relative;
    .img {
      background: #eee;
    }

    .provider_header_social {
      .favourite {
        position: absolute;
        bottom: 5px;
        right: 5px;
        text-shadow: 0 0 1px #000;
        .on { display: none; }
        .off { display: block; }
        &:hover, &:active, &:focus {
          .on { display: block; }
          .off { display: none; }
        }
        &.on {
          .on { display: block; }
          .off { display: none; }
          &:hover, &:active, &:focus {
            .on { display: none; }
            .off { display: block; }
          }
        }
        .fa { color: red; }
        form {
          display: none;
        }
      }
    }
  }
  .provider_header_content { 
    @media screen and (min-width: 993px) {
      height: 77px;
    }
    @media screen and (max-width: 992px) {
      padding: 0 10px;
    }
 
    h1 {
      display: inline;
      font-size: 35px;
      max-height: 120px;
      overflow: hidden;
      a {
        color: #fff;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
        word-break: break-word;
        font-weight: 600;
        @media screen and (min-width: 993px) {
          display: inline-block;
          padding-top: 20px;
        }
      }
    }

  }
  .provider_header_links {
    overflow:hidden;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
    nav {
      ul {
        li {
          background-color: #fff;
          &.active {
            @media screen and (max-width: 992px){
              box-shadow: inset 0 -3px 0 $color-header-opaque;
            }
            @media screen and (min-width: 993px){
              box-shadow: inset 0 3px 0 $color-header-opaque;
            }
          }
          &:hover, &:active, &:focus {
            background-color: rgba(0,0,0,0.03);
            a {
              border-color: transparent;
            }
          }
          float: left;
          list-style: none;
          min-width: 105px;
          text-align: center;
          font-size: 0.9em;
          transition: background-color 200ms ease-out;
          @media screen and (min-width: 768px) {
            max-width: 140px;
          }
          a {
            border-right: 1px solid rgba(0,0,0,0.03);
            display: inline-block;
            color: #333;
            margin: 6px 0;
            padding: 4px 5px;
            width: 100%;
            white-space: nowrap;
          }
        }
      }
    
    }

  }
}