@import "../_vars";

.sidebar-padding {
  @media screen and (min-width: 768px) {
    margin-left: 320px;
    transition: margin-left 200ms ease-in-out;
  }
}
.sidebar {
  display: none;
  background-color: #343434;
  min-height: 100% !important;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #fff;
  position: fixed !important;
  top: 0;
  padding-top: $mobile-nav-height;
  left: 0;
  width: 100%;
  transition: all 200ms ease-in-out;

  @media screen and (min-width: 768px) {
    display: block;
    max-width: 320px;
    padding-top: $desktop-nav-height;
  }
  
  .btn {
    width: 100%;
    background-color: #5F5F5F;
    border: 0px;
    margin-bottom: 15px;
    &.primary{
      margin-bottom: 20px;
    }
  }

  a{
    color: #E0E0E0;
    &:hover, &:active, &:focus {
      color: #fff;
    }
  }
  
  h4 {
    margin: 15px 0;
  }
  h5 {
    text-align: center;
  }

  .admin-sidebar{
    .admin-subtitle {
      margin-bottom: 20px;
      text-align: center;
      background-color: #e0e0e0;
      h3 {
        margin: 15px 0;
      }
    }
    .admin-section {
      margin-bottom: 20px;
      text-align: center;
      background-color: #1F1F1F;

      &.admin-links {
        a {
          display: block;
          color: #fff;
          padding: 10px 5px;
          width: 50%;
          float: left;
          &:hover {
            background: rgba(255,255,255,0.3);
          }
        }
        .border-bottom {
          border-bottom: 1px solid #333;
        }
        .border-left {
          border-left: 1px solid #333;
        }
      }
      .person-links {
        padding-top: 10px;
        padding-bottom: 10px;
        .person-link {
          text-align: left;
          padding: 3px 15px 3px 0;
          .delete {
            float: right;
            
          }
        }
      }
    }
  }
}
