#dashboardLeader {
  height: 468px;
  background: #222 asset-url('chalklers/bw-bike-maintanence.jpg', image) left top no-repeat;
  border: 1px solid #aaa;
  position: relative;
  #dashboardContent {
    padding: 0 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 1px solid #000;
  }
}

.walkthrough {
  img {
    border: solid 4px #ececec;
  }
  h2 {
    margin: 0 0 20px 0;
  }
  h3 {
    margin: 0 0 10px 0;
    line-height: 25px;
  }
}
