.dropdown-menu { 
	@include border-radius(0); 
	@include box-shadow(0 0 0 #000);
	border: 2px solid #BABABA;
	margin: 0; 
}

.dropdown-menu.arrow-left:before {
	position: absolute;
	top: -14px;
	left: 18px;
	display: inline-block;
	border-right: 14px solid transparent;
	border-bottom: 14px solid #ccc;
	border-left: 14px solid transparent;
	border-bottom-color: #bababa;
	content: '';
}

.dropdown-menu.arrow-left:after {
	position: absolute;
	top: -12px;
	left: 20px;
	display: inline-block;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ffffff;
	border-left: 12px solid transparent;
	content: '';
}

.dropdown-menu.arrow-right:before {
	position: absolute;
	top: -14px;
	right: 13px;
	display: inline-block;
	border-right: 14px solid transparent;
	border-bottom: 14px solid #ccc;
	border-left: 14px solid transparent;
	border-bottom-color: #bababa;
	content: '';
}

.dropdown-menu.arrow-right:after {
	position: absolute;
	top: -12px;
	right: 15px;
	display: inline-block;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ffffff;
	border-left: 12px solid transparent;
	content: '';
}
