$fe-heading-color: #496337;

@import "front_end/old_design";
@import "front_end/browse_lessons";
@import "front_end/month_calendar_view";
@import "front_end/week_calendar_view";

.front_end_body {
  h1, h2, h3, h4 {
    color: $fe-heading-color;
  }

  .site-footer {
    background-color: #2E2E2E;
  }
}
