$fe-heading-color:      rgba(76,126,147,1);
$chalky-font: 'Shadows Into Light Two', cursive;
$chalkboard-background-color: #2B2B2B;
$chalkboard-background: $chalkboard-background-color asset-url("texture-chalkboard.jpg", "image") repeat;

@import "front_end/old_design";
@import "front_end/home";
@import "front_end/social_media";
@import "front_end/dropdowns";

html,body
{
  height: 100%;
}

a {
  color: $fe-heading-color;
  &:hover {
    color: darken($fe-heading-color, 10%);
  }
}

.front_end_body {
  h1, h2, h3, h4 {
    color: $fe-heading-color;
  }

  h1.page-title {
    font-family: $chalky-font;
  }

  .site-footer {
    background-color: #2E2E2E;
  }

  .page_header_panel {
    min-height: 100px;
  }
}

ul.simple-nav {
  padding: 0;

  li {
    display: inline;
    margin-right: 1px; 

    &:last-child {
      border-right-width: 0;
    }

    a {
      background-color: $black;
      color: $white;
      font-size: 14px; 
      padding: 8px 14px;

      &:hover {
        opacity: .8;
        text-decoration: none;
      }
    }

    &.active a {
     background-color: #59742F;
     color: $white;
     cursor: default;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.thumbnail {
  padding: 0;
  border: 0;
  border-radius: 0;
}

a.fa_link {
  &:before {
    margin-right: 0.5em;
    text-decoration: none;
  }
}

.oldlayout {
  margin-bottom: 2em;
}

.well .well-title {
  margin-top: 0;
}

.form-control {
  max-width: 100%;
}

input[readonly] {
     cursor: pointer !important;
}

.help-inline{
  background-color: #f0ad4e;
  @include border-radius(4px);
  padding: 2px 6px;
  display: inline-block;
  margin: 5px 0;
}