$navbar-height: 62px;
$vertical-padding: 10px;
$line-height: $navbar-height - ($vertical-padding * 2);

.navbar {
  font-weight: bold;
  border-bottom: none;
  padding: $vertical-padding 0px;
  font-size: 20px;
  min-height: $line-height;
  line-height: $line-height;

  .navbar-brand {
    padding: 0;

    img.logo {
      height: $line-height;
      margin: 0px;
    }
  }

  .navbar-toggle {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    .fa-bars {
      color: white;
      font-size: $line-height * 0.8;
      line-height: $line-height !important;
      height: $line-height;
    }
  }

  .nav {
    min-height: $line-height;
    margin: 0px;

    //float: right;
    li {
      height: $line-height;
      margin-left: 15px;
      margin-bottom: 0;
      &.fl-right {float: right;}
      &.no-right-margin {margin-right: 0;}

      a {
        height: $line-height;
        line-height: $line-height;
        color: #eee;
        display: block;
        padding: 0 10px;
        text-decoration: none;
        font-weight: normal;
        background-color: transparent;
        @include border-radius(4px);


        &:hover, &.current {
          color: #fff;
          text-shadow: none;
          text-decoration: none;
          background-color: rgba(0,0,0,0.15);
        }
      }
      .dropdown-menu li a {
        border: none;
        color: $grayLight;
        text-shadow: none;
        &:hover { 
          color: $white; 
          text-decoration: none;
        }
      }
      .dropdown-link {
        margin: 0;
        text-align: center;
      }
      .dropdown-menu.email-settings { 
        margin-top: 10px;
        padding: 0; 
      }
      .dropdown-menu.email-settings:before {
        position: absolute;
        top: -14px;
        right: 3px;
        display: inline-block;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #ccc;
        border-left: 14px solid transparent;
        border-bottom-color: #bababa;
        content: '';
      }

      .dropdown-menu.email-settings:after {
        position: absolute;
        top: -12px;
        right: 5px;
        display: inline-block;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #ffffff;
        border-left: 12px solid transparent;
        content: '';
      }

    }
  }
}

footer.page-footer {
  padding-bottom: 2em;
  background: $chalkboard-background;
  color: #CCCCCC;

  h3, h4 {
    color: #CCCCCC;
    text-decoration: none;
    border: none;
    font-style: $chalky-font;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  .email-list {
    li {
      margin-bottom: 0;
    }
  }

  .social_media_links {
    margin-top: 20px;
    margin-left: -5px;
  }
}