.big-scrollable-page {
  color: $fe-heading-color;
  font-size: 18px;
  h3, a {
    color: $fe-heading-color;
  }
  a {
    text-decoration: underline;
  }

  header.page-header {
    margin: 0;
    padding: 0;
    border: 0;
    height: 450px;
    background-color: #12351B;
    color: white;
    background-image: url('/assets/front_end/home/header_background.jpg');
    background-position: top center;
    position: relative;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .text {
      max-width: 400px;
    }

    h1 {
      color: white;
      font-size: 75px;
      line-height: 100%;
      margin-bottom: 30px;
    }

    p.description {
      font-size: 20px;
      max-width: 300px;
    }

    p.tagline {
      font-size: 45px;
      line-height: 110%;
      margin-bottom: 25px;
    }

    > .header-container {
      background-repeat: no-repeat;
      background-image: url('/assets/front_end/home/mini_blackboards.png');
      background-position: top right;
      background-size: 80%;
      height: 450px;
    }

    .link_bar {
      text-align: right;
      background-repeat: no-repeat;
      background-image: url('/assets/front_end/home/find_a_class_wrapper.png');
      background-position: top right;
      height: 80px;
      padding-right: 240px;
      padding-top: 27px;
      position: absolute;
      right: 0;
      width: 2000px;
      top: 350px;
      z-index: 1;

      a {
        color: white;
        font-family: $chalky-font;
        font-size: 24px;
        line-height: 100%;
      }
    }

    .user-nav {
      font-size: 26px;
      margin-top: 60px;
      z-index: 2;

      a {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      a.sign_in {
        border: 1px dashed white;
        padding: 4px 10px;
      }
    }

    .site-nav {
      z-index: 3;
      position: absolute;
      top: 405px;
      left: 0;
      width: 100%;

      a {
        font-size: 22px;
        padding-right: 20px;
        border-right: 1px solid white;
        margin-right: 20px;

        &:last-child {
          padding-right: 0;
          border-right: 0;
          margin-right: 0;
        }
      }
    }
  }

  section {
    padding: 30px 0;

    h3 {
      border: 0;
      font-size: 36px;
      line-height: 120%;
      margin-top: 0em;
      margin-bottom: 20px;
    }

    .single-column {
      max-width: 800px;
      margin: 0 auto;
    }

    .section_target {
      text-align: center;

      a {
        font-size: 24px;
        line-heght: 100%;
        font-family: $chalky-font;
      }
    }
  }

  section.odd {
    background-color: #EDEDED;
  }

  p.big_statement {
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    margin: 0;
  }

  #take_a_class {
    text-align: center;

    .paged-lesson-group {
      .lesson-group-preview {
        margin: 20px auto 15px auto;
        max-width: 1020px;

        @media(max-width: $screen-lg) {
          max-width: 520px;
        }

        .lesson-page {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      .nav {
        text-decoration: none;
        font-size: 70px;
        line-height: 100%;
        margin-top: 110px;

        &.disabled {
          opacity: 0.5;
        }
      }

      .nav_left {
        float: left;
      }

      .nav_right {
        float: right;
      }
    }
  }

  #join_a_channel {
    text-align: center;

    .channel_links {
      margin: 20px 0;

      a.channel_link {
        text-decoration: none;
        margin: 0 5px;

        img.channel_logo {
          height: 165px;
          width: 165px;
        }
      }
    }
  }

  #be_a_teacher {
    color: $chalklePink;
    h3 {
      color: $chalklePink;
      margin-bottom: 0;

      .text-part {
        margin-top: 50px;
      }
    }

    img.i_have_a_skill {
      margin-top: -30px;
    }

    p {
      margin-top: 0;
    }

    .button-part {
      margin-top: 20px;
    }
  }
}