.week_calendar_view {
  .day {
    .day_title {
      background-color: $calendar-cell-weekday;
      height: 40px;
      line-height: 40px;
      margin-right: 20px;
      padding-left: 7px;
      position: relative;
      display: inline-block;
      min-width: 9em;
    }

    .day_title:after {
      right: -40px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;

      border-left-color: $calendar-cell-weekday;
      border-width: 20px;
      top: 50%;
      margin-top: -20px;
    }

    ul.lessons {
      padding: 0;
      margin: 0;

      li {
        padding: 0;
        margin: 0;
        list-style: none;

        a {
          display: inline-block;
          border: 1px solid red;
        }
      }
    }
  }
}