$chalkboard-background-color: #2B2B2B;
$chalkboard-background-color: $chalkboard-background-color asset-url("texture-chalkboard.jpg", "image") repeat;


.week_calendar_view {
  .day {
    .day_title {
      background-color: $calendar-cell-weekday;
      height: 40px;
      line-height: 40px;
      margin-right: 20px;
      padding-left: 7px;
      position: relative;
      display: inline-block;
      min-width: 9em;
    }

    .day_title:after {
      right: -40px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;

      border-left-color: $calendar-cell-weekday;
      border-width: 20px;
      top: 50%;
      margin-top: -20px;
    }

    .lessons {
      margin: 0 -5px;

      .lesson {
        padding: 0 5px;

        $height: 65px;
        $time-width: $height;
        $image-width: $height;
        $top-bottom-margin: 5px;
        $lines: 3;

        a {
          display: block;
          background: $chalkboard-background-color;
          height: $height;
          overflow: hidden;
          padding: 0;
          margin-bottom: 10px;

          > span {
            height: $height;
            display: block;
          }

          .time {
            width: $time-width;
            float: left;
            color: white;
            background-color: $single-category-color;

            span {
              display: block;
              margin-left: 7px;
            }

            .number {
              margin-top: $top-bottom-margin;
            }

            .am_pm {
              font-size: 70%;
              text-transform: uppercase;
              line-height: 100%;
            }
          }

          .image_container {
            width: $image-width;
            float: left;
            display: block;
            background-color: #CCCCCC;

            img {
            }
          }

          .details {
            display: block;
            margin-left: ($time-width + $image-width);

            $lesson-line-height: ($height - ($top-bottom-margin * 2)) / $lines;
            $lesson-font-size: $lesson-line-height * 0.9;
            $lesson-line-padding: ($lesson-line-height - $lesson-font-size) / 2;
            .lesson_title {
              margin: ($top-bottom-margin - $lesson-line-padding) 10px;
              line-height: $lesson-line-height;
              font-size: $lesson-font-size;
              //margin-left: ($time-width + $image-width);
            }
          }
        }
      }
    }
  }
}