%ul.dropdown-menu.pull-right.arrow-right
	%li.dropdown-entry
		%span.dropdown-link.dropdown-active
			All channels
	- channels.each do |channel|
		%li.dropdown-entry
			= link_to channel.name, '#', class: 'dropdown-link'
