- lesson_classes = []
- lesson_classes << 'no-image' unless lesson.lesson_upload_image.present?
- lesson_classes << 'active' if @lesson && @lesson == lesson
.lesson.lesson_compact{class: lesson_classes}
  %a{href: channel_lesson_path(@channel || lesson.channels.first, lesson)}
    %span.time>
      %span.number= lesson.start_at.strftime('%l:%M').strip
      %span.am_pm= lesson.start_at.strftime('%p').strip
    %span.image_container
      - if lesson.lesson_upload_image.present?
        = image_tag(lesson.lesson_upload_image.url(:mini))
    %span.details>
      .lesson_title<
        = lesson.name
