%table.month_calendar_view
  %thead
    %tr
      %th
        .title Monday
      %th
        .title Tuesday
      %th
        .title Wednesday
      %th
        .title Thursday
      %th
        .title Friday
      %th.weekend
        .title Saturday
      %th.weekend
        .title Sunday
  %tbody
    - month.to_weeks.each do |week|
      %tr
        - week.each do |day|
          - active = month.contains?(day)
          - classes = []
          - classes << 'weekend' if Week.on_weekend?(day)
          - classes << 'active' if active

          %td{class: classes}
            - if month.contains?(day)
              .day_title
                %span.day_letter= day.strftime('%A').first
                %span.date= day.strftime('%d %b')
              - if lessons[day]
                %ul.lessons
                  - lessons[day].each do |lesson|
                    %li
                      %a
                        %span.time= lesson.start_at.strftime('%l:%M %p')
                        %span.title= lesson.name
