%ul.dropdown-menu.arrow-left
	%li.dropdown-entry
		= link_to 'All regions', '#', class: 'dropdown-link'
	- regions.each do |region|
		%li.dropdown-entry
			= link_to region.name, "filters?type=single_region&value=#{region.id}", class: 'dropdown-link', method: :post
