#weeks.small_browse_sidebar
  %a.sidebar_top_nav{href: channel_lessons_path(@channel)}
    %i.fa.fa-calendar
    Return to Calendar
  = render partial: '/lessons/weeks_calendar_view', locals: {week_lessons: week_lessons}
