.paged-course-group
  = link_to "<", "#", class: 'nav nav_left'
  = link_to ">", "#", class: 'nav nav_right'
  .course-group-preview
    - first = true
    - courses.each_slice(per_page) do |slice|
      .course-page.page{class: ('active' if first)}
        - slice.each do |course|
          = render partial: '/courses/course_medium', locals: {course: course, show_date: true}
      - first = false