.browse_lessons
  .page_header_panel
    .container
      %h1.page-title
        = lesson_index_welcome_message
      = render partial: 'filters'

  .search_panel.full_page
    #lessons_index.container
      %ul.simple-nav#browse_type
        %li{class: ('active' if !@filter.view_months?)}
          %a{:href => "#weeks", 'data-toggle' => "tab"}
            %i.fa.fa-list
            Week View
        %li{class: ('active' if @filter.view_months?)}
          %a{:href => "#months", 'data-toggle' => "tab"}
            %i.fa.fa-calendar
            Month View
      .tab-content
        #weeks.tab-pane{class: ('active' if !@filter.view_months?)}
          = render partial: 'weeks_calendar_view', locals: {week_lessons: @week_lessons}
        #months.tab-pane{class: ('active' if @filter.view_months?)}
          = render partial: 'months_calendar_view', locals: {month_lessons: @month_lessons}

:coffeescript
  $ ->
    $('.filter_selector').filterSelector('#lessons_index')