- if params[:format] == 'js'
  = render partial: 'weeks_calendar_view', locals: {week_lessons: @week_lessons}
- else
  .search_panel
    .container
      #weeks
        = render partial: 'weeks_calendar_view', locals: {week_lessons: @week_lessons}
