@import "../_vars";

._course {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  width: 100%;
  @media screen and (min-width: 759px) {
    padding-left: 15px;
    padding-right: 15px;

  }
  .avatar64 {
    border-radius: 14px;
    overflow: hidden;
    background-color: #eee;
    @media screen and (min-width: 759px) {
      width: 90px;
      height: 90px;
    }
  }
  .details {
    padding: 2px;
    @media screen and (min-width: 759px) {
      padding: 8px 5px;
    }
    overflow: hidden;
    a {
      display: block;
      white-space: nowrap;
      line-height: 18px;
      @media screen and (min-width: 759px) {
        line-height: 1.4em;
      }
      &.course_name {
        display: block;
        font-size: 16px;
        white-space: nowrap;
      }
      &.provider_name{
        color: #777;
        font-weight: 700;
      }
    }
    .add_info {
      color: #999;
      font-size: 0.9em;
    }
    .cost {
      margin-top: 4px;
      @media screen and (min-width: 759px) {
        margin-top: 10px;
      }
      float: left;
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 13px;
      border: #aaa solid 1px;
      padding: 1px 4px 0;
      line-height: 1em;
      text-shadow: #999 0 1px 0;
      &:focus, &:active, &:hover {
        text-shadow: #777 0 1px 0;
        @include gradient_v(#afafaf, #b7b7b7);
      }
      @include gradient_v(#b1b1b1, #bababa);
    }
  }
}