.new_course_form_wrapper {
  ._inner_course, ._course_heading {
    text-align: center;
  }
  .image-preview.avatar, .avatar {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
  }
}
