#twitter-widget-0{
  position: relative;
  top: 5px;
}

a.social-link {
  text-align: center;
  width: 43px;
  position: relative;
  bottom: 10px;
  img {
    height: 29px;
  }
}
.facebook-share {
  margin-left: 8px;
}