@import "../_vars";

#courses_missing {
  display: none;
}
#map_overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  z-index: 10;
  #map_holder{
    height: 100%;
    width: 100%;
  }
}

.location_form{
  @media screen and (max-width: 768px){
    margin: 0;
    padding:0;
  }
  .location-wrapper{
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    .location-preview{
      padding: 18px 0 12px;
      .change-location{
        @media screen and (min-width: 769px){
          float: right;
        }
      }
    }
  }
  .location-form{
    margin: 5px 0;
    width: 100%;
    display: none;
    #location_autocomplete {
      position: relative;
      font-size: 16px;
    }
    @media screen and (min-width: 769px){
      >.input-group {
        margin-right: 100px;
      }
      .cancel-location{
        float: right;
        width: 80px;
        padding: 10px 0;
      }
    }
    img{
      width: 24px;
      height: 24px;
    }
    #globe_holder{
      min-width: 48px;
      min-height: 36px;
    }

    .input-group-addon, .form-control{
      color: #333;
      border: 0px;
      opacity: 0.8;
    }
    .input-group-addon:focus, .input-group-addon:active, .input-group-addon:hover{
      opacity: 1;
    }
    .input-group-addon{
      cursor: pointer;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .form-control{
      box-shadow: none;
      opacity: 0.8;
    }
    .form-control:focus, .form-control:active{
      border: 0px;
      box-shadow: none;
      opacity: 1;
    }
    input {
      height: 40px;
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
    input::-webkit-input-placeholder {
      color: #333;
      font-style: italic;
    }
    input::-moz-placeholder {
      color: #333;
      opacity: 1;
      font-style: italic;
    }
    input:-moz-placeholder {   /* Older versions of Firefox */
      color: #333;
      opacity: 1;
      font-style: italic;
    }
    input:-ms-input-placeholder { 
      color: #333;
      opacity: 1;
      font-style: italic;
    }
  }
}