@import "../_vars";

#courses_missing {
  display: none;
}
#courses_loading{
  height: 100px;
  width: 100%;
  margin-top: 60px;
  position: relative;
}
#map_overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  z-index: 10;
  #map_holder{
    height: 100%;
    width: 100%;
  }
}