@import "../_vars";

.course-show {
  .social_links {
    margin-bottom: 10px;
  }
  h1{
    font-size: 3em;
    margin-top: -10px;
    margin-bottom: 20px;
  }
  .class-repeats{
    line-height:1.7em;
  }
  .admin-bar{

  }

  .map-wrap {
    position:relative;
    .map-overlay {
       @media screen and (min-width: 769px) {
        background-image: url(/assets/grad-horo-white-trans.png);
        background-repeat: horizontal;
        background-size: 145% auto;
        position:absolute;
        top:0;
        left:14px;
        z-index:1;
        height:250px;
        padding: 50px 0;
      }
    }
    #map-canvas {
      height: 250px;
    }
  }
  .join-link {
      width: 100%;
      padding: 10px;
      border-radius: 7px;
      color: #fff;
      border: 0px;
      font-weight: 600;
      font-size: 120%;
      word-wrap: normal;
      white-space: normal;
      min-height: 68px;
    }
  .left-col {
    @media screen and (min-width: 998px){
      margin-right: 220px;
    }
  }
  .right-col {
    z-index: 4;
    @media screen and (min-width: 998px){
      float:right;
      padding-left: 20px;
      width: 200px;
    }
    >* {
      margin-bottom: 5px;
    }
    > button {
      width: 100%;
      margin: 10px 0;
    }
    .cost {
      width: 100%;
      line-height: 15px;
      padding: 8px 10px;
      text-align: center;
    }
    .meta {
      text-align: right;
      .reviews {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  ._teacher {
    float: none;
  }
  .discussion{
    .discussion-box{
      width:100%;
      padding:5px;
    }

    .course_notice{

      .removed{
        // color: #ccc;
        .name{
          // color: #ccc;
        }
      }
      .tiny-photo{
        max-height:20px;
        margin: 10px;
      }
      .cancel-edit-btn{
        margin: 10px;
      }
      header{
        border-bottom: #ccc solid 1px;
        margin-top: 20px;
        padding-top: 10px;
        .white{
          position:relative;
          background: #fff;
          bottom: 12px;
          padding: 0 6px;
          color: #3A3A3A;
        }
        .name{
          font-size: 120%;
          color: #3A3A3A;
        }
        .time{
          float: right;
          bottom: 9px;
        }
      }
      .right-body{
         @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
      .notice-image{
        display: block;
        padding: 1px;
        margin:12px 12px 0 0;
        background: #fafafa;
        cursor: pointer;
        float: left;
        img {
          @media screen and (min-width: 769px) {
            max-height: 100px;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
      .popover img{
        max-width:100%;
        max-height:100%;
      }
      .popover {
        @media screen and (max-width: 768px) {
          position: fixed;
          top: 50px !important;
          left: 0 !important;
          max-height: 100%;
          height: 100%;
          width: 100%;
          margin:0;
          border: 0;
          border-radius: 0;
          .popover-content{
            height: 100%;
          }
        }
        max-width: 100%;
      }
      .notice-image:hover{
         background: #ccc;
      }
      .avatar32{
        position: relative;
        bottom:5px;
      }
      .notice-body, .edit-notice{
        margin: 0 20px 22px;
        position: relative;
        top: -10px;
        .control{
          position: relative;
          padding-left: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}
