<div class="sidebar <%= 'open' if current_user.sidebar_open %>">
  <div class="sidebar-tab">
    <span class="fa fa-chevron-up fa-2x open"></span>
    <span class="fa fa-chevron-down fa-2x shut"></span>
    <h4>⚙ <%= @sidebar_title %></h4>
  </div>
  <div class="sidebar-content">
    <%= render @sidebar %>
  </div>
</div>