._featured_providers {
  margin-bottom: 50px;
  margin-top: 30px;
  @media screen and (min-width: 789px) {
    padding-right: 20px;
    padding-left: 20px;
  }
  .btn-huge {
    margin-top: 40px;
  }
}