<div class="_channel">
  <%= link_to(channel_path(channel.url_name)) do %>
    <% if channel.logo.file %>
      <img src="<%= channel.logo.url %>" class='channel-img inline' > 
    <% end %>
    <h5 class="inline">
      <%= channel.name %>
      <% upcoming_count = channel.courses.upcoming.taught_by_chalkler(current_user).count %> 
      <% if upcoming_count > 0 %>
          <%= "(#{upcoming_count})" %>
      <% end %>
    </h5>
  <% end %>
</div>
