<div class="col-xs-12 col-sm-6">
  <div class="_channel">
    <%= link_to(channel_path(channel.url_name)) do %>
      <% if channel.logo.file %>
        <img src="<%= channel.logo.url %>" class='channel-img' > 
      <% end %>
      <%= channel.name %> 
      <%= if channel.courses.upcoming.count > 0  
        "(#{channel.courses.upcoming.count})"
      end %>
    <% end %>
  </div>
</div>
