<div class="col-xs-12 col-sm-6">
  <div class="_channel">
    <a href="<%= channel_path(channel.url_name) %>">
    <%= image_tag(channel.logo, class: 'channel-img') if channel.logo.file %>
    <%= channel.name %>
    </a>
  </div>
</div>
