.filters
  %ul.types
    %li.part.title
      .part-container
        %h2
          Upcoming Classes
      .arrow-down
    = render partial: 'filter_dropdown', locals: { filter: @region_filter }
    -#= render partial: 'filter_dropdown', locals: { filter: @channel_filter }
    = render partial: 'filter_dropdown', locals: { filter: @category_filter }
  - if @filter.has_rules?
    .resets
      %p
        = link_to clear_filters_path, method: :delete do
          Clear all filters
          %i.fa.fa-times
