<div class="location_form">
  <div class="location-wrapper">
    
    <% unless hide_prompt %>
      <div class="location-preview">
        <em>
          <% if prompt_text %>
            <%= prompt_text %>
          <% else %>
            Find classes<span class="location-reference">near</span>
          <% end %>
          <strong class="show-location">...</strong>
        </em>

        <a class="change-location">Change location</a>
      </div>
    <% end %>


    <div class="location-form" id="location-form">
      <a class="cancel-location hidden-xs">Cancel</a>
      <div class="input-group">
        <span class="input-group-addon btn" id="globe_holder" role="button" title="Auto-locate" data-toggle="tooltip" data-placement="bottom">
          <img src="/assets/location_arrow.png" alt="Auto Locate" id="toggle_map_view" />
        </span>
        <input type="text" name="location" id="location_autocomplete" value="<%= get_coords[:location] %>" class="form-control" placeholder="Type your location here">
        <div class="input-group-addon" id="location_unknown" style="display:none">
          <span class="fa-exclamation-triangle fa" data-toggle="tooltip" data-placement="bottom" title="Unrecognized address"></span>
        </div>
        <input type="hidden" name="coord_lat" id="coord_lat" value="<%= get_coords[:lat] %>" />
        <input type="hidden" name="coord_lng" id="coord_lng" value="<%= get_coords[:lng]  %>" />
      </div>
    </div>

  </div>
</div>