#weeks.medium_browse_sidebar
  %a.sidebar_top_nav{href: channel_courses_path(@channel)}
    %i.fa.fa-calendar
    View all classes
  = render partial: '/courses/weeks_calendar_view', locals: {week_courses: week_courses}
