<div class="_provider">
  
  <%=  link_to provider_path(provider), class: 'avatar32', style: "background-color: #{provider.header_color}" do %>

    <div class="img" style="background-image: url(<%= provider.logo %>)"></div>
  <% end %>

  <div class="details">

    <%= link_to limit_text(provider.name, 20), provider_path(provider), class: 'provider_name', title: provider.name %>
  </div>
</div>