- last_week = @week_courses.keys.last
- week_courses.each do |week, courses|
  - show_next = (week == last_week)
  = render partial: '/courses/week_calendar_view', locals: {week: week, courses: courses, show_next: show_next}
