
<h3 class="text-center" id="courses_missing">No Classes Found</h3>
<div id="courses_wrapper">
</div>
<div id="courses_loading" class="text-center">
</div>

<div style="display: none" id="course_template">
  <article class="course row">
    <div class="col-sm-2 flush-xs">
      <div class="porthole">
        <a href="" class="set_url set_title">
            <div class="img set_image">
            </div>
        </a>
      </div>
    </div>
    <div class="col-sm-10">
      <header class="clearfix">
        <div class="title-wrapper">
        <div class="availability-wrapper">
          <a href="" class="availability nowrap btn-3d set_bgcolor set_url set_action_call"></a>
        </div>
          <h3 class="title">
            <a href="" class="set_url set_color set_name"></a>
          </h3>
          <h5 class="category">
            <a href="" class="set_color set_category set_category_url"></a>
          </h5>
        </div>
        
      </header>
      <div class="details clearfix">
        <a class="set_provider_url">
          <img class="provider-img pull-left set_provider_image">
        </a>
        <div class="pull-left">
          <div class="grey upper smaller">Provided By</div>
          <a href="" class="set_provider set_provider_url"></a>
        </div>
        <div class="vertical-seperator pull-left hidden-xs"></div>
        <div class="pull-left">
          <div class="grey upper smaller">Your Teacher</div>
            <a href="" class="set_teacher set_teacher_url"></a>
        </div>
        <div class="pull-left set_status" style="display: none">
          <div class="vertical-seperator pull-left hidden-xs"></div>
          <div class="margin-top-5 pull-left">
            <div class="alert set_status_color flush">
              <h4 class="warn-unpublished light small"></h4>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <span class="small grey">
          <span class="fa fa-clock-o"></span>
          <span class="set_time"></span>
          <span class="fa fa-map-marker"></span>
          <span class="set_address"></span>
        </span>
        <div class="cost pull-right set_cost">
        </div>
      </footer>
    </div>
  </article>
</div>