<%# render 'courses_weeks', locals: {courses_weeks: @courses_weeks} %>
<% if @courses.empty?  %>
   <div class="alert alert-warning center">
      No classes match "<%= params["search"] %>"
    </div>
    <% @courses = Course.popular %>
<% end %>
<%= render @courses %>
