
<% if current_user.bookings.present? %>

<div class="row">

  <div class="col-xs-12 col-md-12">
      <div class="fancy-header">
        <h3>Upcoming Bookings</h3>
        <hr />
      </div>
      <div class="row col-xs-12">
        <%= render partial: 'me/bookings/booking' ,collection: current_user.bookings %>  
      </div>
    <% end %>

    <% if current_chalkler && current_chalkler.channels.any? %>
      <div class="fancy-header">
        <h3>Following</h3>
        <hr />
      </div>
      <div class="row col-xs-12">
        <%= render current_chalkler.channels.order('name ASC') %>  
      </div>
  </div>


<% else %>

<section id="who" class="row">
  <div class="fancy-header col-md-12 ">
    <h3 class="">Learn almost anything</h3>
    <hr />
  </div>
  <div class="fancy-header col-md-12 ">
    With courses from...
  </div>
  <div class="who col-xs-12 col-md-3 text-center">
    <h4 class='text-center'>Independant Teachers</h4>
    <div class="teacher-hero"></div>
    <h3>Brandon’s Ukes</h3>
  </div>

  <div class="who col-xs-12 col-md-3 text-center">
    <h4 class='text-center'>Community Groups</h4>
    <div class="community-hero"></div>

    <h3>Innermost Gardens</h3>
  </div>

  <div class="who col-xs-12 col-md-3 text-center">
  <h4 class='text-center'>Small Business</h4>
    <div class="business-hero"></div>
    <h3>Enspiral</h3>
  </div>

  <div class="who col-xs-12 col-md-3 text-center">
  <h4 class='text-center'>Libraries</h4>
    <div class="library-hero"></div>

    <h3>Te Takere</h3>
  </div>
</section>


<% end %> 


<section id="getting_started" class="row">
  <div class="fancy-header">
    <h3 class="">Getting Started on Chalkle </h3><hr />
  </div>

  <dl class="col-xs-12 col-md-8 col-md-offset-2">

    <dt>1</dt>
    <dd>
      <h4><%= link_to 'Sign up', new_chalkler_registration_path  %> for chalkle</h4>
      <p>
         
      </p>
    </dd>
    <div class="clear"></div>

    <dt>2</dt>
    <dd>
      <h4><%= link_to 'Browse classes in your region', root_path %> </h4>
      <p>
        When you see one you are interested in, create a booking!   
      </p>
    </dd>
    <div class="clear"></div>

    <dt>3</dt>
    <dd>
      <h4>Go to your class!</h4>
      <p>
        If you have any questions, we are here to help
      </p>
      <p>
        [link to contact] [link to ABL network]
      </p>
    </dd>
  </dl>

</section>




