<% if @courses_in_future.present? %>
  <div class="fancy-header">
    <h3>Upcoming</h3>
    <hr />
  </div>
  <div class="row">
    <%= render @courses_in_future %>
  </div>
<% end %>



<% if @courses_in_past.present? %>
  <div class="fancy-header">
    <h3>Previous</h3>
    <hr />
  </div>
  
  <div class="row">
    <%= render @courses_in_past %>
  </div>
<% end %>