<% if @courses_in_future.present? %>

  <%= render partial: 'fancy_header', locals: { fancy_title: "Upcoming" } %>

  <div class="row">
    <%= render @courses_in_future %>
  </div>
  
<% end %>



<% if @courses_in_past.present? %>
  
  <%= render partial: 'fancy_header', locals: { fancy_title: "Previous" } %>
  
  <div class="row">
    <%= render @courses_in_past %>
  </div>

<% end %>