<div class="course-show">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        <%= @course.name %>
      </h2>
      <%= link_to @course.channel.name, channel_path(@course.channel.url_name) %>
    </div>
  </div>
</div>