$gutter-width: 15px;
$gutters: $gutter-width * 2;
$photo-width: 360px;
$logo-column-width: 165px;

.channels-show {
  .navbar {
    margin-bottom: 0;
  }

  .masthead {
    margin: 15px 0;
    padding: 0;

    .masthead_contents {
      display: table;
    }

    .logo_and_subscribe {
      width: $logo-column-width;
      float: left;
      display: table-cell;
      vertical-align: top;

      @media(max-width: $screen-xs-min) {
        display: none;
      }

      .subscribe_link {
        background: asset-url("chalk_button.png", image) left top no-repeat;
        color: $white;
        text-decoration: none;
        margin-top: 15px;
        padding: 12px 54px;
        &:hover { opacity: .8; }
      }

    }

    .words_and_pictures {
      padding: 0 $gutter-width;
      display: table-cell;
      vertical-align: top;
      width: 100%;

      .words_and_pictures_contents {
        margin: 0px (-$gutter-width);
        display: table;
        width: 100%;
      }

      .small_controls {
        display: none;
      }

      @media(max-width: $screen-xs-min) {
        .small_controls {
          padding-top: 15px;
          display: block;
        }
      }

      .wordy_bits {
        padding: 0 $gutter-width;
        max-width: 580px;
        width: 100%;
        display: table-cell;
        vertical-align: top;
      }

      .pictures {
        $thumbnail_margin: 8px;

        width: $photo-width + $gutters;
        display: table-cell;
        vertical-align: top;
        padding: 0 $gutter-width;

        @media(max-width: $screen-lg-min) {
          display: block;
          width: auto;

          .main_photo {
            display: none;
          }
        }
        @media(max-width: $screen-xs-min) {
          .active {
            border-color: transparent !important;
          }
        }


        img.main_photo {
          margin-bottom: $thumbnail_margin / 2;
        }

        .thumbnails {
          margin: 0 -4px;

          .thumbnail {
            display: inline-block;
            margin: $thumbnail_margin / 2 - 2px;
            border: 2px solid transparent;

            img {
              width: 84px;
              height: 56px;
            }

            &.active {
              border-color: black;
            }
          }
        }
      }

      @media(max-width: $screen-lg-min) {
        .words_and_pictures_contents {
          display: block;

          .wordy_bits .pictures {
            display: block;
          }
        }
      }
    }

    .channel_logo {
      margin-bottom: 25px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0.8em;
    }

    .readmore-js-toggle {
      text-align: right
    }
  }
}