<div class="teacher row">
  <div class="col-xs-12 col-sm-4">

    <%= channel_teacher.name %>
    
  </div>
  <div class="col-xs-6 col-sm-4">
    
  </div>
  <div class="col-xs-6 col-sm-4">
    
  </div>
</div>