
<div class="col-xs-12">
  <div class="_booking clearfix">
    <a href="<%= booking.course.path %>">
      <%= image_tag(booking.course.course_upload_image, class: 'avatar avatar64 img') %>
      <%= booking.course.name %>
    </a>
  </div>
</div>
