<div class="chalkler row">
  <div class="col-xs-12 col-sm-8">
    <img class="avatar" src="<%= chalkler.avatar %>">
    <div class="pull-left"> 
      <div class="name">
        <%= link_to chalkler.name, chalkler_path(chalkler.id) %>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4">
    
  </div>
</div>