<div class="_chalkler col-xs-12 col-sm-6 col-lg-4">
  
  <div class="avatar32">
    <div class="img" style="background-image: url(<%= chalkler.avatar %>)">
      <%= chalkler.initials unless chalkler.avatar %>
    </div>
  </div> 

  <div class="chalkler_name">
    <%= link_to chalkler.name, chalkler_path(chalkler.id) %>
  </div>

</div>