<div class="_teacher col-xs-12 col-sm-6 col-md-4 col-lg-3">
  
  <div class="avatar32 pull-left">
    <img class="img" src="<%= chalkler.avatar %>">
  </div> 

  <div class="name">
    <%= link_to chalkler.name, chalkler_path(chalkler.id) %>
  </div>

  <div class="light">
 
  </div>
</div>