.row
  .span6.offset3
    %p
      Almost there!
      %br/
      %br/
      Please enter your email to complete the account activation process. 
%br/
= simple_form_for(@chalkler, url: chalklers_enter_email_url, html: { method: :put, class: 'form-inline' }) do |f|
  .row
    .span6.offset3
      =f.error_notification
      =f.input :email
      =f.submit "Submit email"
