<div class="fancy-header">
  <h3>Upcoming</h3>
  <hr />
</div>


<%= render partial: 'me/courses/course' ,collection: @chalkler.courses.in_future.uniq %>


<div class="fancy-header">
  <h3>Previous</h3>
  <hr />
</div>

<%= render partial: 'me/courses/course' ,collection: @chalkler.courses.in_past.uniq %>