@mixin text-shadow($x1, $y1, $blur1, $colour1, $x2: false, $y2: false, $blur2: false, $colour2: false) { 
  $shad: $x1 $y1 $blur1 $colour1;
  @if $x2 {
    $shad: $shad, $x2 $y2 $blur2 $colour2;
  }
  -webkit-text-shadow: $shad;
  -text-shadow: $shad;
  text-shadow: $shad;
  -moz-text-shadow: $shad;
  -o-text-shadow: $shad;
  -ms-text-shadow: $shad;
  -khtml-text-shadow: $shad;
}

@mixin placeholder($color) {
  input::-webkit-input-placeholder {
    color: $color;
  }
  input::-moz-placeholder {
     color: $color;
     opacity: 1;
  }
  input:-moz-placeholder {   /* Older versions of Firefox */
     color: $color;
      opacity: 1;
  }
  input:-ms-input-placeholder { 
     color: $color;
      opacity: 1;
  }
}