//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grayLight:             #777 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;

// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;

$chalklePink: #BF2F52;
$chalkleGreen: #428575;
$chalkleGray: #6d6e70;
$chalkleBlue: #1F64BF;

// Scaffolding
// -------------------------
$body-background:        $white !default;
$text-color:             $grayDark !default;


// Links
// -------------------------
$link-color:             $chalklePink !default;
$link-color-hover:        darken($link-color, 15%) !default;


// Typography
// -------------------------
$sans-font-family:        ProximaNova-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serif-font-family:       Georgia, "Times New Roman", Times, serif !default;
$mono-font-family:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$font-size-base:          16px !default;
$font-family-base:        $sans-font-family !default;

// Buttons
// -------------------------
$btn-default-bg:                    $chalklePink !default;
$btn-default-border:                $chalklePink;
$btn-default-color:                 white;
$btn-primary-bg:                    $chalklePink !default;
$btn-primary-border:                $chalklePink;
$btn-primary-color:                 white;
$btn-info-bg:                       $chalkleGreen !default;
$btn-success-bg:                    #62c462 !default;
$btn-warning-bg:                    lighten($orange, 15%) !default;
$btn-danger-bg:                     #ee5f5b !default;

// Custom chalkle variables (merge this in above where possible)

$font_family_chalk: ProximaNova-Semi-Bold, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font_family_normal: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$pink: #cd4063;
$blackboard: #2d2c29;

$category1: #DF5B65;
$category2: #8FB53F;
$category3: #DE5C63;
$category4: #F5BA56;
$category5: #17ABAB;
$categories: ("category1" $category1, "category2" $category2, "category3" $category3, "category4" $category4, "category5" $category5);


// for font-awesome
$iconSpritePath: '';
$iconWhiteSpritePath: '';
