@import "_variables";
@import "font-awesome";
@import "twitter/bootstrap";
@import "layout";
@import "typography";
@import "forms";
@import "tabs";
@import "bookings";
@import "modules/chalklers";

.center {
  text-align: center;
}

.row {
  margin-bottom: $baseLineHeight;
}

.no-bottom-margin {
  margin-bottom: 0;
}
