@import "_variables";
@import "twitter/bootstrap";
@import 'font-awesome';
@import "border-radius";
@import "layout";
@import "typography";
@import "bootstrap3-forms";
@import "forms";
@import "tabs";
@import "bookings";
@import "modules/chalklers";
@import "front_end/front_end";

.center {
  text-align: center;
}

.row {
  margin-bottom: $line-height-base;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.ajax-sending {
  opacity: 0.2;
}

.ajax-error {
  color: red;
}