$font_family_chalk: 'MrChalk', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

div.meetup_image {
  margin: 1em 0;
}

div.chalkle_image {
   background-image: url('/assets/lesson-bg.png') ;
   height: 450px;
   width: 450px;
   text-align: center;
   vertical-align: middle;
   display: table;
   h2 {
     transform: rotate(-6deg);
     -moz-transform: rotate(-6deg);
     -webkit-transform: rotate(-6deg);
     -ms-transform: rotate(-6deg);
     -o-transform: rotate(-6deg);
     border: medium none !important;
     color: #AAA;
     display: table-cell;
     font-family: $font_family_chalk;
     font-weight: normal;
     letter-spacing: 2pt;
     line-height: 1;
     vertical-align: middle;
     word-wrap: normal;
   }
}
