html {
  overflow-y: scroll;

  body {
    font-family: $font_family_normal;
    padding-top: 0;

    .center {
      text-align: center;
    }

    .text-right {
      text-align: right;
    }

    .text-left {
      text-align: left;
    }

    .row {
      margin-bottom: $line-height-base;
    }

    &.modal-open {
      margin-right: 0px;
    }

    .dropdown-toggle { cursor: pointer; }

    .modal form {
      margin: 0px;
    }

  }
}
