html {
  overflow-y: scroll;
}

body {
  font-family: $font_family_normal;
  font-size: 16px;
  padding-top: 0;
}

.navbar {
  font-weight: bold;
  font-size: 15px;
  line-height: 1em;
  margin-bottom: 2em;
  .logo {
    padding: 0;
    margin: 0;
  }
  .navbar-texture-gray-dark {
    background: #222222 asset-url("texture-gray-dark.png", image) left top repeat;
    padding: 3px 0;
    border-bottom: solid 1px gray;
  }
  .nav {
    margin-top: 7px;
    float: right;
    li {
      margin-left: 15px;
      &.fl-right {float: right;}
      &.no-right-margin {margin: 0 0 0 15px;}
      a {
        position: relative;
        color: white;
        display: block;
        padding: 7px 10px;
        line-height: 18px;
        text-decoration: none;
        @include border-radius(2px);
        border: dashed 1px #999999;
        &.no-border {
          border: none;
          font-weight: normal;
        }
        text-shadow: 0px 1px 0px black;
        &:hover {
          background: none;
          color: $pink;
        }
      }
    }
  }
}

.hero-unit {
  font-family: $font_family_chalk;
  background: #222222 asset-url("texture-chalkboard.jpg", image) left top repeat;
  color: white;
  padding: 20px 60px;
  border: solid 2px #222;
  h2 {
    font-family: $font_family_chalk;
    font-weight: normal;
  }
}

.lesson-item {
  background: #f9f9f9;
  @include border-radius(4px);
  border: solid 1px darken(#f9f9f9, 8%);
  margin: 0 0 2em 0;
  .header {
    border-bottom: solid 1px darken(#f9f9f9, 8%);
    background: darken(#f9f9f9, 4%);
    h3 {
      font-size: 1.2em;
      margin: 0;
      padding-left: 0.5em;
      float: left;
    }
    .lesson-attendance {
      margin: 0.75em;
    }
  }
  .row {
    margin-bottom: 0;
  }
  .summary {
    padding: 0 0.5em;
  }
  .box.details {
    .header {
      @include hide-text();
    }
    font-size: $fontSizeSmall;
    border: 1px solid $grayLighter;
    @include border-radius(4px);
    margin: 0.5em;
    padding: 0 0.5em;
    background-color: $white;
    .start-time {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
  .actions {
    padding: 0.5em;
    border-top: solid 1px darken(#f9f9f9, 8%);
    background: darken(#f9f9f9, 4%);
    @include clearfix;
    .btn {
      float: right;
      margin-left: 0.5em;
    }
  }
}

.lessons-show {
  .booking-actions {
    .btn {
      /* Causing inheritance issues */
      font-size: 1.25em;
      font-weight: bold;
    }
    .popover {
      font-size: 16px;
      color: $textColor;
      text-shadow: none;
      font-weight: normal;
      a {
        color: $linkColor;
        &:hover {
          color: $linkColorHover;
        }
      }
    }
  }
}

.bookings-new {
  form .checkbox.terms-and-conditions {
    font-size: 0.75em;
    margin-left: 180px;
  }
}

.content-right .box {
  font-size: $fontSizeSmall;
  border: 1px solid darken($grayLighter, 4%);
  @include border-radius(4px);
  margin: 0.5em 0;
  .start-time {
    font-size: 1.3em;
    font-weight: bold;
  }
  .header {
    padding: 0.25em 0.5em;
    background-color: $grayLighter;
    border-bottom: 1px solid darken($grayLighter, 4%);
    h3 {
      font-size: 1em;
      color: $grayLight;
      line-height: 1em;
      margin: 0;
      padding: 0;
    }
  }
  .content {
    padding: 0 0.5em;
    h4 {
      font-size: 1em;
    }
  }
}
