#header{

  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  letter-spacing: 0.1em;

  background-image: image-url('partners/index-hero.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  
  height:600px;

  h1 {
    text-align: center; 
    color: #fff;
    margin-top: 350px;
    text-shadow: 0 2px 4px #000;
    font-weight: 200;
    padding: 0 50px;
  }
}

nav {

  display: fixed;
  top: 0;

  width: 100%;
  height: 50px;
  padding-top: 20px;
  font-size: 20px; 
  
  * {
    padding: 0.25em 0.1em;
    border-radius: 4px;
  }
  
  a { color: white; }

  a:hover { 
    background-color: green; 
    text-shadow: none;
    text-decoration: none;
    color: #fff;
  }

  text-shadow: 0 1px 1px #333; 
  .action {
    background: white;
    color: #333 !important;
    text-shadow: 0 1px 1px #fff; 
  }
}


#header-mask {
  position: relative;
  z-index: 1;
  margin-top: 570px;
  width: 100%;
  padding: 0;
  display: block;
  height: 30px;

  * {
    height: 30px;
    float: left;
  }

  .mask {
    background: white;
    width:48%;
    border: none;
  }
  
  .arrows-mask-left {
    background-image: image-url('partners/left-arrow-mask.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 2%;
  }
  .arrows-mask-right {
        background-size: 100% 100%;
        background-repeat: no-repeat;
    background-image: image-url('partners/right-arrow-mask.png');
    width: 2%;
  }
}

#main {
  z-index: 1;
   width: 100%;
  position: relative;  
  background-color: white;
}

/*
THIS IS FOR ALL THE SECTIONS OUT THERE 
*/



#byline {
  padding: 5em 0;  
  color: #333;
}









