body {
  font-family: $font_family_normal;
  font-size: 16px;
}
h2 {
  font-family: $font_family_normal;
  font-weight: normal;
}

h3 {
  font-family: $font_family_normal;
  font-weight: normal;
}

form {
  h3 { border-bottom: solid 1px $grayLighter;}
}

legend {
  font-size: 1.6em;
}

ul, ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

li {
  margin-bottom: 0.75em;
}
