body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
}
h2 {
  font-family: $font_family_chalk;
  font-weight: normal;
}

h3 {
  font-family: $font_family_chalk;
  font-weight: normal;
  color: $pink;
}

form {
  h3 { border-bottom: solid 1px $grayLighter;}
}

legend {
  font-size: 1.6em;
}
