@font-face {
  font-family: 'MrChalk';
  src: url('/assets/25FE67_0_0.eot');
  src: url('/assets/25FE67_0_0.eot?#iefix') format('embedded-opentype'),
  url('/assets/25FE67_0_0.woff') format('woff'),
  url('/assets/25FE67_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: $font_family_normal;
  margin-bottom: 1em;
}

h3 {
  font-family: $font_family_normal;
  border-bottom: 1px solid $grayLighter
}

form {
  h3 {
    border-bottom: 1px solid $grayLighter;
  }
}

legend {
  font-size: 1.6em;
}

ul, ol {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

ul.unstyled {
  list-style-type: none;
  margin-left: 0;
  li {
    margin-bottom: 2em;
  }
}

li {
  margin-bottom: 0.75em;
}

.btn a {
  color: $white;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
