@mixin text-shadow($x1, $y1, $blur1, $colour1, $x2: false, $y2: false, $blur2: false, $colour2: false){ 
  $shad: $x1 $y1 $blur1 $colour1;
  @if $x2 {
    $shad: $shad, $x2 $y2 $blur2 $colour2;
  }
  -webkit-text-shadow: $shad;
  -text-shadow: $shad;
  text-shadow: $shad;
  -moz-text-shadow: $shad;
  -o-text-shadow: $shad;
  -ms-text-shadow: $shad;
  -khtml-text-shadow: $shad;
}
html {
  position: relative;
  min-height: 100%;
  height: auto;
}
body.v2 {
  margin-bottom: 232px;
  height: auto;

  .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 232px;
    clear: both;
  }

  .navbar-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
      .navbar{
      background: rgba(144,40,184,0.7);
      .navbar-brand img.logo {
        padding-top: 8px;
        height: auto;
        width: 106px;
      }
      .dropdown-menu{ 
        background: rgba(0, 121, 52, 0.5);
        border-radius: 0px;
        border: 0px;
        margin-top:10px;
      }
      .navbar-brand:hover{
        background: transparent;
      }
      .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
        background: none;
        border: 0px;
      }
    }
  }

  .header{
    padding-top: 80px;
    min-height:200px;
    background-size: cover !important;
    width: 100%
  }

  .search-form {
    input, .input-group-addon {
      border: 0px;
      background: #F1F1F1;
      border: 0px;
      box-shadow: none;
    }
    .form-control:focus, input:focus{
      @include box-shadow( none );
      border: 0px;
    }
    .fa{
      color: #BDBDBD;
    }
  }
  .container{
    .course{
      font-family: ProximaNova-Regular;
      letter-spacing: 1.5px;
      .title{
        @include text-shadow(1px, 1px, 0px, #FFF, 2px, 2px, 0px, rgba(0,0,0,0.17));
        font-family: ProximaNova-Semibold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 0 0 5px;
        border: 0;
        font-weight:normal;
      }
      .cost{
        float: right;
        line-height: 15px;
        color: #fff;
        padding: 3px 5px;
        margin: 4px;
        @include border-radius(2px);
        background: #C7C7C7;
      }
      .category{
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        margin-bottom:5px;
        font-weight:normal;
      }
      .porthole{
        background: rgba(0, 0, 0, 0.05);
        border: solid 1px rgba(0, 0, 0, 0.05);
        margin-top: 20px;
        float: right;
        width: 70%;
        max-width: 145px;
        @include border-radius(300px);
        overflow: hidden;
        img{
          padding: 10px;
          width: 100%;
        }
      }
      .description{
        color: #727272;
        font-family: ProximaNova-Regular;
        font-size: 14px;
        line-height: 20px;
      }
      .reviews{
        .fa-heart{
          color: #D1616F;
        }
      }
    }
  }
}