- @month_courses.each do |month, courses|
  - if params[:format] == 'js'
    = render partial: 'month_calendar_view', locals: {month: month, courses: courses}
  - else
    .search_panel
      .container
        #months
          = render partial: 'month_calendar_view', locals: {month: month, courses: courses}


:coffeescript
  $("table.month_calendar_view").each ->
    $(this).monthlyCalendar()