-header_style = 'color: #222'
-paragraph_style = 'color: #222'
-link_style = 'color: #cd4063; text-decoration:none;'

%p{ style: paragraph_style }
  -if @resource.name?
    ="Hello #{@resource.name.split[0]}!"
  -else
    !="Hello #{mail_to @resource.email, nil, { style: link_style }}!"

%p{ style: paragraph_style }
  Someone has requested a link to change your password on
  !="#{link_to('my.chalkle.com', 'http://my.chalkle.com', { style: link_style })}."
  You can do this through the link below.

%p{ style: paragraph_style }
  =link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token), { style: link_style }

%p{ style: paragraph_style }
  If you didn't request this, please ignore this email.

%p{ style: paragraph_style }
  Your password won't change until you access the link above and create a new one.

%p{ style: paragraph_style }
  Thanks!
  %br/
  The chalkle° team
