<div class="course_notice">
  <%= course_notice.chalkler.name %>
  <p class="small grey light">
    <% if course_notice.edited? %>
      Edited
    <% end %>
    <%= quick_date day_ course.updated_at %>
  </p>
  <p>
    <%= to_html(course_notice.body) %>
  </p>
</div>