<% @courses_weeks.keys.each do |week| %>
  <div class="fancy-header">
    <h3>Classes <%= relative_week_name(week) %></h3>
    <hr />
  </div>
  <% @courses_weeks[week].each_day do |day, courses| %>
    <% show_next = day == week.last %>
    <%= render courses %>
  <% end %>
<% end %>
