<div>
  Teach with us
  <%= link_to "Run your business with Chalkle", teach_path, class: "btn btn-primary" %>
</div>
<br />
<div>
  Learn with us
  <%= link_to "Discover what you can learn", discover_path, class: "btn btn-primary" %>
</div>
<br />
<div>
  Checkout this great provider
  /*A really cool provider with testimonial and photo etc.*/
</div>