<section>

 <div class="row">
   <div class="col-xs-12 shaded_bg dark text-center">
     <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
       Resources go here
     </div>
   </div>
 </div>
</section>
