//Copy what you need
//Use br not p
%h2{style: "border-bottom: solid 1px #ececec; padding-bottom: 5px;"}
%h3{style: "border-bottom: solid 1px #ececec; padding-bottom: 5px;"}
%h4{style: "border-bottom: solid 1px #ececec; padding-bottom: 5px;"}

%span{style: "font-size: 18px;"}
  Hello #{@chalkler.name.split[0]},
%br/
%br/

%a{:href => "#{root_url}", :style => "color: #cd4063; text-decoration: none;", :target => "_blank", :title => "Visit site"} Visit site

Thank you for supporting Chalkle and we look forward to seeing you soon! <br/>
Chalkle 
