.row
  .span12
    %h2 Textures

    %p .texture-gray-light | $texture-gray-light
    .texture-block.texture-gray-light
    %p .texture-gray-med | $texture-gray-med
    .texture-block.texture-gray-med
    %p .texture-gray-dark | $texture-gray-dark
    .texture-block.texture-gray-dark
    %p .texture-chalkboard | $texture-chalkboard
    .texture-block.texture-chalkboard

.colors.row
  .span12
    %h2 Colors
    %ul.nav.nav-tabs
      =tab_nav_item "Option 1", "#color_option1", class: "active"
      =tab_nav_item "Option 2", "#color_option2"
    .tab-content
      #color_option1.tab-pane.fade.in.active
        .row
          .span2
            %p
              %small.color-pink 
                \.color-pink 
                %br/
                $pink
            .color-block.background-color-pink
              %p 
                %strong #fffff
          .span2
            %p
              %small.color-green 
                \.color-green 
                %br/
                $green
            .color-block.background-color-green
              %p 
                %strong #fffff
          .span2
            %p
              %small.color-gray-light 
                \.color-gray-light 
                %br/
                $gray-light
            .color-block.background-color-gray-light
              %p
                %small
                  Usage: hints, light text
          .span2
            %p
              %small.color-gray-dark 
                \.color-gray-dark
                %br/
                $gray-dark
            .color-block.background-color-gray-dark
              %p
                %small
                  Usage: body text.
          .span12
            %p.color-grey-dark
              Lorem ipsum dolor sit amet, consectetur 
              =link_to "link in text", "#", class: "color-green"
              adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
              =link_to "link in text", "#", class: "color-pink"
              cupidatat non proident, 
              %span.color-gray-light sunt in culpa qui officia deserunt mollit 
              anim id est laborum.


      #color_option2.tab-pane.fade
        .row
          .span2
            %p
              %small.color-pink 
                \.color-pink 
                %br/
                $pink
            .color-block.background-color-pink
              %p 
                %strong #fffff
          .span2
            %p
              %small.color-blue 
                \.color-blue 
                %br/
                $blue
            .color-block.background-color-blue
              %p 
                %strong #fffff
          .span2
            %p
              %small.color-green 
                \.color-green 
                %br/
                $green
            .color-block.background-color-green
              %p 
                %strong #fffff
          .span2
            %p
              %small.color-gray-light 
                \.color-gray-light 
                %br/
                $gray-light
            .color-block.background-color-gray-light
              %p
                %small
                  Usage: hints, light text
          .span2
            %p
              %small.color-gray-dark 
                \.color-gray-dark
                %br/
                $gray-dark
            .color-block.background-color-gray-dark
              %p
                %small
                  Usage: body text.
          .span12
            %p.color-grey-dark
              Lorem ipsum dolor sit amet, consectetur 
              =link_to "link in text", "#", class: "color-green"
              adipisicing elit, sed do eiusmod tempor 
              =link_to "link in text", "#", class: "color-blue"
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
              =link_to "link in text", "#", class: "color-pink"
              cupidatat non proident, 
              %span.color-gray-light sunt in culpa qui officia deserunt mollit 
              anim id est laborum.
.typography.row
  .span12
    %h2 Typography

    %blockquote 
      %p Retain styles from bootstrap for standard elements, but headings are different.
      %small 
        Someone famous 
        %cite{ title: "Source Title" } Source Title

    %h3 Headings

    %ul.nav.nav-tabs
      =tab_nav_item "Option 1", "#heading_option1", class: "active"
      =tab_nav_item "Option 2", "#heading_option2"
    .tab-content
      #heading_option1.tab-pane.fade.in.active
        .row
          .span3
            %p a)
            %h1.color-gray-dark Heading 1
            %h2.color-gray-dark Heading 2
            %h3.color-gray-dark Heading 3
            %h4.color-gray-dark Heading 4
          .span3
            %p b)
            %h1.color-gray-dark.font-bold Heading 1
            %h2.color-gray-dark.font-bold Heading 2
            %h3.color-gray-dark.font-bold Heading 3
            %h4.color-gray-dark.font-bold Heading 4
          .span3
            %p c)
            %h1 Heading 1
            %h2 Heading 2
            %h3.color-gray-light.font-bold Heading 3
            %h4.color-gray-light.font-bold Heading 4
          .span3
            %p d)
            %h1.color-pink Heading 1
            %h2.color-green Heading 2
            %h3.color-blue.font-bold Heading 3
            %h4.color-green.font-bold Heading 4
      #heading_option2.tab-pane.fade
        .row
          .span12
            %p a)
            %h2.color-gray-dark.dashed-underline Heading 2
            %p.color-grey-dark
              Lorem ipsum dolor sit amet, consectetur 
              =link_to "link in text", "#", class: "color-green"
              adipisicing elit, sed do eiusmod tempor 
              =link_to "link in text", "#", class: "color-blue"
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              %h3.dashed-underline Heading 3
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
              =link_to "link in text", "#", class: "color-pink"
              cupidatat non proident, 
              %span.color-gray-light sunt in culpa qui officia deserunt mollit 
              anim id est laborum.
          .span12
            %p a)
            %h2.color-white.background-color-pink.heading-on-bg Heading 2
            %p.color-grey-dark
              Lorem ipsum dolor sit amet, consectetur 
              =link_to "link in text", "#", class: "color-green"
              adipisicing elit, sed do eiusmod tempor 
              =link_to "link in text", "#", class: "color-blue"
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            %h3.color-white.background-color-green.heading-on-bg Heading 3
            %p
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
              =link_to "link in text", "#", class: "color-pink"
              cupidatat non proident, 
              %span.color-gray-light sunt in culpa qui officia deserunt mollit 
              anim id est laborum.
            %p b)
            %h2.color-white.background-color-pink.heading-on-bg-inline Heading 2
            %p.color-grey-dark
              Lorem ipsum dolor sit amet, consectetur 
              =link_to "link in text", "#", class: "color-green"
              adipisicing elit, sed do eiusmod tempor 
              =link_to "link in text", "#", class: "color-blue"
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            %h3.color-white.background-color-blue.heading-on-bg-inline Heading 3
            %p
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
              =link_to "link in text", "#", class: "color-pink"
              cupidatat non proident, 
              %span.color-gray-light sunt in culpa qui officia deserunt mollit 
              anim id est laborum.
            %p c)
            %h2 Heading 2
            %p.color-grey-dark
              Lorem ipsum dolor sit amet, consectetur 
              =link_to "link in text", "#", class: "color-green"
              adipisicing elit, sed do eiusmod tempor 
              =link_to "link in text", "#", class: "color-blue"
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            %h3 Heading 3
            %p
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
              =link_to "link in text", "#", class: "color-pink"
              cupidatat non proident, 
              %span.color-gray-light sunt in culpa qui officia deserunt mollit 
              anim id est laborum.

.forms_examples.row
  .span12
    %h2 Forms
    %ul.nav.nav-tabs
      =tab_nav_item "Option 1", "#form_option1", class: "active"
      =tab_nav_item "Option 2", "#form_option2"
    .tab-content
      #form_option1.tab-pane.fade.in.active
        %h2 Form Title
        %form.form-vertical.texture-gray-light
          .form-inputs
            .control-group.email.optional
              %label.control-label{for: "email"} Email
              .controls
                %input#email.string.email.optional{ :type => "email", :size => 50}/
            .control-group.select.optional
              %label.control-label{for: "select"} Select
              .controls
                %select#select
                  %option{:value => "daily"} Daily
                  %option{:value => "weekly"} Weekly
            .control-group.check_boxes.optional
              %label.control-label{for: "select"} Checks
              .controls
                %label.checkbox
                  %input.check_boxes.optional{:name => "chalkler_preferences[email_categories][]", :type => "checkbox", :value => "47"}>/
                  agriculture & environment
                %label.checkbox
                  %input.check_boxes.optional{:name => "chalkler_preferences[email_categories][]", :type => "checkbox", :value => "53"}>/
                  food & drink
                %label.checkbox
                  %input.check_boxes.optional{:name => "chalkler_preferences[email_categories][]", :type => "checkbox", :value => "55"}>/
                  health & wellbeing
            .control-group.text.optional
              %label.text.optional.control-label{:for => "teaching_bio"} Why are you a great teacher for this class?
              .controls
                %textarea#teaching_bio.text.optional.span6{:cols => "40", :name => "teaching[bio]", :placeholder => "Tell us about the relevant experience or background you have. For example: I am a litigator with 13 years of experience in property and commercial law.", :rows => "4"}
            %p
              %strong Note:
              even if you choose not to receive emails about classes from us, you will still receive our transactional emails, such as messages related to classes you have signed up to or information about your account.
          .form-actions.texture-gray-med
            %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Save Email Preferences"}/

      #form_option1.tab-pane.fade.in.active
        %h2 Form Title
        %form.form-vertical.texture-gray-light
          .form-inputs
            .control-group.email.optional
              %label.control-label{for: "email"} Email
              .controls
                %input#email.string.email.optional{ :type => "email", :size => 50}/
            .control-group.select.optional
              %label.control-label{for: "select"} Select
              .controls
                %select#select
                  %option{:value => "daily"} Daily
                  %option{:value => "weekly"} Weekly
            .control-group.check_boxes.optional
              %label.control-label{for: "select"} Checks
              .controls
                %label.checkbox
                  %input.check_boxes.optional{:name => "chalkler_preferences[email_categories][]", :type => "checkbox", :value => "47"}>/
                  agriculture & environment
                %label.checkbox
                  %input.check_boxes.optional{:name => "chalkler_preferences[email_categories][]", :type => "checkbox", :value => "53"}>/
                  food & drink
                %label.checkbox
                  %input.check_boxes.optional{:name => "chalkler_preferences[email_categories][]", :type => "checkbox", :value => "55"}>/
                  health & wellbeing
            .control-group.text.optional
              %label.text.optional.control-label{:for => "teaching_bio"} Why are you a great teacher for this class?
              .controls
                %textarea#teaching_bio.text.optional.span6{:cols => "40", :name => "teaching[bio]", :placeholder => "Tell us about the relevant experience or background you have. For example: I am a litigator with 13 years of experience in property and commercial law.", :rows => "4"}
            %p
              %strong Note:
              even if you choose not to receive emails about classes from us, you will still receive our transactional emails, such as messages related to classes you have signed up to or information about your account.
          .form-actions.texture-gray-med
            %input.btn.btn-primary{:name => "commit", :type => "submit", :value => "Save Email Preferences"}/

