<div class="container">
  <div class="row">
    <div class="col-sm-7 col-md-9">
      <% if @nav_links %>
        <% @nav_links.each do |link| %>
          <p class="navbar-text navbar-left">
            <a href="<%= link[:target] %>" class="navbar-link">
              <%= link[:text] %>
            </a>
          </p>
        <% end %> 
      <% end %>
    </div> 
    <div class="col-sm-5 col-md-3">
      <form class="navbar-form navbar-right search-form" role="search">
        <div class="input-group">
          <span class="input-group-addon">
            <span class="fa fa-search"></span>
          </span>
          <input type="text" class="form-control">
        </div>
      </form>
    </div>
  </div>
</div>