<div class="row">
  <div class="col-xs-12 col-sm-9">
    <h2>
      Chalkle Channels
      <%= render "layouts/grid_or_list"  %>
    </h2>
  </div>

</div>

<div class="row">
  <%= render @channels  %>
</div>