<div class="row dashboard">

  <div class="col-xs-12 col-md-6">
    <% if current_chalkler.channels.any? %>
      <div class="fancy-header">
        <h3>Following</h3>
        <hr />
      </div>
      <div class="col-xs-12">
        <%= render current_chalkler.channels.order('name ASC') %>  
      </div>
    <% end %>
  </div>

  <div class="col-xs-12 col-md-6">

     <% if current_chalkler.channel_teachers.any? %>
      <div class="fancy-header">
        <h3>Your Teacher Profiles</h3>
        <hr />
      </div>
      <div class="col-xs-12">
        <%= render current_chalkler.channel_teachers %>  
      </div>
    <% end %>

 
    <div class="fancy-header clearfix center">
      <h3>
        <div class="inline">
          Your Providers
        </div>
        <div class="inline">
          <%= link_to new_channel_path, class: 'btn btn-primary' do %>
            <span class="fa fa-plus"></span>
             <span class="small" style="position:relative; bottom:2px; color:#fff">new</span>
          <% end %>
        </div>
      </h3>
      <hr />
    </div>
    <div class="row col-xs-12">
      <%= render current_user.channels_adminable %>  
    </div>

  </div>
</div>
