%h1 We don't have your email!
%p
  Hello, dear Chalkler. As it turns out we don't have your email address on file. In order for us to contact you about
  any class updates or classes you might be interested in we need your email address. Please provide us with one below.

= bootstrap_form_for(form_object, url: submit_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, label: "Your Email:", placeholder: "Please, enter your email adress here."

  .form-actions
    = f.button :submit
