<div>
<div class="fancy-header">
  <h3>Header Image</h3>
  <hr />
</div>

<div class="hero image-preview">
  <div class="img hero_preview" style="background-image: url(<%= @region.hero %>);"></div>
</div>



<div>

  <div class="fancy-header">
    <h3>Upcoming in <%= @region.name %></h3>
    <hr />
  </div>

    <%= render partial: 'me/courses/course', collection: @region.courses.upcoming.order('start_at ASC')  %> 

</div>

  