<a href="?view=grid" title="View current page in grid view">
  <span class="fa fa-th"></span>  
</a>
<a href="?view=list" title="View current page in list view">
  <span class="fa fa-list"></span>
</a>