<div class="header" style=" background-image: url( <%= page_hero[:default] if page_hero.present? %> );">
  <div class="header_bg">
    <%= render @header_partial if @header_partial.present? %>
  </div>
</div>
