<% if flash.present? %>
  <div class="site-messages">
    <div class="container">
      <div class="dismiss">
        <span class="fa fa-chevron-down"></span>
      </div>
      <div class="scroll">
        <% flash.each do |name, msg| %>
          <% if msg.is_a?(String) && !msg.blank? %>
            <%= content_tag :div, msg, id: "flash_#{name}", class: (name == :notice ? 'success inline' : 'danger inline') %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
<% end %>