<% if flash.present? %>
  <div class="site-messages">
    <div class="container">
      <div class="flash">
        <% flash.each do |name, msgs| %>
          <% if !msgs.blank? %>
            <% [msgs].flatten.each do |msg| %>
              <%= content_tag :div, msg, id: "flash_#{name}", class: (name == :notice ? 'success inline' : 'danger inline') %><br />
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="dismiss">
        <span class="fa fa-chevron-up"></span>
      </div>
    </div>
  </div>
<% end %>