<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to 'Partners', chalkle_about %>
  </li>
  <li>
    <%= link_to 'Prices', chalkle_about_path(anchor: 'prices') %>
  </li>
  <li>
    <%= link_to 'Team', partners_team_path %>
  </li>
  <li>
    <%= link_to 'Say Hello', partners_say_hello_path, class: 'action' %>
  </li>
</ul>