$primary-color: rgba(76,126,147,0.9);
$primary-color-opaque: rgba(76,126,147,1);
$navbar-height: 62px;
$vertical-padding: 10px;
$line-height: $navbar-height - ($vertical-padding * 2);

.header, .coloring, .navbar-wrapper .navbar {
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-position: center top;
}
body {
  background-size: 100%;
  width: 100%;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-position: center top;

  .navbar-form {
    border: 0px !important;
    box-shadow: none !important;
  }

  .navbar-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 20;
      #primary-navigation {
        #primary-menu {
          position: absolute;
          height: 100%;
          top: 0;
          right: 15px;
        }
        font-weight: 500;
        font-family: "proxima-nova", sans-serif;
        padding-right: 100px;
      }
      .navbar-fixed-top{
        border-width: 0px;
      }
      .navbar {
        .profile-img {
          a{
            span {
              width: 24px;
              height: 24px;
            }
            img{
              height: 100%;
              width: 100%;
            }
          }
        }
        font-size: 20px;
        .nav {
          @media screen and (min-width: 769px){
            min-height: $line-height;
          }
          margin: 0px;
          li {
            height: 100%;
            margin-bottom: 0;
            display: block;
            &.notifications-drop{
              .nav_img{
                @media screen and (min-width: 769px){
                  margin: 19px 0;
                }
                @media screen and (max-width: 769px){
                  margin: 14px 0;
                }
              }
            }
            div.nav_img {
              padding: 6px;
            }
            .nav_img{
              max-height: 32px;
              @media screen and (min-width: 769px){
                margin: 15px 0;
              }
              @media screen and (max-width: 769px){
                margin: 10px 0;
              }
            }
            a {
              color: #fafafa;
              padding: 0 15px;
              height: 100%;
              width: 100%;
              color: rgba(255,255,255,0.8);
              text-decoration: none;
              &:hover, &.current {
                color: #fff;
                background-color: $primary-color-opaque;
                text-shadow: none;
                text-decoration: none;
              }
            }
            .dropdown-menu a {
              text-align: left;
              @media screen and (min-width: 769px) {    
                color: #fff;
              }
              @media screen and (max-width: 768px) {    
                color: #727272;
                padding: 20px;
                font-weight: 400;
              }
              border: none;
              text-shadow: none;
              &:hover { 
                text-decoration: none;
              }
            }
            .dropdown-link {
              margin: 0;
              text-align: center;
            }
          }
        }

        .navbar-toggle {
          padding: 0;
          margin-top: 0;
          margin-bottom: 0;

          .fa-bars {
            color: white;
            font-size: $line-height * 0.8;
            line-height: $line-height !important;
            height: $line-height;
          }
        }
        .environment{
          float: left;
          font-size: 12px;
          margin-left: 10px; 
          padding: 10px;
        }
        .coloring {
          transition: padding 0.5s ease;
          //background-color: $primary-color;
          position: relative;
          overflow: 0;
          border-bottom: 0;
          .navbar-brand {
            padding: 0;
            margin: 5px 10px 0 0;
            width: 110px;
            img.logo {
              padding-top: 8px;
              margin: 0px;
              width: 100%;
            }
            &:hover{
              background: transparent;
            }
          }
          >.container{
            position: relative;
            @media screen and (max-width: 768px){
              padding: 0 5px;
              a:hover{
                background-color: transparent;
              }
              li{
                color: #333;
              }
            }
            @media screen and (min-width: 769px){
              padding: 5px 0;
            }
            .navbar-header {
              z-index: 1;
              position: relative;
              @media screen and (max-width: 768px) {
                margin: auto 0;
              }
            }
            
            .notifications-drop{
              .dropdown-toggle{
                img{
                  height: 24px;
                  width: 20px;
                }
              }
            }
            
            .notifications-drop, .favourites-drop{
              .dropdown-menu {
                .personal-links{
                  a {
                    font-weight: 500;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    color: #fff;
                    display: block;
                    width: 100%;
                    &:hover {
                      background-color: rgba(0,0,0,0.12); 
                    }
                  }
                }
                ul {
                  z-index: 100;
                  max-width: 100%;
                  @media (min-width: 768px){
                    min-width: 460px;
                  }
                  transition: height 0.2s linear;
                  max-height: 400px;
                  overflow-y: scroll;
                  padding: 0;
                  li._notification {
                    font-size: 1.2em;
                    height: auto !important;
                    min-height: 85px !important;
                    position: relative;
                    a {
                      padding: 5px !important;
                      font-weight: 500;
                      font-size: 0.75em;
                      line-height: 1.3em !important;
                      overflow: hidden;
                      .small{
                        font-size: 0.7em; 
                        margin: 5px 0 0 0;
                        font-weight: 700;
                        color: rgba(255,255,255,0.8);
                        @media screen and (max-width: 768px){ color: #000 ; }    
                        margin: 0px;
                        position: absolute;
                        right: 10px;
                        top: 7px;
                      }
                      p {
                        margin-right: 10px;
                        margin-bottom: 0;
                      }
                      .markdown {
                        p {
                          @media screen and (min-width: 769px){ text-align: right; }
                        }
                      }
                      .avatar64{
                        background: rgba(255,255,255,0.80);
                        margin: 10px;
                      }
                    }
                  }
                  li._notification:hover{
                    background-color: rgba(0,0,0,0.12); 
                  }
                  li._notification.unactioned{
                    background-color: rgba(255,255,255,0.10);
                  }
                  li._notification.unactioned:hover{
                    background-color: rgba(0,0,0,0.25);
                  }
                }
              }
              ._notification{
                height: 60px;
              }
            }
            
            .dropdown-menu { 
              background: $primary-color-opaque;
              border-radius:  0 0 3px 3px;
              border: 0px;
              li {
                z-index: 1001;
                margin-left: 0 !important;
                a {
                  @media screen and (min-width: 769px) {    
                    color: #fff;
                    padding: 10px 20px;
                  }
                   @media screen and (max-width: 768px) {    
                    line-height: 2.2em;
                    padding: 12px 50px;
                  }
                }
                margin-left: 0;
                a:hover{
                  background: transparent;
                }
              }
              li:hover {
                background-color: rgba(0, 0, 0, 0.15);
              }
              @media screen and (max-width: 768px) {
                top: 52px !important;
                padding: 5px 10px;
              }
            }
            .dropdown.open{
              background: $primary-color-opaque;
              @media screen and (max-width: 768px) {
                margin-left: 0 !important;
                >a{
                  color: #333;
                }
              }
            }
            .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
              background: none;
              border: 0px;
            }
            .search-wrapper{
              #search_btn {
                @media screen and (min-width: 769px) {
                  border-left: 1px solid #fff;
                }            
                border-radius: 0px;
              }
              .search-form{
                padding-left: 0px;
              }
            }
            .input-group-addon, .form-control{
              background: transparent;
              color: #fff;
              border: 0px;
              opacity: 0.8;
            }
            .input-group-addon:focus, .input-group-addon:active, .input-group-addon:hover{
              opacity: 1;
            }
            .input-group-addon{
              cursor: pointer;
              img {
                width: 24px;
                height: 24px;
              }
            }
            .form-control{
              box-shadow: none;
              opacity: 0.8;
            }
            .form-control:focus, .form-control:active{
              border: 0px;
              box-shadow: none;
              opacity: 1;
            }

            input::-webkit-input-placeholder {
              color: #fff;
              font-style: italic;
            }
            input::-moz-placeholder {
              color: #fff;
              opacity: 1;
              font-style: italic;
            }
            input:-moz-placeholder {   /* Older versions of Firefox */
              color: #fff;
              opacity: 1;
              font-style: italic;
            }
            input:-ms-input-placeholder { 
              color: #fff;
              opacity: 1;
              font-style: italic;
            }
          }
        }
      }
  }

  .location_form{
    @media screen and (max-width: 768px){
      margin: 0;
      padding:0;
    }
    .location-form{
      margin: 5px 0;
      #location-form{
        width: 100%;
      }
      img{
        width: 24px;
        height: 24px;
      }
      #globe_holder{
        min-width: 48px;
        min-height: 36px;
      }

      .input-group-addon, .form-control{
        background: transparent;
        color: #fff;
        text-shadow: 1px 1px rgba(0,0,0,0.4);
        border: 0px;
        opacity: 0.8;
      }
      .input-group-addon:focus, .input-group-addon:active, .input-group-addon:hover{
        opacity: 1;
      }
      .input-group-addon{
        cursor: pointer;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .form-control{
        box-shadow: none;
        opacity: 0.8;
      }
      .form-control:focus, .form-control:active{
        border: 0px;
        box-shadow: none;
        opacity: 1;
      }
      input {
        height: 40px;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
      }
      input::-webkit-input-placeholder {
        color: #fff;
        font-style: italic;
      }
      input::-moz-placeholder {
        color: #fff;
        opacity: 1;
        font-style: italic;
      }
      input:-moz-placeholder {   /* Older versions of Firefox */
        color: #fff;
        opacity: 1;
        font-style: italic;
      }
      input:-ms-input-placeholder { 
        color: #fff;
        opacity: 1;
        font-style: italic;
      }
    }
  }

}
